[2014-06-06 15:14] Bartvds opened #1 "Doesn't output sourcemap(s)"
I don't get any source-maps from when I use tsify.

If I look in the bundle I see the TypeScript compiler injects the `//# sourceMappingURL` comments in each segment, but I don't see the browserify sourcemap.

I have `sourcemap: true` in the tsify options, and `debug: true` in browserify. I tried it with and without `exorcist`.

Do I miss something? Is it supposed to work at all?

[2014-06-06 20:52] #1 closed, assigned to nobody

[2014-07-09 11:50] Hotell opened #2 "ts sourcemaps point to js instead of original ts files"
Hi,
Bundling with preserving .ts source in the sourcemaps works only if there are no .js files generated from the .ts files.

example:
![_1](https://cloud.githubusercontent.com/assets/1223799/3523709/f7faad10-075d-11e4-8396-e55ee162104f.PNG)

now if i run
`$ browserify app/app.ts -p [ tsify --target ES5 --module commonjs ] -d > app/bundle.js`

I got the correct output in browser:
![_2](https://clo

[2014-07-09 19:40] #2 closed, assigned to nobody

[2014-07-10 11:06] Hotell opened #3 "sourcemaps doesn't preserve original source .ts file structure"
The structure is flattened to root.

source:
![image](https://cloud.githubusercontent.com/assets/1223799/3537542/0d6e3b52-0822-11e4-8737-67535f707f0f.png)

after bundling in browser:
![image](https://cloud.githubusercontent.com/assets/1223799/3537555/246773be-0822-11e4-9621-39292a7c93cd.png)

thanks

[2014-07-11 05:38] #3 closed, assigned to nobody

[2014-07-11 09:05] kirill-konshin opened #4 "In source maps paths to files are omitted"
In `sources` property of source map file I see:

[code]

but it should be

[code]

[2014-07-11 20:15] #4 closed, assigned to nobody

[2014-07-27 18:41] jonathantyates opened #5 "No longer works with most recent version of browserify"
After updating to browserify 5.9.1, _entries is no longer defined.

[2014-07-28 04:46] #5 closed, assigned to nobody

[2014-08-31 12:23] nikku opened #8 "Create tags for releases"
It would be awesome to have tags for released versions of the plug-in.

This way people can track what has been done in between releases on GitHub (via the tags list).

[2014-09-03 01:18] #8 closed, assigned to nobody

[2014-09-08 20:56] smrq opened #9 "bundle.reset() before add() causes pathological performance edge case"
The following usage triggers a nasty edge case:

[code]

For some reason, if `reset()` is called before adding files, each file is individually run through the pipeline's transform step before `bundle()` is called.  This triggers an edge case where each file is individually compiled without using the compilation cache, yielding extreme performance penalties with multiple entry points.

This patter

[2014-09-09 18:45] #9 closed, assigned to smrq

[2014-09-29 10:01] no2chem opened #10 "Layered reference paths not being followed"
It seems that typescript reference paths are only followed one layer deep.

For example, if I have

app.ts:

[code]

../typings/tsd.d.ts:

[code]

compilation will fail with:
TS2071: Unable to resolve external module '"jquery"'.

I believe that this is because the second reference isn't being followed (maybe this is a bug with ts-compiler? I haven't tried that package directly to find out, but tsc

[2014-09-29 22:55] #10 closed, assigned to nobody

[2014-09-30 22:29] rob-bateman opened #11 "ES5 not supported?"
When trying to run browserify with tsify on my own typescript codebase, i get the following error:

[code]

after trying to get to the bottom of what this means, i happened across the esprima-fb module, which seems to be used by browserify to walk the source tree for dependencies.

Because Typescript is using ES5 spec, my imports are written (in the case of the erroring file above) as follows:

[c

[2014-10-06 20:04] smrq opened #13 "Fix the build"
Sourcemaps are blowing up because of a relative path thing with Browserify's prelude.  The tests shouldn't rely on that path being exact.

[2014-10-06 20:13] bendrucker opened #14 "Update for Browserify 6"
Relative paths in source maps break the current tests, see substack/node-browserify#923

[2014-10-06 20:20] #14 closed, assigned to nobody

[2014-10-06 20:21] #13 closed, assigned to smrq

[2014-10-11 22:46] joewood opened #15 "Support for output of declaration file?"
I'm trying to use **tsify** to generate a declaration file. Given the documentation at **ts-compiler**, I would expect this to work in the gruntfile:

[code]

Compilation works fine, but the declaration file is never produced.

[2014-10-16 02:59] joewood opened #16 "**tsify** and **grunt-watchify** incompatible?"
I cannot seem to get **tsify** working with **grunt-watchify**. My gruntfile looks like this, but the callback doesn't seem to run. Switching`preBundleCB` to `callback` fixes that, but the parameter doesn't support the `plugin` function. Realize that this may be a **grunt-watchify** issue...

[code]

[2014-10-16 17:20] #16 closed, assigned to nobody

[2014-10-29 20:25] martinffx opened #17 "Struggling to get it working with `gulp-browserify`"
I'm struggling to get this working `gulp-browserify`, here is my `gulpfile.js`:

[code]

I get the following error:

[code]

What am I missing? I've passed through the `extentions` to `gulp-browserify` but they seem to have gone missing by the time they reach `tsify`?

I also notice you don't give a `gulp-browserify` example, why is that? I assume you don't use it personally, any particular reason

[2014-10-29 20:36] #17 closed, assigned to nobody

[2014-10-31 19:52] smrq opened #18 "TypeScript 1.1"
The new compiler should be much faster.  `typescript-api` doesn't have 1.1 support, so that will have to be replaced.  See e.g. ivogabe/gulp-typescript#26.

[2014-11-10 21:46] #18 closed, assigned to smrq

[2014-11-19 05:58] henrify opened #19 "Sourcemaps not working in Visual Studio / IE"
It seems that the inlined sourcemaps you generate cannot be read by Visual Studio / IE, and consequently breakpoints are not hit etc.

The error in console is: "SourceMap data:application/json;base64 ... read failed: The URI prefix is not recognized". Visual Studio 2013 Ultimate update 4 with TypeScript 1.3, IE 11.

Or am i missing something? It seems weird that tsify would not work with the offic

[2014-11-19 06:06] henrify opened #20 "Provide documentation about different 'watch' style incremental bundling alternatives"
So, how does tsify play together with watchify, gulp etc. Would be great to have basic info on the homepage what alternatives work and what are incompatible, with small use examples, otherwise majority of your users go through the exercise and waste of time to find out by themselves..

[2014-11-19 06:44] #19 closed, assigned to nobody

[2014-11-19 07:02] #20 closed, assigned to nobody

[2014-11-19 07:16] #11 closed, assigned to nobody

[2014-11-30 01:23] pocesar opened #21 "Undescriptive error (and no stack trace)"
When using it with grunt-browserify, it outputs something like this:

[code]

it makes impossible to know where the error is at. When using `grunt-ts`, it shows the stack:

[code]

Even if I use --debug or --stack it doesn't show the stack trace. Using `grunt-browserify` without the tsify plugin, when an error occurs, shows like this:

[code]

[2014-12-02 04:23] #21 closed, assigned to nobody

[2014-12-15 15:46] JakeGinnivan opened #22 "Variable conflict with module"
This is a silly example, but I hit it during a more complex scenario.

[code]

This will compile fine, but will not actually import the `greeter` module. Not sure if this is an issue with tsify or browserify itself. But thought I would create an issue to discuss at any rate, was quite confusing to figure out

[2014-12-15 17:01] JakeGinnivan opened #23 "Allow reference sources"
Not sure if this is possible, but would be awesome if I could say

[code]

Then I won't need to use `///<reference path....` because typescript will know about everything and should be able to just include it. Basically what I am trying to get working is the module export, then all classes which are internal to the module simply referenced but in different files.

[2014-12-15 17:31] #22 closed, assigned to nobody

[2014-12-15 19:18] #23 closed, assigned to nobody

[2014-12-18 17:10] itsoli opened #24 "Syntax errors crash watchify"
Following gulp task crashes on errors raised by the tsc.

[code]

I've tested the task w/o the tsify plugin/plain js and it works as expected.

[2014-12-19 22:44] #24 closed, assigned to nobody

[2015-01-19 12:54] joewood opened #26 "Upgrade to TypeScript 1.4"
Just wondering if this was on your radar or would you prefer a PR.

[2015-01-19 16:51] smrq commented on #26
Yep! Been waiting for this for some time, I'm planning on getting it out
the door today.
On Jan 19, 2015 6:54 AM, "Joe Wood" <notifications@github.com> wrote:

[2015-01-19 18:45] lcorneliussen commented on #26
wonderful! :-)

[2015-01-19 18:47] smrq commented on #26
Released as 0.8.0.

[2015-01-19 18:47] #26 closed

[2015-01-26 13:49] davidreher opened #28 "Cannot find module 'convert-source-map'"
Hey there,

I wanted to use tsify in my project. I installed it via npm and added it to my grunt-browserify config.

My first approach for adding it to my browserify config file was

    plugin: ['tsify']

and my second was

    preBundleCB: function (bundle) {
      bundle.plugin('tsify', { target: 'ES5' });
    }

both times the browserify task fails with the following message:

    Cannot find

[2015-01-26 18:58] smrq commented on #28
Are you behind some sort of corporate proxy, or using a private npm registry, or... something?  I can't imagine why you wouldn't be able to resolve `convert-source-map`.  Is it there in `/node_modules/tsify/node_modules/convert-source-map`?

To work with Browserify you would need to use external modules, as in the second link.  I think that is worth adding to the readme.

[2015-01-27 07:06] davidreher commented on #28
Hm strange, I did not have the node_modules folder at all ... I removed the tsify folder and ran `npm install` again ... now everything runs fine but tsify isn't compiling the ts files ...
I get
[code]

but it doesn't seem to work ... the bundle does not contain the compiled files and I don't get errors when using incorrect syntax

[2015-01-27 22:09] smrq commented on #28
I dunno, it's hard to tell based on just that, but it sounds like you have configuration issues, whether in your Gruntfile, your package.json, something about your folder structure perhaps... any or all of the above.  Not sure what to tell you other than take a close look at all the relevant docs.  I suspect someone intimately familiar with `grunt-browserify` might be able to help more.  Regardles

[2015-01-27 22:09] #28 closed

[2015-02-07 15:57] ddennis opened #29 "Cannot find name 'module'."
Hi

Sorry if i have complete misunderstood this plugin, i am expectng to use it with my browserify project.
enabling me to use current browserify syntax, and type annotations.

I'am on Windows, using gulp:

    gulp.task('browserify', function() {
        var bundler = browserify({
            entries: ['./client/src/main'],
            extensions: ['.ts'],
            debug: true
     }).plugin('

[2015-02-07 16:28] smrq commented on #29
The TypeScript module syntax is slightly different, although you otherwise have the right idea.

The correct syntax is:

[code]

[code]

I recommend reading the TypeScript docs carefully.

[2015-02-07 16:28] #29 closed

[2015-02-07 16:50] ddennis commented on #29
Thank you for the quick response. I was hoping i didn't have to change the whole project.

Based on your response i conclude that there is no way of keeping the original browserify syntax, i have to implement specific typescript syntax and change all files to .ts

Thanks
/Dennis

[2015-02-07 22:09] smrq commented on #29
No, you can use any node modules... other than the syntax change for any files that you write using TypeScript, everything is as normal for Browserify.

[2015-02-10 15:33] yilativ opened #30 "Can this be used in the package.json "transform"?"
Hi,
Can this be plugged into package.json transform node?
   "browserify": {
        "transform": [
            "hbsfy",
            "tsify"
        ]
    }

I'm trying this and it seems to be that the tsify is getting string paths instead of the source stream, even though I've added the vinyl source step before that.

So has this been successfully used with this set up? Or does the plugin have to

[2015-02-11 00:05] smrq commented on #30
`tsify` is a Browserify *plugin*, not a *transform*.  This is sort of an implementation detail; transforms are limited in the scope of what they are able to do, and `tsify` needs access to more than what transforms are capable of.  (More details are in the [readme](https://github.com/smrq/tsify#why-a-plugin).)

What that means is that you have to include it as a plugin rather than a transform.  As

[2015-02-11 00:05] #30 closed

[2015-02-16 12:26] rob-bateman commented on #15
So i've been revisiting using tsify with my browserify setup. Good to see the problem with not having a single entry point has been fixed further up the stream but I'm still stumbling over replicating my current use case, which create declaration files.

I can see from this thread declaration files have been discussed before, so let me take you though my setup to show you a possible use case. Yes

[2015-02-17 21:26] smrq commented on #15
Cool, thanks for the extra info.  That project setup looks pretty reasonable.

I can definitely see the value here.  I think making it work in the general case is a nontrivial but doable task.  The real key to how this setup works is here: https://github.com/awayjs/awayjs-core/blob/5102af04f2f1660593ec9d59592f9416b8c92a5d/gulpfile.js#L62

That sets up Browserify to expose files for use elsewhere.

[2015-02-18 20:09] rob-bateman commented on #15
Yes, i think you're right about the exposed path in browserify - this is the same as the one required in the declaration file and would be considered the general case, so in theory this information could be used by the plugin to build the same d.ts file that I am currently building manually

To answer your question, I don't think an exposed module referencing a non-exposed module is a problem for

[2015-02-27 18:28] nikku opened #31 "Upgrade to browserify 9.x"

[2015-02-27 19:17] smrq commented on #31
Ah, it's that time again!  On it.

[2015-02-27 19:25] smrq commented on #31
0.8.1.  Bam.

[2015-02-27 19:25] #31 closed

[2015-02-28 10:26] nikku commented on #31
Thx :-)

[2015-03-10 21:42] HenriKarapuu commented on #15
Hi, we also have the same core need of producing a declaration file to be used in 'downstream' typescript projects, but the specifics and transformations applied to the individual d.ts files as spit out by tsc are very different.

Could we just have second stream (like gulp-typescript does) which would contain the original d.ts files, and then leave transformation / concat / output stage to the us

[2015-03-13 19:11] smrq commented on #15
See: #32

[2015-03-15 00:23] duncanmak opened #33 "Multifile support?"
I'm trying out tsify, and I can't seem to make it work with multiple files.

[code]
When I load this in the browser, I get `Uncaught Error: Cannot find module './hello'`

My code is available here: https://github.com/duncanmak/react-experiments/tree/use-tsify/with-typescript.

[2015-03-15 01:13] duncanmak commented on #33
I was able to make it work by forcing everything to use absolute paths.

https://github.com/duncanmak/react-experiments/commit/3f9bd86866b312351e98d6ed9f5bb849a65f5683

Is there another way around this?

[2015-03-15 03:35] duncanmak commented on #33
I see now this is an issue with browserify and not tsify.

My final solution is here: https://github.com/duncanmak/react-experiments/commit/09e5bb0e4158e963ef621b29114676dd41494dd8

[2015-03-15 03:35] #33 closed

[2015-03-17 10:54] davidreher opened #34 "support for plugins / support for jsx"
Hey,

I wanted to use jsx in typescript. Therefore I planned to use something like [ts-jsx-loader](https://github.com/jbrantly/ts-jsx-loader) which replaces the jsx with plain js before passing it to the typescript compiler. At the moment I do not see any other possibility but to fork and adjust tsify ...

Do you have any other suggestions?

[2015-03-31 20:01] smrq commented on #34
As a React neophyte myself, I have a personal interest in making this work.  However, I don't want to build in any React-specific extensions into `tsify`, and I don't think plugins for plugins is a good pattern either.  The right way to do this would be to create a Browserify transform to preprocess the input before passing it off to `tsify`.  However, this has some complications.  I will try to e

[2015-04-01 06:11] davidreher commented on #34
Hm, as far as I understand there is even the bigger problem that I cannot run any transformation steps *before* tsify has started, only after tsify compilation is complete ...

[2015-04-01 06:15] smrq commented on #34
Yeah, that's basically for two reasons.  **One**, because `tsify` inserts its transform at the beginning of the list of other transforms.  This is trivial to change, but it does that for the reason of...  **Two**, because it hits the filesystem directly instead of pulling file contents from the pipeline, because of the circular issue.

[2015-04-03 18:47] mjw56 opened #35 "Exported TypeScript class is bundled as undefined"
Hi @smrq,

First, thanks for this project!

I am not sure if this is an issue with browserify, tsify, typescript, or if I am just doing something wrong. Basically, what I am seeing is that when I try to import an exported class using require(), the module i am trying to import is linked to as undefined. I am not intimately familiar with browserify inner-workings, but if I change this undefined to

[2015-04-03 19:12] smrq commented on #35
How odd!

I haven't looked too hard at this but in your gulpfile, try only including
main.ts in your bundle.add call. All Browserify needs is the single entry
point into your code; it walks the dependencies automatically. Including
helper.ts as an entry might be messing with something. Though I wouldn't
expect quite that output...
On Apr 3, 2015 1:47 PM, "Mike Wilcox" <notifications@github.com> wr

[2015-04-03 19:24] mjw56 commented on #35
OMG! I feel like such an idiot :) Indeed it was the extra include that was causing this.

Thank you!

[2015-04-03 19:24] #35 closed

[2015-04-03 19:25] smrq commented on #35
Awesome, glad to help :)

[2015-04-03 21:15] abogartz opened #36 "Mac OSX is compiling typescript and bundle.js out of order"
This behavior is also seen using the command line, but here is my Gulp file below:

When running on Windows the plugin works perfectly. The expected behavior is that upon save of any typescript file in the require tree of test-app.ts, the tsify plugin will compile the js files and then let browserify compile those files. On Mac OSX, this appears to not happen in the proper sequence, resulting in e

[2015-04-03 21:22] smrq commented on #36
Just a thought, try moving `b.plugin('tsify')` above `b.on('update', bundle)`.  Maybe there's something platform-dependent with regards to how the event listeners get fired.

[2015-04-03 21:40] abogartz commented on #36
:smile:

Ok, that still doesn't work. I'm on Windows while my co-worker with the problem is on Mac. We tried moving that line all around and it still does the same behavior. I thought maybe it was that he had a separate file watcher in Atom Editor that was maybe fooling Browserify, but we disabled that and confirmed that while it's compiling the typescript correctly, it's compiling Browserify befo

[2015-04-06 18:31] abogartz commented on #36
This was fixed by completely uninstalling and reinstalling node using nvm. I have no idea what the issue was, but it's all working fine now.

[2015-04-06 18:31] #36 closed

[2015-04-12 03:26] HerringtonDarkholme opened #37 "Typescript 1.5 support?"
It will be a lot help! However,given the breaking API change. TS1.5 and TS1.4- won't play well together without branching code. https://github.com/Microsoft/TypeScript/wiki/API-Breaking-Changes

Will it be supported?

[2015-04-12 03:40] smrq commented on #34
Note that it is possible that this will be pulled into the core compiler at some point: https://github.com/Microsoft/TypeScript/pull/2673

[2015-04-12 03:44] smrq commented on #37
Once TS1.5 is released, I certainly intend to support it.  The API changes mean that it will be more work than just bumping a version number, but otherwise there is no problem.

Closing for now, as TS1.5 is still in alpha.

[2015-04-12 03:44] #37 closed

[2015-05-06 00:39] cherrydev opened #38 "Improved error handling"
When using tsify, I can't seem to catch typescript errors using the standard `.on("error", function() {foo})` idiom.  The only way that I could catch the error was to do it in a domain, which broke `watchify`. So far I've hacked my own version of tsify that allows an error handler to be passed in `opts` and if found, replaces the built-in error-handler.  I don't think this is very node-ish and ide

[2015-05-08 14:22] geirsagberg opened #39 "Update to Browserify 10.x"
Getting the following error:

[code]

[2015-05-08 15:01] bendrucker commented on #39
On a related note, I'll send a PR over adding https://github.com/bendrucker/test-peer-range when I finish it, probably later today. It basically automates the strategy we use over at browserify-shim to prevent regressions on old b versions.

[2015-05-08 16:23] hexaglow opened #40 "Can typescript from npm be used?"
The Typescript version currently in use by this plugin is bundled inside the repo. Is there any particular reason for this? I had a quick skim of tsc.js but I couldn't find any indication that it had been modified (feel free to correct me - maybe if this is the case, you could add a note to the README so other people don't get confused). I'm available to modify the code to facilitate this if you w

[2015-05-08 17:04] smrq commented on #39
It's that time again!

Given that the past 5 major versions of Browserify have worked just fine without any changes needed, I'm updating the peer dep to >= 6.x.  If there are problems down the line then I can always dial it back.  For now I'd rather err on the side of permissiveness.

@bendrucker I'm definitely interested to see that in action.  Sounds pretty sweet.

[2015-05-08 17:11] smrq commented on #40
Presently there is a slight modification step as you can find in `unwrapCompiler.js`.  It's not really a long-term solution; at the time of writing, the compiler was not programmatically accessible without alteration, though I think that changed with TS 1.4 (or 1.5 beta?).  I expect that it would be some effort to switch over to using the proper public API, so I haven't gotten around to it yet.

I

[2015-05-08 17:23] smrq commented on #38
Quick question, are you perhaps calling `.on('error', callback)` before `.bundle()`?  I ask because this was actually a point of confusion for me at one point.

Otherwise, with this much information I'm not sure what could be going wrong.  Handling errors *should* work as usual for Browserify, and the functionality is tested.  (See: the relevant tests [(1)](https://github.com/smrq/tsify/blob/b1e87

[2015-05-08 17:25] smrq commented on #39
Released in v0.8.2.

[2015-05-08 17:25] #39 closed

[2015-05-08 17:52] cherrydev commented on #38
Well, I could have sworn I tried calling `.on('error', callback)` at every possible point in the pipeline before and after `.bundle()`, and not having any luck with it.  But taking your advice and placing it immediately after .bundle() did the trick!  Thank you for your help.

[2015-05-08 17:52] #38 closed

[2015-05-08 17:54] bendrucker commented on #39
Getting close to a 1.0. It actually handles unbounded peer deps by running tests all the way up to @latest. We've done it both ways on stuff that I've worked on. Really depends on how funky and public the APIs you're using are. If it hasn't been a problem you can definitely go unbounded.

[2015-05-08 17:55] smrq commented on #38
Great!  Glad it works for you now.

[2015-05-08 22:54] hexaglow commented on #40
I'm on mobile right now so I can't test it out, but a cursory glance suggests that you are just injecting a direct export into the compiler, correct? The functions that are being called in Tsifier.js appear to have exactly the same signature as those in the actual TS api, so it *should* be a very easy replacement. I'll get to work on it tomorrow.

[2015-05-09 00:26] smrq commented on #40
Beautiful, I hope that's the case.

On Fri, May 8, 2015, 5:54 PM Matt Randell <notifications@github.com> wrote:

[2015-05-09 13:54] hexaglow commented on #40
I've patched it to work with raw TS 1.4, but the sourcemap tests are failing - should I be concerned about this, or are the comparison maps just out of date?

[2015-05-09 16:54] hexaglow commented on #40
OK - my repo has been updated and is now on TS 1.5 beta and fully test compliant.

[2015-05-11 21:02] smrq commented on #40
Thanks!  Merged into v0.9.0, will be pushed to npm as soon as the Travis build gets around to it.

[2015-05-11 21:02] #40 closed

[2015-05-12 09:06] cmlenz opened #43 "Don't stop on first Typescript error"
It seems that tsify stops the browserify build on the first "error" reported by the Typescript compiler. I think it should output the error message but still continue, just like Typescript itself does. Am I missing something?

[2015-05-12 12:42] 3nsoft commented on #43
Can you share, as a documentation example, the handler you have and how its plugged in, for those of us who wish to have the same behavior, which is great for development (default one -- no-pass on any error -- is great for a production built).

[2015-05-12 16:28] smrq commented on #43
I assume you mean you want output even when there is a typing error?  (On a syntax error, output cannot continue; currently, typing errors are just handled the same way.)

Sounds reasonable.  I'll definitely put it behind a flag, though.

[2015-05-12 16:40] cmlenz commented on #43
Yeah, typing error is what I meant.

I was surprised by this behavior of tsify as the TypeScript compiler itself does not behave this way, and this is advertised as a feature of TypeScript, for example in the [tutorial](http://www.typescriptlang.org/Tutorial):

I would personally expect any frontend to the TypeScript compiler to follow this behavior.

An additional problem with stopping on the fir

[2015-05-12 16:48] smrq commented on #43
All errors *should* be displayed; all of the type checking for the entire input is done in a single step.  If you can whip up a simple example where errors cause others to be hidden, then that might be helpful for me.

You do make a compelling argument about what the default behavior should be.  I'll strongly consider it.

[2015-05-12 20:20] smrq commented on #43
Okay, the default behavior has been changed as of 0.10.0.  Please try it out and see if it works for you!

(As soon as Travis CI pushes it to npm, that is.)

[2015-05-12 21:20] smrq commented on #43
I'm having some trouble getting Travis to run the updated tests; I think the code is fine, though.  Should be done soonish.

[2015-05-12 22:42] smrq commented on #43
Released. :tada:

[2015-05-13 09:47] cmlenz commented on #43
Thanks @smrq !

Unfortunately it does not work for me. I'm probably doing something stupid. I've put up a test repo to demonstrate the problems I'm seeing:

https://github.com/cmlenz/tsify-test

This also shows how only one error is ever displayed, plus an issue where the message is printed as `[object Object]`. It would be very much appreciated if you could try it out.

My system information just

[2015-05-13 10:32] cmlenz commented on #43
For what it's worth, I get the same results by skipping the Gulp build and directly executing `browserify` from the command line:

    TS2322: src/test.ts(6,12): TS2322: [object Object]

[2015-05-13 17:47] smrq commented on #43
Thanks for the repro, I'll take a look as soon as possible

[2015-05-13 18:33] smrq commented on #43
Figured out the [object Object] issue, I wasn't properly handling formatting of nested error messages.  Still looking into why the other errors aren't showing up.  Good test repo!

[2015-05-13 19:09] smrq commented on #43
Ah, this one is an issue with the gulpfile.  You have to handle errors thrown from Browserify or the whole thing will halt:

[code]

On the command line, since there isn't a way (that I know of) to catch those errors, you're out of luck.  This appears to be a limitation of Browserify itself; for example, try compiling this with the above gulpfile vs. on the command line:

[code]

The gulpfile will

[2015-05-13 19:36] cmlenz commented on #43
Ah, thanks for the tip (and the `[object Object]` fix). I've updated my test repo and it now works nicely with Gulp.

So Browserify doesn't provide a mechanism for plugins to report warnings rather than fatal errors?

[2015-05-14 03:35] smrq commented on #43
Not to my knowledge.  Regardless, these are really errors in my opinion (albeit non-fatal errors); if anything should change, I suspect the Browserify CLI should be able to report multiple errors.

Glad the fix worked for you!

[2015-05-14 03:35] #43 closed

[2015-05-16 15:47] Gwildor opened #45 "TypeError: Cannot read property 'lineMap' of undefined"
Hi there,

I can't seem to set up tsify to work when using a very basic gulpfile. Not sure what more to say about it, so here's the stuff I have:

`gulpfile.js`
[code]

`main.ts`
[code]

The typing is copied from [https://github.com/borisyankov/DefinitelyTyped/blob/master/node/node.d.ts](DefinitelyTyped).

Stacktrace:

[code]

Note that I get a different result when I change `ES6` to `ES5` in the

[2015-05-17 03:25] smrq commented on #45
Cool, thanks for the reproducing test case.  I've found at least two issues here -- one with the error output, and one with ES6 mode.  Working on it.

Re: the ES5 error, yeah, looks like a problem with the type definition: https://github.com/borisyankov/DefinitelyTyped/issues/4249

[2015-05-17 03:52] smrq commented on #45
The issues with `tsify` specifically are fixed in v0.10.2.  Now it fails in exactly the same way that `tsc` does.  I suggest watching the above issue from DefinitelyTyped for further fixes.

Thanks for the report!

[2015-05-17 03:52] #45 closed

[2015-05-19 16:19] smrq commented on #34
More relevant discussion: https://github.com/Microsoft/TypeScript/issues/3203

[2015-05-20 16:29] flyon opened #46 "support for sourceRoot"
I was using this before:   tsc --sourceMap --sourceRoot "../src", which was working for me.

Now I'm using browserify + grunt + tsify with the following in Gruntfile.js:

preBundleCB: function (bundle) {
   bundle.plugin('tsify', { target: 'ES5', module: 'commonjs', sourceMap:true,sourceRoot:'../src2' });
}

but I don't think 'sourceRoot' is doing anything?

[2015-05-22 15:56] cmlenz opened #48 "Example for usage with Karma"
This is more of a question than an issue, I hope that's okay.

I'm trying to get Jasmine unit tests working, where both the code under test and the unit tests are written in TypeScript, and the tests are run using Karma (via karma-browserify). But I'm not having much luck getting this to work.

The error I'm getting right now is that Karma can't resolve an imported file, the output is

    Cannot

[2015-05-22 16:46] cmlenz commented on #48
Okay I've updated my test repo at https://github.com/cmlenz/tsify-test

I'm running Karma through Gulp with the following task:

    gulp.task('test', function() {
      return gulp.src('src/**/*.spec.ts')
        .pipe(karma({
          frameworks: ['browserify', 'jasmine'],
          preprocessors: {
            'src/**/*.ts': ['browserify'],
          },
          browserify: {
            plug

[2015-05-22 16:59] smrq opened #49 "Fix tests with Browserify@10.2.x"
There are some whitespace changes with Browserify@10.2.x compared to previous versions.  Tests should still pass with all supported versions.

[2015-05-22 17:04] smrq commented on #48
Test issues right now, I'll get back to you on this once everything isn't on fire.

[2015-05-22 17:06] smrq commented on #46
I think this option was added with TS 1.5?  Anyway, right now compiler options are whitelisted; I'm going to change them to be blacklisted instead.  (Some options, like `module`, are set automatically.)

[2015-05-22 18:54] berwyn opened #50 "Add support for full range of compiler options"
It would be really great if we could use the full range of compiler options or specify a tsconfig.json, especially as new features are added and we want to flag them on (emitDecoratorMetadata added in 1.5, for example).

[2015-05-22 19:37] smrq commented on #46
Equivalent to #50

[2015-05-22 19:37] #46 closed

[2015-05-22 19:39] smrq commented on #49
Fixed in 485327c498

[2015-05-22 19:39] #49 closed

[2015-05-22 21:25] smrq commented on #50
All options are now passed through to tsc as of v0.11.0.  The only caveat is that some options may have no effect, particularly if they are options for the `tsc` CLI rather than the compiler itself.

[2015-05-22 21:25] #50 closed

[2015-05-22 21:43] smrq commented on #48
I've personally never used `gulp-karma`; you could try:

[code]

Seems to work for me.  According to the [Karma docs](https://github.com/karma-runner/gulp-karma) that is the proper way to use Karma from Gulp.

[2015-05-22 22:44] bendrucker commented on #48
Don't use a plugin. Use [karma-as-promised](https://www.npmjs.com/package/karma-as-promised) (mine) since Karma's public API doesn't use Node-style callbacks. Instead it calls back with the process exit code and so using @smrq's basic example above won't inform gulp of failed test runs.

[2015-05-23 02:53] rogerjose81 commented on #37
+1 for this requirement, TS 1.5 is now in beta, thus the API should not change.

[2015-05-23 06:30] smrq commented on #37
This is supported since 0.9.0!  Just install whatever version of `typescript` you want alongside `tsify`.

[2015-05-23 17:28] rogerjose81 commented on #37
Thanks. I suggest you to document this on the README.

And one more question, does tsfy supports the "tsconfig.json" file or is there a plan for supporting it?

[2015-05-23 20:35] cmlenz commented on #48
Thanks, I had totally missed that I shouldn't be using the plugin. But I'm still having trouble getting it to work. Can you perhaps post an example of how the Karma config should look to include tsify? Thanks.

[2015-05-23 20:58] bendrucker commented on #48
Now that I look back, your karma-browserify config is invalid. In order to define options, the entry in `plugin`/`transform` needs to be an array. You can't just put options after the module name as you have. The error you're getting is exactly what you'd expect if you tried to `require({target: 'ES5'})`

[2015-05-24 20:28] cmlenz commented on #48
@bendrucker Oh that was a rather embarrassing error, thanks for pointing it out! I've now fixed the karma config, and it seems to mostly work. See https://github.com/cmlenz/tsify-test/commit/90fffb0a43fba5f0ae8671227e1b1b91d91c1076

However I must admit I couldn't see much of a difference between using karma directly and using karma-as-promised, and using it as you suggested actually results in Gu

[2015-05-24 20:30] #48 closed

[2015-05-24 20:38] bendrucker commented on #48
Well you have to use `singleRun: true` or nothing exits

[2015-05-24 20:42] cmlenz commented on #48
@bendrucker I have that in the Gulpfile, but even setting it to `true` in the Karma config itself doesn't change the behavior.

[2015-05-25 08:26] smrq opened #51 "Support tsconfig.json"

[2015-05-25 08:26] smrq commented on #37
Not yet: #51

[2015-05-25 16:13] rogerjose81 commented on #51
Thanks.

In case it helps someone, I'm loading the tsconfig.json configuration in this "manual" way (meanwhile official support comes out?):

const tsConfig = require('./tsconfig.json');

gulp.task('script', function() {
    const self = this;
    var b = browserify(CLIENT_DIR + '/main.ts', {
        debug: true,
        cache: {},
        packageCache: {}
    });
    b = watchify(b);
    b

[2015-05-26 01:24] smrq commented on #51
Cool, thanks for the snippet.

[2015-05-27 22:21] smrq commented on #51
Released in 0.11.1.  Like `tsc`, `tsify` will search the current working directory and up for a `tsconfig.json`.  Any options passed to `tsify` will override those options.

[2015-05-27 22:21] #51 closed

[2015-05-28 10:02] tjoskar opened #52 "Version 0.11.1 do not working for me"
Hi,

When I run `browserify ./app/boot.ts -p [ tsify --noImplicitAny ]` with version `0.11.0` all works fine but if I install `0.11.1` I only get an empty browserify file:

[code]

If I downgrade to version `0.11.0` everythings works well again. Do I missing something?
I'm using version `10.2.1` of browserify.
My `tsconfig.json`:

[code]

[2015-05-28 11:59] ddennis opened #53 "importing github repository"
Hi

My problem it importing a library from github and using it through my package.json, i understand this might be a issue with the libary i am using. But since it works fine when i am not using tsify, i am asking here.

I am using tsd https://github.com/DefinitelyTyped/tsd , which generates a typings file,  :

    /// <reference path="../../typings/tsd.d.ts" />
-
the content of my typings file ..

[2015-05-28 14:40] ddennis commented on #53
Hi -
My mistake, It seem the library was already on npm, so i could consume it that way.

/Dennis

[2015-05-28 18:56] ddennis commented on #53
Hello Again.

I am still having problems, the case is the same as mentions earlier, it works if i disable the .plugin(tsify) in my gulp task, and use normal browserify syntax it works fine:

    var _ = require('underscore');
    var pixi = require('pixi.js');

Any help would be mush appriciated.
/Dennis

[2015-05-28 20:42] smrq commented on #52
Hmm, I strongly suspect that `outDir` is the culprit, although I would have to test it to make sure.  Do you need it?  (Browserify will not respect it anyway, since it has its own rules for where to write files.)

[2015-05-28 21:07] smrq commented on #53
Hey Dennis,
What that error means is that the TypeScript compiler can't find typings for that module.  Looking at the [type definition on DefinitelyTyped](https://github.com/borisyankov/DefinitelyTyped/blob/70737c2a2496f7a13c4da63eb00081cad94d19f1/pixi/pixi.d.ts), it looks like it assumes that there will be a global variable called `PIXI`, rather than an npm-compatible module that you can `require

[2015-05-29 08:03] ddennis commented on #53
Thanks alot - It works like magic. Was banging my head against the wall.

A follow up question, if you have the time?

Is it correct that i need to have a typings file for every node_module i want to use.
And if there is no typings definition, i need to create a basic one like the one you showed me.

    declare module 'whatever' {
        export = whatever;
    }

Thanks again.
/Dennis

[2015-05-29 08:03] #53 closed

[2015-05-29 16:05] smrq commented on #53
Yep!  The `declare module 'whatever'` line says that there exists a `require`-able module.  Without it, TypeScript won't know that there even is a node module to pull in, so it will error out.

[2015-05-29 21:11] smrq commented on #52
Confirmed that this was the problem.  Try 0.11.2.

[2015-06-01 17:08] #52 closed

[2015-06-04 18:55] kuon opened #54 "Slow incremental compilation with watchify"
I use tsify with browserify and watchify.

While it works, it is slow. If I have a simple "hello world" js file, it takes 1 to 3 seconds to recompile it when I save it.

I do not know if this is an issue with tsify or watchify, but `tsc -w` is much faster (about 100ms to recompile)

[2015-06-06 02:16] alexzielenski opened #55 "implicit reference paths"
Is it possible to have some d.ts files automatically injected into every file for type checking (similar to a precompiled prefix header for C)? I tried passing in my d.ts files straight into tsify but that had no effect.

[2015-06-06 02:25] #55 closed

[2015-06-12 05:00] cheapsteak opened #56 "Would I be able to require node modules somehow?"
Sorry I'm new to TypeScript
How would I require, say, lodash? I'm currently getting `Cannot find external module`

[2015-06-12 06:01] smrq commented on #56
Make sure to download and include type definitions from DefinitelyTyped.

On Fri, Jun 12, 2015, 12:00 AM Chang Wang <notifications@github.com> wrote:

[2015-06-12 06:01] cheapsteak commented on #56
Thanks so much, that has indeed solved the problem!

[2015-06-12 06:01] #56 closed

[2015-06-13 14:48] Coderah opened #57 "target es6 imports/dependencies not getting processed."
tsify seems to be ignoring ES6 imports, I set the target correctly tried tsconfig.json and passing it directly.

ex:
[code]

these are entirely gone by the time it gets to the next transform, tsify is the first plugin.

Works if I use gulp-typescript or any other method (without browserify obviously).

EDIT: on second thought they must be getting processed to avoid errors but then are not included

[2015-06-13 15:00] Coderah commented on #57
using NODE_DEBUG=tsify I gathered this output:

[code]
is there more required to have this passed up to browserify for other transforms?

[2015-06-14 22:17] Coderah commented on #57
issue discovered to be related to something I was doing and typescript thinking the imports were not being used.

[2015-06-14 22:17] #57 closed

[2015-06-14 23:53] raptor9g opened #58 "Strict TS language adherence."
I've noticed that tsify will halt execution in all TS language errors that on the CLI will simply report but continue.  This can be unfavorable when one is using incremental approach to TS and wants to mix and match native JS features that don't jive with TS syntax.  For example:
[code]

This will work in JS and will compile via tsc in the CLI, it will report the error:

But it will contiue and ou

[2015-06-15 18:12] smrq commented on #58
If you're using Browserify via the command line, then this is a limitation of the Browserify CLI.  It halts immediately when any error is reported to it, with no way of overriding this behavior (that I am aware of).

From the API, as long as you handle the `error` event, it will continue compiling just as you expect:

**fail.ts**
[code]

**build.js**
[code]

**result**
[code]

[2015-06-15 18:12] #58 closed

[2015-06-15 21:06] battmanz commented on #51
By NOT specifying an entry (or main) file will `tsify` compile all referenced files in the `tsconfig.json` file? That's how `tsc` works, but so far I am unable to make `tsify` do the same.

[2015-06-15 21:55] smrq commented on #51
No, Browserify needs to know which file (or files) to use as an entry point.  "Compiling all files" isn't really a sensible task when using Browserify.

[2015-06-15 21:58] battmanz commented on #51
Okay, I see the need for an entry file, and I know which file of mine is the entry file. So really, my question is how do I tell `tsify` about the `*.d.ts` files (the ones I installed via `tsd`)?

[2015-06-15 22:14] smrq commented on #51
Either a `/// <reference path="path/to/typings.d.ts" />` in your entry file, or just add the `*.d.ts` as another entry

[2015-06-22 04:31] jvilk opened #59 "Prevent browserify from aborting builds that don't typecheck"
First off: great project, but I'm having a fairly annoying issue that I hope you can help me out with.

Could you provide a simple boolean option that prevents browserify from bailing out on builds that don't type check? While generally a *Terrible No Good Very Bad Idea*, this behavior prevents me from [ignoring some fairly annoying issues with DefinitelyTyped typings caused by TypeScript 1.5 chan

[2015-06-25 13:44] aciccarello commented on #24
Ah, this helped me realize an issue in my gulp build. I'm not sure if I missed this because I don't understand streams well but I feel like this should be documented somewhere.

Is this something that is true for all watchify builds?

[2015-06-25 14:39] smrq commented on #24
Yep

On Thu, Jun 25, 2015 at 8:44 AM, aciccarello <notifications@github.com>
wrote:

[2015-07-02 09:31] TotempaaltJ commented on #54
+1

Since this issue is almost a month old, I'm gonna look through the watchify and tsify source a bit to see if I can fix it myself and make a pull request because the recompilation speed is atrocious.

[2015-07-07 19:56] tejacques commented on #34
JSX support was added to Typescript master recently -- I'm guessing it just needs to be released to npm before you can update the version of `tsc` that `tsify` uses?

[2015-07-09 14:15] smrq commented on #54
Thanks for looking into it, hope you find something useful

[2015-07-09 14:19] smrq commented on #59
Because of how the Browserify CLI handles pipeline errors this can only be done by using the API instead of the CLI.  Check out the API example, note the `.on('error')` that catches errors.  The process only bails out if errors get dropped on the floor (which is what the Browserify CLI does)

https://github.com/smrq/tsify#example-usage

[2015-07-09 14:21] smrq commented on #34
Yes, it's already available in the `tsc` nightly.  (Woot!)  The nightly is available on npm as `ntypescript`, but #47 needs to happen to pull it in before it gets pushed as a real version.

[2015-07-09 14:21] #34 closed

[2015-07-16 19:32] #59 closed

[2015-07-16 22:18] giggio opened #60 "Support External Require"
As defined in:
https://github.com/substack/node-browserify#external-requires

Using `.require(` as defined in https://github.com/substack/node-browserify#brequirefile-opts throws, it seems that the file is not being compiled before passed to browserify.

[2015-07-17 01:03] basarat opened #61 "Custom compiler hook"
Is there a way I can plugin a custom compiler build (e.g. https://github.com/TypeStrong/ntypescript)?

[2015-07-17 08:47] johnnyreilly commented on #60
I think I've just tripped up on the same issue.  I've got a project that uses Babel / Browserify at present.  I'm trying to migrate a few pieces over to TypeScript in a piecemeal fashion.  tsify seems to be doing just fine apart from when it comes to 3rd party typings.  Talk is cheap, show me the code.

Here's an excerpt from the browerify + tsify gulp build step:

[code]

This works great apart f

[2015-07-17 20:16] LPGhatguy opened #62 "Errors on first compilation prevent watchify from watching"
If a TypeScript file has a syntax error, regardless of it being caught, watchify will not watch the file.

I've created a minimal-ish test case here:
https://github.com/LPGhatguy/gulp-watchify-tsify-bug

This may be related to issue #24

[2015-07-20 10:11] johnnyreilly commented on #60
I think (I'm not sure) that this problem might be related to [PR #32](https://github.com/smrq/tsify/pull/32).  The `declarationFiles` option that PR implements looks like it might allow for support of external typing files.  However, it doesn't look like that PR is going to be merged. :disappointed:

[2015-07-20 16:02] smrq commented on #60
@giggio Thanks for the report, I'll take a look.

@johnnyreilly Let me see if I get the dependency graph of your case:
[code]
If that's the case, then all you're missing is to add `typings/tsd.d.ts` to `src` in your gulpfile.  Note that *tsify* cannot respect the `files` key in `tsconfig.json`, because it only compiles what Browserify gives to it.

[2015-07-20 16:06] smrq commented on #62
Oh, that's interesting.  I can look into this.

[2015-07-20 16:07] smrq commented on #61
Same as #47

[2015-07-20 16:07] #61 closed

[2015-07-20 17:31] johnnyreilly commented on #60
So `var src = './src/main.js';` becomes `var src = ['./src/main.js', 'typings/tsd.d.ts'];`? Thanks - I'll give it a try and report back!

[2015-07-20 20:29] smrq commented on #60
Reproduced... I think I'm going to have to delve into the guts of `module-deps` on this one.  Might be tricky!  I'll see how it goes.

[2015-07-20 22:53] smrq commented on #60
This appears to be a bug in `module-deps` which makes it think that the external file is a node built-in (like http, fs, etc.), which makes it bypass transforms.  Still looking into why that is happening.

[2015-07-20 23:17] smrq commented on #60
Okay, this is definitely a Browserify bug.  Exposing a file causes transforms not to run against it, unless the exposed name is different from the filename.  This is described in substack/node-browserify#1077, and further discussed in substack/node-browserify#1131.  A workaround would be to do something like:

[code]

If that won't work for you, then you can open an issue on Browserify and/or modu

[2015-07-20 23:17] #60 closed

[2015-07-21 13:01] johnnyreilly commented on #60
Worked a dream once I updated to the latest version of tsify and the associated typings.  Thanks!

[2015-07-31 18:02] moll opened #63 "Errors when given no options"
Hey,

When you don't give Tsify any options nor an empty options object, it dies:
[code]

Cheers

[2015-07-31 18:04] moll opened #64 "Dies on b._extensions.indexOf"
Hey,

Also dies on:
[code]

I take that's because it's using a private property and Browserify has since changed. ^_^

[2015-07-31 18:04] moll commented on #64
Forgot to mention, that was with Browserify v11.0.1.

[2015-07-31 18:15] moll commented on #64
I take that back. Sorry. I was implicitly assuming and using this as a transform, not as a plugin. Seems to work as a plugin.

[2015-07-31 18:15] #64 closed

[2015-07-31 18:15] moll commented on #63
I take that back. Sorry. I was implicitly assuming and using this as a transform, not as a plugin. Seems to work as a plugin.

[2015-07-31 18:15] #63 closed

[2015-08-02 21:54] LPGhatguy commented on #62
Any updates on the issue?

[2015-08-03 20:59] smrq commented on #62
This is a slightly obscure pipelining issue.  If there are compilation errors that prevent emitting of the program (and thus continuation of the pipeline) -- which would be either syntax errors, or semantic errors with the optional `noEmitOnError` flag -- then the pipeline never reaches the point of notifying about the additional files, so only the entry point(s) get watched.  So, for instance, wi

[2015-08-03 22:20] smrq commented on #62
After doing some investigation, I decided to emit each file as it is added to the compiler host.  This should fix it.  Try latest.

[2015-08-05 08:47] cstefan opened #65 "Custom ntypescript compiler"
Tried the pass the ntypescript compiler in the options but I am getting an error.
Using it to write  jsx code in typerscript. That means the files have the extension .tsx.
Is this supported?

popup.tsx:2
import * as $ from 'jquery';
^
ParseError: 'import' and 'export' may appear only with 'sourceType: module'

Browserify config:
{
      entries: './Source/popup.tsx',
      dest: './Package',

[2015-08-05 18:13] smrq commented on #65
That error means that `popup.tsx` isn't being transformed before Browserify tries to bundle it. There's a known issue which can cause this (substack/node-browserify#1131, also discussed in #60) but from that config it doesn't look like this is the same case...  I can take a quick look, but a minimal repro would be helpful!

[2015-08-06 17:15] smrq commented on #65
Ah!  Nevermind, I know *exactly* what the problem is... I'll be fixing this.

[2015-08-06 18:18] smrq commented on #65
Should be fixed in 0.11.7

[2015-08-06 18:18] #65 closed

[2015-08-11 13:29] nripendra opened #66 "Doesn't work with npm dependencies"
I have following line in code:
[code]
Getting following error : **cannot find module 'react'.**

Here react is npm module installed in node_modules folder of project root.

This works fine with other gulp plugin like gulp-typescript..

I have set tsd.json and typings folder correctly.

What may be cause of problem?

[2015-08-11 14:26] nripendra commented on #66
Ok when I put /// <reference path=".."/> pointing to react.d.ts file in typings folder (in one of my files) it is no more giving this particular error..

Now, I'm getting another error:
**ParseError: 'import' and 'export' may appear only with 'sourceType: module'**

I tried to solve issue by putting following config in browserify constructor (as suggested in some SO posts)
**extensions: ['.ts', '.

[2015-08-14 17:02] drinchev opened #67 "Check if typescript lib files are in `/lib`"
According to : https://github.com/Microsoft/TypeScript/pull/4039 , from now on TypeScript will have it's `d.ts` files ( such as `lib.d.ts, lib.es6.d.ts` ) in a different directory.

Since `tsify` looks for those files ( https://github.com/smrq/tsify/blob/v0.11.9/lib/Host.js#L19 ), support for `typescript@next` is broken.

Maybe something like this will work :

[code]

Cheers.

[2015-08-14 21:45] smrq commented on #67
Yeah, something like that should be fine.  Thanks for the heads up.

[2015-08-14 22:06] smrq commented on #66
Can you check whether you're running into the Browserify bug mentioned in #60?

[2015-08-17 19:11] smrq commented on #67
Fixed in 0.11.10

[2015-08-17 19:11] #67 closed

[2015-08-18 10:24] johnnyreilly opened #68 "Examples!"
It would be great to have some Hello World style examples of how TSIFY could be used.  Generally I find that's a fantastic resource for any project to have.

For myself I'd really like to see an example of how to use TSIFY in concert with React.  Despite my best efforts I've tried and failed (despite getting really close) to get TSIFY and React playing nice together.  Unfortunately deadlines means

[2015-08-18 16:05] smrq commented on #68
Sure, that's a great idea.  Docs are good!

[2015-08-31 17:18] LPGhatguy commented on #62
This issue doesn't appear to be fixed as of the latest release, @smrq. I've been out of the office so I've been unable to test the nightlies.

[2015-08-31 17:54] LPGhatguy commented on #62
I've fixed the gulpfile. I have a feeling that this might be the longstanding OS X FSEvents bug more than a tsify bug, because watching is broken in that reproduction repository entirely.

[2015-08-31 17:56] #62 closed

[2015-09-01 10:01] basti1253 opened #69 "reference path vs require"
Hi,

this isn't really a tsify issue as more a (maybe stupid) support question about how to handle typescript modules.

By using tsc as transpiler I am able to define a custom order of script inclusion.

I tried to mimic this behaviour using require and tsify but I failed to include the scripts in the exact same order as defined by using refence path. As a consequence I can't access module propert

[2015-09-01 16:17] smrq commented on #69
Hey Sebastian,

Looks like in your small example you are using *namespaces* (formerly called "internal modules") rather than *modules* (formerly called "external modules" -- sorry about the confusing terminology, but that's the way it is!)  You aren't actually gaining anything by using `tsify` if this is the case.

The module-oriented way of doing that example would be (using the newer ES6 module

[2015-09-01 16:35] aciccarello opened #70 "Set current working directory"
I know you mentioned is a (comment)[https://github.com/smrq/tsify/issues/51#issuecomment-106096801] on #51  that tsify looks for tsconfig.json in the current working directory and up

Is there a way to set the current working directory? I'm running tsify from a gulpfile in the root of my project but I'd like to leave tsconfig.json with my source.

[2015-09-01 16:40] smrq commented on #70
`gulp --cwd path/to/source`?

[2015-09-01 17:11] aciccarello commented on #70
Okay, I was thinking tsify might have a config option to set the current working directory that it uses. But thinking about setting it in gulp seems to have pointed me in the [right direction](http://stackoverflow.com/a/28085111/4252741) using node's [process object](https://nodejs.org/api/process.html#process_process_chdir_directory) to change the current working directory.

[2015-09-01 17:11] #70 closed

[2015-09-01 17:39] aciccarello commented on #70
It turns out that changing the current working directory didn't work well with my build tasks. I'll just pass in the compiler options as was suggested in [#51 (comment)](https://github.com/smrq/tsify/issues/51#issuecomment-105258892).

[2015-09-01 17:53] twastvedt commented on #60
@johnnyreilly As far as I can tell I have an issue similar to the one you described at the top of the thread. I'm not so sure about what I'm doing though, and in particular am not sure what to do with smrq's workaround. Where did you put that in your project? I want mine to work like a dream too!

[2015-09-01 18:45] smrq opened #71 "TypeScript nightly - TypeError: hosts.fileExists is not a function"
Reported in Microsoft/TypeScript#4565

[2015-09-01 19:59] #71 closed

[2015-09-01 20:00] smrq commented on #66
Closing for now, please reopen if you still have an issue, ideally with a repro to work from

[2015-09-01 20:00] #66 closed

[2015-09-03 16:28] basti1253 commented on #69
Hey,

thank you very much for clarification! I owe you a coffee ;) Using reexports I finally found a way how to import directories as modules. I updated the repository accordingly so maybe others may benefit.

cheers!

Sebastian

[2015-09-03 16:28] #69 closed

[2015-09-03 17:23] smrq commented on #69
Great!  Glad you were successful :)

[2015-09-10 03:42] henrify commented on #54
You probably already know / do this, but keeping external/vendor dependencies that don't normally change in separate bundle can speed things up by order of magnitude.

[2015-09-10 03:48] henrify commented on #15
I came back to see how the PR on this is progressing, but seems that the PR has been deleted? Or do I remember completely wrong?

Is anybody working on this?

[2015-09-11 03:58] LPGhatguy opened #72 "Inconsistent module resolution"
I'm seeing some strange module resolution issues.

I have code structured as follows:

- src/client
	- main.ts
	- Zarkov
		- Ops.ts
		- System.ts
	- graphics
		- Context.ts
	- math
		- Vector4.ts

I'm trying to load all of the above modules from `main.ts` as follows:

[code]

`Vector4` and `Ops` resolve successfully, but `Context` and `System` don't, only when using tsify. Using `tsc`, these modul

[2015-09-11 04:15] LPGhatguy commented on #72
Oof, errors weren't being reported for these other modules because they weren't being used and were getting dead-code eliminated.

Anyways, I think this is probably part of a bigger issue: Browserify expects CommonJS-style module resolution strategies, which aren't the same as TypeScript, notably `moduleResolution` set to `classic`.

[2015-09-11 04:15] #72 closed

[2015-09-12 05:31] johnnyreilly opened #73 "1.6 beta support?"
Heya,

In my downtime I've been working on trying to port [an existing project written using React, Babel + Browserify](https://github.com/johnnyreilly/globalize-so-what-cha-want) across to my beloved TypeScript.  Last time I attempted this I failed badly, probably due to the lack of JSX support in TypeScript.  However, with TS 1.6 getting all ES6-y and JSX-y I thought I'd reattempt, prompted by @

[2015-09-12 17:14] erichillah opened #74 "Error when using ts 1.5 --inlineSourceMap"
When using typescript param --inlineSourceMap, Typescript compilation fails with the error TS5048, that because sourceMap is always set to true by tsify.

[code]

[2015-09-12 20:30] smrq commented on #73
`Error TS2307: Cannot find module 'react'.`

It's not finding the typings file for React, are you including it?  The `files` config in tsconfig.json is ignored since Browserify needs to know the entry point(s) to your app, so you either have to ///<reference> it or add your *.d.ts file(s) in your Browserify config.

`Error TS2307: Cannot find module './components/App'.`

This is a *.tsx file, whic

[2015-09-12 20:31] smrq opened #76 "Automatically add *.tsx extension when jsx compiler option is set"

[2015-09-12 21:26] johnnyreilly commented on #73
Thanks for the response @smrq - I really appreciate it.

I wasn't but I am now.  It looks like this:

[code]

I'm now down to just this error:

[code]

And that sounds like it would be resolved by #76.  Thanks for picking up on that.

Yup - I'm planning to use Babelify to do the transpilation and just use TypeScript for static typing.  I'm puzzled to get the `ParseError: 'import' and 'export' may.

[2015-09-14 19:51] johnnyreilly opened #77 "Karma and reference files"
Hey,

I'm converting over some tests to use TSIFY and the only way I can introduce the typings appears to be using the old school reference syntax in each file to bring in the jasmine typings:

[code]

Is there another way to achieve this? I've tried playing with `tsconfig.json` and the `files` prop of the `karma.conf.js` to no avail...

[2015-09-15 03:47] dpogue commented on #77
My experience is that this worked with tsconfig.json as of tsify@0.11.11, but appears to have broken in tsify@0.11.12.
Can you try tsify 0.11.11 and see if it resolves the issue for you?

[2015-09-15 04:06] smrq commented on #77
I did make an error in 0.11.12 (which I'm presently trying to write a test for to prevent regressions) -- sorry about that!  Hopefully 0.11.13 fixes that.  If not, I would be interested to know whether 0.11.11 does work.  The `files` prop of `karma.conf.js` *should* work fine.

[2015-09-15 04:12] smrq commented on #15
The PR (#32) had several issues and seemed to be abandoned by the author, so I closed it last month while tidying up issues.  I haven't personally put any more time into the feature, although I do potentially see the value.  I think there are a lot of edge cases to consider, though, and I would be uncomfortable shipping the feature without a pretty broad suite of test cases to hit some of those ed

[2015-09-15 16:23] smrq commented on #73
Yep, *definitely* the case.  In fact, it's impossible for anything to run before tsify, which is potentially a drawback (if you had any preprocessing on the actual TS source you want to run, well, it can't presently be done) but in this case it works out exactly as desired.

[2015-09-15 17:33] johnnyreilly commented on #73
Excellent! Thanks

[2015-09-15 18:21] smrq commented on #76
Released in 0.11.15.

[2015-09-15 18:21] #76 closed

[2015-09-15 18:22] smrq commented on #73
Update for #76 is released in 0.11.15 so you should be good now.

[2015-09-15 18:22] smrq commented on #74
Fixed in 0.11.14

[2015-09-15 18:22] #74 closed

[2015-09-15 18:25] johnnyreilly commented on #73
Thanks - I'll give it a try and report back...

[2015-09-15 23:58] henrify commented on #15
Thanks for the reply. The current work-around / workflow of running regular compiler separately to generate definitions is perfectly adequate for us. I also appreciate your policy of not adding half-baked features with potential/unresolved edge cases.

[2015-09-17 04:33] johnnyreilly commented on #77
Hi @smrq,

I just upgraded to 0.11.15 and the files prop doesn't work I'm afraid.  I tried this but to no avail:

[code]

:sob:

[2015-09-17 04:37] dpogue commented on #77
`files` isn't allowed to use wildcards for some bizarre reason. It must list each .ts file individually (if you're using Atom as your editor, you can use wildcard in `filesGlob` and it will generate the `files` array for you). `excludes` (in TypeScript 1.6) has the same restriction :(

@smrq 0.11.15 did fix the issue I was seeing about reference files.

[2015-09-17 04:39] johnnyreilly commented on #73
Hi @smrq,

It's trying to process those files now but dying a death.  For each TSX file you receive an error like this:

  message: 'src/demo/components/ModuleSelector.tsx(16,66): Error TS17004: Cannot use JSX unless the \'--jsx\' flag is provided.',
  fileName: 'src/demo/components/ModuleSelector.tsx',
  line: 16,
  column: 66,
  name: 'TypeScript error' }

It looks like the jsx flag from my tsco

[2015-09-17 04:49] johnnyreilly commented on #77
Hi @dpogue,

You're talking about `tsconfig.json`, I'm talking about `karma.conf.js` :smile:

For clarify the files portion of my `tsconfig.json` looks like this:

[code]

and the files portion of my `karma.conf.js` looks like this: (globs are allowed in karma.conf.js to my knowledge)

[code]

But I still have an issue with reference files...

So for you it's working just with the tsconfig.json ch

[2015-09-17 04:52] dpogue commented on #77
Ahh, our karma.conf.js has `files: ['src/**/*.ts']`, but we have a test_helper.ts file that uses a `///<reference>` which is imported by all of our tests.

[2015-09-17 04:56] johnnyreilly commented on #77
Ah - I might try that!

[2015-09-17 05:09] johnnyreilly commented on #73
You can see the state of the build here: https://ci.appveyor.com/project/JohnReilly/globalize-so-what-cha-want-typescript

(Ignore the fact it's reporting "success" a quick look at the output makes it clear that's not the case...)

[2015-09-18 00:05] Semblant commented on #73
I believe I have this sorted. @johnnyreilly make sure you set your jsx option to 'react'.

[code]

Otherwise, when it's set to 'preserve', it balks at the unexpected token (the jsx html markup) like so:

[code]

Given @smrq 's most recent change from 2 days ago, the react flag automatically adds .tsx file extension resolution to browserify.

Now I just need to work some magic so I can require in c

[2015-09-18 05:19] johnnyreilly commented on #73
Hi @Semblant,

I currently have my `jsx` field set in the `tsconfig.json` like so:

[code]

I'm using `preserve` as I want Babel to do the JSX transformation.  Does tsify not read the `tsconfig.json`?  I was pretty sure it did...

I can't help but notice that the way you're plugging in TSIFY to Browserify differs to mine:
[code]

Whereas I'm just:

[code]

Am I doing it wrong?  The docs aren't cle

[2015-09-18 16:33] Semblant commented on #73
@johnnyreilly thanks for the idiot check on the tsify plugin. I ripped out my odd configuration and it is indeed reading from tsconfig.json.

In my first comment I overlooked the fact that you are using Babel and targeting ES6. I will fiddle with adding Babel to the mix and report back with any success/failure.

[2015-09-18 16:49] johnnyreilly commented on #73
Thanks chap!

[2015-09-18 20:27] Semblant commented on #73
Having orbited this issue, and related issues, for a few weeks now, I'm inclined to agree with @johnnyreilly 's earlier statement that the tooling might not quite be there yet (at least when used in concert). I have read through the other related issues and comments you posted John, and I think you were closest when you were considering using gulp-typescript in July.

In the project I'm currently

[2015-09-19 18:56] vivainio opened #78 "Depend on typescript ~1.6.3 instead of ^1.6.3"
Due to tsify, we had typescript 1.5 upgraded to 1.6 recently, which broke some builds (as 1.6 did some backwards incompatible changes).

It would be safer to keep each minor version of tsify locked to specific minor version of TS (e.g. 0.12.x to 1.6.x), so that you wouldn't get "surprise" typescript updates without updating tsify to next minor version.

Granted, this can be easily fixed by locking

[2015-09-19 19:17] smrq commented on #78
I'm a bit confused, because I did bump the minor version for TS 1.6? (I got
hit by the same thing on my own codebase, so I'm definitely aware of the
breaking change.)  If you were using ^0.11.0 then there should have been no
surprises.

Admittedly, the ramifications of semver would be clearer if I bumped to
1.0.0. It's about time, really.

On Sat, Sep 19, 2015, 1:56 PM Ville Vainio <notifications@

[2015-09-20 06:24] johnnyreilly commented on #73
Thanks for the reflections @semblant. On the one hand I'm tempted to go with your suggestion of just going with TSIFY but I want to write es6 code and TypeScript only down compiles some constructs. There's a way to use core js with TS but there's a dearth of guidance alas:

https://github.com/Microsoft/TypeScript/issues/3956

There's also switching to using WebPack as there's @jbrantly's solution

[2015-09-20 15:21] Semblant commented on #73
@johnnyreilly I had had a lot of success with @jbrantly 's set up. He maintains his ts-loader well. The only caution I offer, I ran into trouble when bundling tests for karma. Vanilla unit tests in something like mocha work fine, but if you have a bdd test framework that needs node's 'fs' module you might run into the same trouble I've had.

I will keep up, hopefully we can find a solution.

[2015-09-21 21:37] smrq commented on #78
Ah, reading this again more closely, I see what you're saying the problem is.  Yeah, shame on Microsoft for breaking semver... I'll release 0.11.16 depending on typescript@~1.5.x, and 0.12.1 depending on typescript@~1.6.x

[2015-09-21 21:41] smrq commented on #78
Fixed in 0.11.16 and 0.12.1, for typescript@1.5 and 1.6, respectively.  Thanks for the report!

[2015-09-21 21:41] #78 closed

[2015-09-22 01:15] rosendi opened #79 "read from stdin"
I'am probably missing something obvious here, but is it possible to use the tsify when running browserify that reading from stdin? I ask because I'd like to try using tsify with browserify-rails, but it runs browserify via the command line and turns it reading from stdin.

Example:

`echo "..." | browserifyinc -p [ tsify --module commonjs --target es5 --noImplicitAny --experimentalDecorators ] --l

[2015-09-22 19:59] rosendi commented on #79
The problem was in `browserify-rails` gem.

[2015-09-22 19:59] #79 closed

[2015-09-23 16:49] blakeembrey opened #80 "Move to TypeStrong organisation"
Hi @smrq!

We're working on bring together the various TypeScript compiler options and would love to have `tsify` join @TypeStrong. This would ensure improved support, help the community standardise on implementations and make this the "go to" implementation.

[2015-09-23 17:32] johnnyreilly commented on #80
Not that I have a vote but :+1: from me!

[2015-09-23 17:56] smrq commented on #80
Sure, sounds good to me :+1:

[2015-09-23 17:59] #80 closed

[2015-09-23 17:59] blakeembrey commented on #80
@smrq Awesome, thanks! I just sent you an invitation and you'll be able to move it across :smile:

[2015-09-23 18:37] jbrantly commented on #80
Cool! I like this general move to TypeStrong.

[2015-10-01 12:27] anjdreas commented on #73
@Semblant I tried webpack + tsloader, but am having issues when targeting ES6 in TypeScript and generating source map files. It all works very well when targeting ES5, though.
Could you possibly post your setup?

[2015-10-01 19:54] Semblant commented on #73
@anjdreas I moved back to ES5 for the time being. I don't recall having issues with sourcemaps in ES6 though. I have pasted my setup below, the only things that have changed are my target in tsconfig, and my import syntax for certain 3rd party modules.

webpack.config.js
[code]

tsconfig.json
[code]

The relevant bits might be the devtool option from the webpack config and the sourceMap option in

[2015-10-02 08:11] anjdreas commented on #73
Thanks, it's pretty much the same as my setup with ES5. Suppose I'll just wait a bit on ES6.

[2015-10-02 13:19] zdychacek opened #82 "ES6 decorators & sourcemaps generating error"
Hi,

thanks for this plugin.

I've just experienced an error while generating sourcemaps when I have ES6 decorator used in my code:

*build.js*
[code]

*main.ts*
[code]

I am getting this error: `Error: No element indexed by 1`.

When I remove `tsify` plugin from browserify pipeline, sourcemaps are generated fine.

Do you have any idea what's wrong?

Thanks for your reply,

O.

[2015-10-04 10:15] clebert opened #83 "Unexpected output"
Hello,

i have built a simple example project. When i run my build script it generates an, for me, unexpected output but no errors.

**Command:**

[code]

**Output:**

[code]

**Files:**

[code]

**File `build.js`:**

[code]

**File `tsconfig.json`:**

[code]

**File `src/index.ts`:**

[code]

**File `src/foo.ts`:**

[code]

**Versions:**

- browserify: 11.2.0
- tsify: 0.12.2
- typescript: 1.6.2

[2015-10-04 11:19] clebert commented on #83
If i remove the entry  `"experimentalAsyncFunctions": true` from the `tsconfig.json` file then it works as expected.

[2015-10-04 11:19] #83 closed

[2015-10-05 06:07] basarat opened #84 "tsconfig option"
tsify uses ts.findConfigFile from current directory : https://github.com/TypeStrong/tsify/blob/f8105a64236892e5401641214772319e7e8a3384/lib/Tsifier.js#L38 so you need to provide the path yourself. It needs to have an option `tsconfig` to allow the user to provide an explicit path to tsconfig.

refs https://github.com/TypeStrong/meta/issues/1
/cc @johnnyreilly

[2015-10-05 06:09] basarat opened #85 "tsify should use `typescript` as a `peerDependency`"
Otherwise the user installed version isn't used
Code : https://github.com/TypeStrong/tsify/blob/f8105a64236892e5401641214772319e7e8a3384/package.json#L31

/cc @johnnyreilly

[2015-10-05 07:10] johnnyreilly commented on #85
Given the [changes to peerDependencies in npm 3](https://github.com/npm/npm/issues/6565) should this be a devDependency instead?

[2015-10-05 12:02] nycdotnet commented on #85
Whatever the solution is for this should probably be the solution for grunt-ts too bearing npm 3 in mind.

I'm still annoyed they're doing this.

[2015-10-05 17:01] blakeembrey commented on #85
I don't think using `devDependency` would work for what you want, except in development here. Personally, I prefer the `peerDependency` changes - it was too easy to get into a broken state with npm before. Not saying this is the best solution, but personally, it is better. I've just opted to tell people to install what they want themselves and you could put TypeScript as a peer dependency for that

[2015-10-07 20:56] smrq commented on #85
I'm not really convinced that this is the correct course of action.  There's lots of arguments for both sides happening across a lot of different threads in various repos, but ultimately the way I'm reading the comments from the npm team, `dependency` is the correct type for TypeScript.

https://github.com/npm/npm/issues/6565#issuecomment-76482462

In this case, "I need this thing directly availab

[2015-10-07 21:03] blakeembrey commented on #85
@smrq The issue is with `dependency` you can't actually pass a custom compiler using `--typescript` as you are using `require` - which would resolve to your own instance before the users instance. The only way to solve that and keep it as a dependency would be to resolve the users `typescript` instance starting two directories up.

[2015-10-07 21:10] smrq commented on #85
@blakeembrey Well, I guess that's true if you're using the CLI.  With the API it would work as I stated:

https://github.com/TypeStrong/tsify/blob/f8105a64236892e5401641214772319e7e8a3384/index.js#L7-L8

As long as the caller passes `require('typescript')` and not just `'typescript'`, the module will be resolved relative to the caller, which is what you'd expect.

[2015-10-07 21:16] smrq commented on #82
Well... that's interesting.

[2015-10-07 21:24] smrq commented on #82
Pretty sure this is not a tsify bug, though I'm not sure whether it's from babelify or Browserify itself.

You can check it by running the compiled TS (with sourcemaps) through the same pipeline minus tsify:

## main.js
[code]

## build.js
[code]

[2015-10-07 21:24] #82 closed

[2015-10-07 22:14] cherrydev commented on #73
I feel like that this issue describes the problem that I'm having:

But the title of the issue is inaccurate since tsify DOES support typescript 1.6, but it does not support using ES6 as the target.  I've spent a while trying to figure out what might have been causing this, since I had also added babelify into the pipeline (which I've seen an example of) and thought it may have been babel, but aft

[2015-10-07 22:21] cherrydev opened #86 "ES6 target : 'import' and 'export' may appear only with 'sourceType: module'"
While using typescript 1.6.2 and the target: "ES6" option, I receive the error

while trying to build.  There is no stack trace indicating where it came from, but the conversation in issue #73 led me to discover tsify itself to be the problem.
I think with the release of typescript 1.6 this is going to rapidly become a major problem; in the past there has been very little use for ES6 output for TS

[2015-10-07 22:54] basarat commented on #85
You can leave it as it is, but I've added docs so that its clear that if they want to use their version they need to specify it : https://github.com/TypeStrong/tsify/pull/87 :rose:  Close this if you are okay with that :+1:

[2015-10-08 18:06] smrq commented on #86
1. Are you using Babelify?  Browserify does not support ES6 at this point in time, so you can't presently get true ES6 output -- you have to transpile.

2. Can you check whether you're running into the known Browserify bug detailed in #60?

[2015-10-08 18:11] smrq commented on #86
This is a common enough issue that I've added some details to the README.

[2015-10-08 18:13] smrq commented on #85
Thanks for the docs update.  I'll keep things as is for now but I'm keeping an eye on TypeStrong/meta#1 and other discussion.  I'm hoping that as npm 3 adoption settles down, a single dominant pattern gets established across the community.

[2015-10-08 18:13] #85 closed

[2015-10-08 19:07] cherrydev commented on #86
I think it's a great idea to add some detail about it, because I had seen mention of "ES6 mode" in the tsify documentation that implied that using ES6 target should 'just work'.

But... Yes, I have tried using Babelify.  I've tried expressly setting `{modules: "common"}` or the strict version of it.  I've put breakpoints inside of babelify and am certain that it's being called.  I can see the outp

[2015-10-08 19:17] smrq commented on #86
That is very surprising!  I didn't even think to check whether order-of-setup would matter, because tsify always registers its transform first in the list.  I'll investigate more.  Thanks for the additional details!

[2015-10-08 23:01] basarat commented on #86
I found the same to be true (https://github.com/basarat/globalize-so-what-cha-want-typescript/commit/2c60355e749664539fb4de1767693eebffda4e37), but I wasn't sure if it was just me. Guess its verified now :rose:

[2015-10-09 00:59] basarat commented on #85
Just info that might already be common knowledge: There is no pattern for dev tools ... but for front-end libs `peerDependency` is still the way to go. One does not want people installing two version of `react` or `jquery` or `insert famous lib here` :rose:

[2015-10-09 12:59] sebald opened #88 "Import HTML as strings"
It would be nice if tsify would allow the import of HTML (templates) as strings, e.g.

[code]

Or is this already possible? I tried to make this work with `stringify` but got compile errors :(

[2015-10-09 17:29] smrq commented on #88
If you want to do non-standard things with `require()` then TypeScript itself will not support them.  You can get around this by declaring a type declaration for `require` and not using the import syntax:

[code]

Then you can use whatever transform you like.  Also consider trying brfs, since it doesn't overload the meaning of `require()`.

[2015-10-09 17:29] #88 closed

[2015-10-09 19:12] bennylut opened #89 "Error TS2307: Cannot find module 'module-name'."
attempting to use tsify cause the error: Error TS2307: Cannot find module 'module-name'.
while when using tsc (the typescript compiler) no error is produced.

here is a simplified setup to reproduce the problem:

# tsconfig:
[code]

# app.ts:
[code]

# gulpfile:
[code]

Assume that all required packages are installed using npm.
The exact error given this setup will be:

`TypeScript error: src/app.

[2015-10-09 19:29] smrq commented on #89
Try adding `.add('path/to/your/typings.d.ts')` to your gulpfile.  tsify
does not look at the `files` or `filesGlob` properties of your tsconfig,
and that sometimes means you miss some .d.ts files.  This is behavior I'm
probably planning to change in the future -- I believe that ts-loader does
respect those fields for *.d.ts, and I'd like more feature parity between
the two.

On Fri, Oct 9, 2015 at

[2015-10-10 01:32] bennylut commented on #89
Thanks, that solved that immediately..
For others benefit I will post the gulpfile with the fix, note that this gulpfile assumes that the `typings` directory contains all your `d.ts` files.

# gulpfile:
[code]

[2015-10-10 05:38] basarat commented on #88
alternatively (and recommended if you are also targetting node) that the user adds `node.d.ts` to the project

[2015-10-12 06:22] sebald commented on #88
Thanks, I'll try your suggestions and will post my setup, if I get it working for future references :)

[2015-10-12 17:49] #89 closed

[2015-10-12 17:57] jbrantly commented on #89
FWIW, ts-loader does respect `files` (but not currently `filesGlob`). All it does is additionally load those files into the language service/program (but it doesn't limit the application to *just* those files).

[2015-10-14 18:34] smrq commented on #86
Actually, reading over the code, I was completely wrong.  It's been dependent on order-of-setup since `Initial commit`!  Definitely adding this to the README.

[2015-10-14 18:34] #86 closed

[2015-10-25 10:04] johnnyreilly opened #90 "tsify can't do what ts-loader can (or if it can I haven't managed to work out how)"
First of all, apologies for the slightly trollish title - I couldn't come up with one that was descriptive without sounding a bit ... nasty.  Anyway.

Technically this is a continuation of https://github.com/TypeStrong/tsify/issues/73.  However, since that's become something of a discussion thread I thought I'd raise a new issue so this didn't get lost in the noise.

Background first, I wanted to

[2015-10-25 18:54] johnnyreilly commented on #73
I've just managed to get this up and running, but unit testing appears to be a no-go.  Take a look at #90 for details.

[2015-10-28 19:26] rigoleto commented on #79
I'm having this same issue, did you figure out a way around it?

[2015-10-28 20:30] rosendi commented on #79
@rigoleto Take a look at browserify-rails/browserify-rails#110 and https://github.com/rosendi/browserify-rails and here is how to mix it together https://github.com/rosendi/figure-server/commit/9f85700c83a359c8ede00f1cf94c8247e7b4b569. I recommend you to switch from Sprockets to something like Gulp or Grunt since the compilation process is dramatically slow as well. If you develop Angular 2 applic

[2015-10-28 20:38] rigoleto commented on #79
Thanks so much for your response. I'll have to figure out which option is best for us, might use Babel instead.

[2015-10-29 11:08] tommyZZM commented on #15
:+1:

[2015-10-31 01:18] rosendi commented on #79
You're welcome. To be more precise you have to use two polyfills https://github.com/ModuleLoader/es6-module-loader/blob/master/src/url-polyfill.js and es6-promise. System.js has already included them.

[2015-11-06 15:38] Lillemanden opened #91 "Browserify's paths option does not seem to work with tsify"
Browserify have an option to specify which paths to look through when a file is "required" (`browserify({paths: ["./source/App"]})`), but that doesn't seem to work with tsify.
It is very helpful when you want to avoid relative paths hell, as you can setup the base of your app as one of the starting points.

The alternative of putting your code in the node_modules folder seems both odd (considering

[2015-11-06 15:49] jbrantly commented on #91
Just a quick 2 cents on this since something similar is implemented in ts-loader. You [can implement `resolveModuleNames` to achieve this functionality](https://github.com/TypeStrong/ts-loader/blob/34dd5c99330e3768997b7ebc5ec8a33f4d996edf/index.ts#L356-L385). This code (roughly) first tries to resolve using webpack's resolve logic and only uses TS's built-in logic if webpack's fails. The trick wou

[2015-11-06 16:04] Lillemanden commented on #91
I'm new to browserify (coming from requireJS), so I don't really know how easy it would be either. But thanks for the input.

[2015-11-09 12:38] davidreher opened #92 "Grunt & Browserify: 'import' and 'export' may appear only with 'sourceType: module' (2:0)"
Hey,

I know I have to run babelify after tsify is run, but I cannot figure out how to do so.

My browserify configuration looks like this:
[code]
Any ideas?

[2015-11-09 21:09] JonathanMEdwards opened #93 "Error TS2307: Cannot find module"
I see a bunch of other reports of this error but I still don't understand how to fix it. Further, this error only occurs for me in a freshly cloned directory, not in my main development directory. Based on reading the other issues I suspect the problem is tsify ignoring something in tsconfig.json but I have no clue what to do to fix it. Can we get some guidance on this issue?

[2015-11-10 21:47] JonathanMEdwards commented on #93
For others encountering this problem here was my solution. There was a .d.ts file for one of my modules listed in the files: section of tsconfig.json. I added it as an input file to the browserify command.

[2015-11-14 23:21] remojansen commented on #86
I'm trying to compile from .ts to .min.js as follows:
[code]
Before I was just doing:
[code]
I want to be able to use source maps. My tsconfig.json is the following:

[code]
Since I added ` "target": "es6"` I'm getting the error:

[code]

My Gulp tasks is the following:
[code]

I just added the ES6 compilation, before I was compiling TS into ES5 and everything worked fine (including source maps).

[2015-11-18 18:31] smrq commented on #91
@jbrantly That's cool.  I'm assuming that any code that you write using the Webpack resolve logic will look broken to Intellisense, though?  Since I don't know how your tooling could know about the resolve logic being swapped out.

This will take some work (especially going down the rabbit hole of Browserify's resolve logic) but it should be doable.

[2015-11-18 18:33] smrq opened #94 "Load `files` from tsconfig into language service"
This is equivalent to what `ts-loader` does.
(See: #89)

[2015-11-18 18:41] jbrantly commented on #91
Yup. That's the major downside :frowning: BUT I'm hoping when https://github.com/Microsoft/TypeScript/issues/5039 gets implemented things will get a little better on the IDE front because you can duplicate some of your custom path mapping between what webpack/browserify understands and what TS understands. The previous sentence is worded awfully but hopefully you get my point.

[2015-11-18 18:58] smrq commented on #91
Dang, that is a crazy complicated proposal.

What's giving me pause for implementing this (along with other similar features) is that for every "this feature is in Browserify, why doesn't it work with tsify" type issue, I can imagine an equally compelling "this feature is in tsify, why doesn't it work with my tooling" issue.  And that's not something that tsify can fix.

I dunno, I guess it's just

[2015-11-18 19:00] smrq commented on #93
Cool, sounds like you got it sorted.  Supporting tsconfig's `files` property is next on my todo list (#94).

[2015-11-18 19:00] #93 closed

[2015-11-18 19:04] jbrantly commented on #91
Very interesting. I'll have to keep that in mind as well. You make some good points.

[2015-11-24 03:37] episodeyang opened #95 "can't find npm module angular2"
Hi,

I have a project setup as

[code]

note that the gulpfile.js is a folder. The `gulpfile.js/index.js` look like:

[code]

I have angular2 installed via

[code]

yet when I run `gulp vendor-js`, I get the following error message:

[code]

[2015-11-24 03:52] episodeyang opened #96 "what's the difference between tsify and babel es7 decorator enabled?"
Hi,

Thanks for this plugin! When trying to get this to work, I ran into this reddit post and the recipe worked for me.

[transpile angular 2 with babel in combination](https://www.reddit.com/r/angularjs/comments/3agiv3/transpile_angular_2_with_babel_in_combination/)

What is the difference between this babel es7 decorator enabled mode and using tsify?
(I'm using angular2.)

[2015-11-24 10:44] episodeyang opened #97 "separate vendor bundle with browserify"
Hi,

I got tsify to work with angular2. The only remaining issue is that when I do `browserify().plugin('tsify').require(files)`, the package path is not properly resolved.

The bundle itself works perfectly well, what is not working is the external vendor bundle.

ps: sorry if this is not making sense, it's getting late and I'm a bit burnt out. will come back to update this issue tomorrow.

[2015-11-25 16:51] #96 closed

[2015-11-27 05:46] episodeyang opened #98 "making it possible to include html and jade files"
Hi,
Thanks for this great module!

I am interested in writing a plugin/transformer to include `.jade` files inside typescript.

There is currently a transform called `jadeify`, but it does not work with `tsify`.

How can I  get started?

There is an issue I filed there: [using with tsify plugin, only jade in the index.ts file is interpolated](https://github.com/domenic/jadeify/issues/46)

Thanks!

[2015-11-27 08:29] episodeyang commented on #98
Hi,

I got the following transform:

the problem is that if I output the module body with the es5 syntax, typescript gives me errors.
Yet if I use typescript syntax in the `moduleBody` variable, browserify gives me errors.

[code]

[2015-11-27 14:12] episodeyang commented on #98
Hi,

I modified the tsify index.js file a little, to insert transforms before setting up the pipeline, but I'm still getting typescript errors saying that:

[code]

If I want to make it possible to the following in my ts files:

[code]

How can I do this?

Thanks!

[2015-11-27 22:23] smrq commented on #98
You can't make TypeScript know about non-JS imports, but you can sorta hack
it syntactically with:

`declare function require(path: string): any;`

That can be in some shared definition file or something. Then you can use

`const templateString = require('path/to/file.jade');`

Or whatever. Note the const instead of import.

Hopefully that's all valid code, I'm typing this on my phone.

On Fri, No

[2015-11-28 17:34] episodeyang commented on #98
Thanks @smrq!
this is super helpful. So use const instead of import so that it does not require a module.

I ended up adding a template.jade.d.ts file for each one of the jade template file, and modify the jadeify transformer to export a module.

[2015-11-30 21:24] scamden commented on #29
does this mean you cannot use requires inline like this?

[code]

[2015-11-30 22:50] dpogue opened #99 "Fails with TypeScript 1.7"
Error message is `ts.parseConfigFile is not a function`.

There are no listed compiler API changes on the TypeScript wiki for 1.7.x though :(

[2015-11-30 22:55] blakeembrey commented on #99
Sadly the API changed in 1.7 (there's a few other breaking things I've hit already too). Here's the difference: https://github.com/TypeStrong/ts-node/blob/master/src/ts-node.ts#L27-L39 (implementor note: I don't recommend the custom interfaces).

[2015-11-30 23:07] smrq commented on #99
Thanks @blakeembrey, that'll save me some time.

All my tests pass after changing that bit, so hopefully that's all that this will take.

[2015-11-30 23:10] smrq commented on #98
Cool, no problem.  Glad it's working out for you.

[2015-11-30 23:10] #98 closed

[2015-11-30 23:19] smrq commented on #99
This specific thing is fixed in 0.13.0.  Try it and see if everything else is good.

[2015-11-30 23:23] dpogue commented on #99
Yep, 0.13.0 looks good. Thanks!

[2015-11-30 23:23] #99 closed

[2015-12-01 15:58] ducin opened #100 "tsify usage example needed"
Hello everybody,

I have a feeling that `tsify` will help me to use typescript compiling along with commonJS/browserify require function. But I couldn't find any example of tsify usage :( can somebody show a simple repository or even a gist, that would demonstrate the possibilities ot `tsify`?

----

I'm trying to come up with my own example, but I'm failing so far. I've got `greeter.ts` file:

[c

[2015-12-01 18:48] smrq commented on #100
Congratulations!  You've opened the hundredth issue!   :100:  [Click here](https://github.com/TypeStrong/tsify/tree/master/examples/greeter) to claim your prize!  (Some restrictions apply.)

This was actually a great excuse to finally do some work for #68.  Hopefully the linked example will make things a little clearer.

[2015-12-01 19:03] johnnyreilly commented on #100
Brilliant!

[2015-12-01 19:38] smrq commented on #100
I added a simple JSX example as well.  Gonna call this done for now.

[2015-12-01 19:38] #100 closed

[2015-12-01 19:39] smrq commented on #68
I've added tsify versions of the basic Greeter and JSX examples.  Gonna call this done for now.

[2015-12-01 19:39] #68 closed

[2015-12-02 05:07] basarat commented on #100
:rose: :heart:

[2015-12-02 19:37] logashoff commented on #92
Are you sure you need to target es6? I had the same issue, but I've changed target to es5. By default it targets es3.

[2015-12-02 20:00] logashoff opened #101 ""__extends" function repeats multiple times inside compiled code."
The following piece of code is being included into each compiled module whenever a class is extended inside that module:
[code]
So if you have 10 modules that have a class in each one of them that extends some other class, you'll have 10 exactly the same ```__extends``` functions in your compiled code.

[2015-12-02 20:03] smrq commented on #101
That's just how the TS compiler works.  Deduplicating that code is way, way outside the scope of this project.

I suppose it's possible that some sort of clever minifier could deal with it, but it would be quite tricky.

[2015-12-02 20:23] logashoff commented on #101
Is it possible to put all TypeScript boilerplate code above compiled modules? Maybe wrap everything in a function so it doesn't become part of the global scope.

Is this issue part of tsify functionality or should it be handled by some other 3rd party post-processor?

[2015-12-02 20:33] smrq commented on #101
The problem is that TypeScript compiles each file as its own separate chunk, including the boilerplate in each one.  It would be untenable to try and detect what's boilerplate vs. what's not on a per-file basis.

Post-processing might work... I sure wouldn't want to try and maintain it, though.  Better would be a TS compiler feature to do some sort of boilerplate extraction.

Either way, definitel

[2015-12-02 20:33] #101 closed

[2015-12-02 21:25] logashoff commented on #101
Pull-request regarding this issue has already been merged: https://github.com/Microsoft/TypeScript/pull/2901

There is ```--noEmitHelpers``` compiler flag which won't generate ```__extends``` function, but it can be included separately.

[2015-12-03 07:53] davidreher commented on #92
actually I want to run it through babel to get some more features, such as automatic 'use strict', and removing additional , at the end of objects ...
when not targeting ES6 I do not get any errors, because the typescript output is just working with browserify ... but then the ```import``` statements are not working ...

[2015-12-05 23:22] ghpabs opened #102 "Can tsify not include imports that resolve to `node_modules`?"
I don't need vendor files in my app bundle file.

[2015-12-06 01:15] blakeembrey commented on #102
@ghpabs Can you provide an example or the error you're getting?

[2015-12-06 20:06] ghpabs commented on #102
I wasn't getting any errors actually. The only problem was that all external modules were being bundled together into the output file.

In my setup I like to have - let's say for example - `libs.js` and `app.js` as separate files.

I'm now using `gulp-typescript`. The implementation can be found here: https://github.com/ghpabs/angular2-seed/

Cheers

[2015-12-06 20:06] #102 closed

[2015-12-06 20:18] blakeembrey commented on #102
@ghpabs `tsify` might not be what you needed then. `tsify` is a plugin for Browserify, which is a CommonJS module bundler (it's designed to package everything into a single file for running on browsers) and includes vendor files by default. You can read about excluding modules in their documentation (https://github.com/substack/node-browserify#bexcludefile).

[2015-12-06 20:25] ghpabs commented on #102
Thanks for clarifying the issue @blakeembrey. I'll def read more about `browserify`.

[2015-12-09 09:54] Brooooooklyn opened #103 "sorcemaps error"
[code]
it's would throw a error

[code]

but it works when use tsify alone.

[2015-12-12 09:59] RomanKisilenko opened #104 "Typescript 1.7+ support"
Attempt to transpile code using latest angular 2 fails since it expects Typescript 1.7 to be used.

Please consider updating tsify to Typescript 1.7.

[2015-12-12 17:23] blakeembrey commented on #104
It should work with TypeScript 1.7 already, unless I'm mistaken. What error are you getting? What version are you using?

[2015-12-13 03:10] RomanKisilenko commented on #104
Hi, indeed, we were using 0.12.2 version which support Typescript 1.6 only. I upgraded to 0.13.1 and now typescript compiler is not able to locate typings in npm modules anymore. While there is an npm module named angular2 in node_modules and corresponding typing in a module, I'm getting errors like
```TypeScript error: src/index.ts(8,25): Error TS2307: Cannot find module 'angular2/angular2'```
Is

[2015-12-13 03:16] RomanKisilenko commented on #104
Never mind, it is due to angular2 constantly changing. Sorry for false bug report.

[2015-12-13 03:16] #104 closed

[2015-12-16 21:59] mohsen1 opened #105 "export default and standalone"
What should I do if I use `export default foo` syntax in TypeScript and want to have `foo` exported as standalone object?

According to https://github.com/Microsoft/TypeScript/issues/2719 there is a bit of conflict on what `export default foo` should do in TypeScript but Browserify has the concept of `standalone` so it can get mapped to the standalone export.

Foe example if my module is this:

[c

[2015-12-29 13:41] LaurensRietveld commented on #86
I have the same problem. The [documentation](https://github.com/TypeStrong/tsify/#syntaxerror-import-and-export-may-appear-only-with-sourcetype-module) does not provide a solution here. I've resolve to compiling to es5 for now, but the `tsify -> babelify -> bundle` procedure mentions in the documentation does not work. Any suggestions on why this occurs (and possibly an update of the readme)?

[2015-12-29 18:43] cherrydev commented on #86
I'm using ts -> ES6 -> ES5 with babel without a problem.  If you're using the latest versions of babel and babelify, you must be sure to specify the es2015 preset, since babel no longer, by default, has any plugins specified.  I am currently only using inline sourcemaps, though.  If you're still getting "'import' and 'export' may appear only with 'sourceType: module'" it means that babelify is not

[2015-12-30 09:38] LaurensRietveld commented on #86
@cherrydev , could you share a repo with your config? I just made a minimal working example that reproduces this issue: https://github.com/LaurensRietveld/TsifyIssue .

[2015-12-30 10:00] cherrydev commented on #86
@LaurensRietveld, add `extensions : [".js",".ts"]` to your babelify configuration.  That seems to fix it for your repro!  I remember getting stuck on that at some point.  By default babelify will only process .js and maybe .es6 files.

[2015-12-30 10:02] LaurensRietveld commented on #86
excellent, thanks a bunch!

[2016-01-03 12:52] felixfbecker commented on #51
@smrq How can I add *.d.ts as another entry? Browserify doesn't seem to accept globs.

[2016-01-03 14:32] felixfbecker commented on #51
Ok I got it working with globby but it doesnt seem to find my tsconfig.json. I have basedir set to `src` and my tsconfig.json is located in the directory of the gulpfile.

[2016-01-03 15:12] felixfbecker opened #106 "Extremly weird sourcemaps"
Project structure:
![image](https://cloud.githubusercontent.com/assets/10532611/12079310/32674030-b234-11e5-8332-177f20e93db6.png)

Sourcemap structure:

![image](https://cloud.githubusercontent.com/assets/10532611/12079304/1790c9a2-b234-11e5-960d-4f7a44f61909.png)

The backslashes is not a problem, I know how to fix them, I just omitted that for pin pointing the issue. For some reason eplan and v

[2016-01-03 15:25] felixfbecker commented on #106
I think it is related to the `basedir` setting.

[2016-01-03 15:32] felixfbecker commented on #106
I'm using mold.transformSourcesRelativeTo for now instead of basedir

[2016-01-05 23:47] LPGhatguy opened #107 "[TypeScript 1.8] TypeError: fileExists is not a function"
As per the usual, tsify is broken on the latest development build.

When you call `ts.findConfigFile` with the API, a `fileExists` handler needs to be passed. This would happen here: https://github.com/TypeStrong/tsify/blob/master/lib/Tsifier.js#L40 -- probably with a small wrapper to an fs method?

Otherwise, the above error occurs in the findConfigFile function in the TS compiler.

I've opened a

[2016-01-08 02:02] blakeembrey opened #109 "Can't use CommonJS with ES6"
It's common to want to use ES6, but supporting CommonJS module output should be supported. Currently it's being overridden by `None` (https://github.com/TypeStrong/tsify/blob/e75bde695619879d7f9acb1d2faa5b83ec58435d/lib/Tsifier.js#L57-L59). I think it'd make more sense for it to use the users option, then fallback if it's a necessity (is there some advantage of having None and Browserify together?

[2016-01-08 03:07] smrq commented on #109
Oh that's a holdover from an earlier compiler version when CommonJS output
was not supported for ES6, I think. Should be no problem changing that.

On Thu, Jan 7, 2016, 8:03 PM Blake Embrey <notifications@github.com> wrote:

[2016-01-08 07:00] cherrydev commented on #109
Actually, it's still broken until TS 1.8 :(

https://github.com/Microsoft/TypeScript/issues/5594

[2016-01-08 18:11] blakeembrey commented on #109
That sucks, sorry! Hopefully these'll be fixed soon since it really hampers usage.

[2016-01-08 19:02] #107 closed

[2016-01-11 10:07] chrismatheson commented on #54
We are using this plugin on a large codebase that is being slowly converted to TS.

Currently we are at a build time of ~2m30s from standing start and a more reasonable ~15s for incremental watchify build.

we have a few engineers here and would be happy to dedicate some time to fixing this. Are there any pointers / directions / know performance bottle necks that can be attacked. Im going to try a

[2016-01-11 11:01] kuon commented on #54
But here is a starting point: https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#incremental-build-support-using-the-language-services

More specifically, this:
https://github.com/TypeStrong/tsify/blob/master/lib/Tsifier.js#L122

should be changed to use the ts language services, those services should be cached between run of the tsify:

`const services = ts.createLanguageService(

[2016-01-11 14:30] jbrantly commented on #54
There's quite a bit of information on this over at https://github.com/TypeStrong/ts-loader/issues/78. It's still an open issue for ts-loader as well, which does use the language service. The main slow point for incremental builds turned out to be collecting all of the various errors, because even though you only need to get the output for the changed file, you need to collect errors for all *affec

[2016-01-17 04:41] polkovnikov-ph commented on #109
They've fixed it, yet it still doesn't work for me for some other reason.

SyntaxError: Unexpected token (4:12) while parsing C:\projpath\server\source\index.ts while parsing file: C:\projpath\server\source\index.ts
    at DestroyableTransform.end [as _flush] (C:\projpath\node_modules\browserify\node_modules\insert-module-globals\index.js:97:21)
    at DestroyableTransform.<anonymous> (C:\projpath

[2016-02-03 18:50] dlebedynskyi opened #110 "tsify builds only root file with typescript 1.8"
Please refer to  for more details.
https://github.com/Microsoft/TypeScript/issues/6875

In short
[code]
included only bootstrap in bundle. any relative imports are ignored.  node modules imports are fine.

[2016-02-06 10:31] hcentelles opened #111 "Support for --allowJs option (TypeScript 1.8)"
I was trying to use the new --allowJs with TypeScript 1.8 Beta, but it seems like it's not compatible with tsify. A quick look into the code show me that non .ts files are not passed through the transform function (maybe I'm wrong), I tried to force it but without any luck.

The allowJs can be useful to migrate large codebases for js to ts.

[2016-02-07 22:44] spacejack opened #112 "Problem installing - unmet peer dependency browserify@>= 6.x"
Hopefully I'm not doing something stupid, but I'd like to install globally. I simply ran:

    npm install -g browserify

Then if I do:

    browserify --version

I get:

    13.0.0

Then I try

    npm install -g tsify

and get:

    tsify@0.13.2 requires a peer of browserify@>= 6.x but none was installed.

Not sure what to do.

[2016-02-07 22:53] yangmillstheory commented on #110
I'm seeing something similar. I have a simple test project:

`gulpfile.babel.js`:

[code]

`tsify` + `1.8` emits:

[code]

In the browser:

[code]

`tsify` + `1.7.5` emits:

[code]

And in the browser, the bundle is fine:

[code]

[2016-02-07 23:10] yangmillstheory commented on #112
I get the same.

Install browserify:

[code]

Install tsify:

[code]

[2016-02-07 23:46] spacejack commented on #112
@yangmillstheory I just posted this question on Microsoft/TypeScript gitter. Looks like tsify may not be necessary anymore(?)

That's how I'm using TS with Browserify

[2016-02-08 00:58] yangmillstheory commented on #112
@spacejack it's not necessary (you can compile to disk, then give browserify the entry point), but it's still useful for piping files straight into browserify.

[2016-02-09 23:29] ElsewhereGames opened #113 "Question: How to transform typescript before tsify compiles it?"
I am trying to apply a transform to all files before passing it along to this plugin, but the transforms are apparently ignored by tsify. I am thinking I may be doing something incorrectly in setting up my browserify workflow?

See my example here: http://stackoverflow.com/questions/35301615/tsify-ignores-transforms-during-browserify

[2016-02-10 02:57] bcherny commented on #64
good find, thanks @moll!

[2016-02-15 00:01] danieldram commented on #29
That's what I am most concerned about too.. I build ng apps this way

[2016-02-16 09:52] JAForbes commented on #112
@spacejack  I get the same error, but only if browserify is installed globally.

Try `npm install browserify tsify --save dev` and then

`node_modules/.bin/browserify index.ts -p [ tsify --noImplicitAny ] > bundle.js` (as an example)

If that works then you can add the above script to your package.json scripts section

[code]

And then `npm run compile`,  hopefully that helps.  I'm just trying to

[2016-02-16 15:57] theoy opened #114 "Mirror in-memory store to file system? (e.g. for tests)"
I noticed from the readme:

Is there any advice for users that like to run tests off of unbundled ("loose") files? Right now, I'm using Browserify and TypeScript, but I'm running my tests as loose files under Node, and am importing the original source modules using Node resolution.

If I have loose files and loose source maps, both my test runner and debuggers like Webstorm are happy :smile:

Is t

[2016-02-17 00:31] theoy commented on #112
@yangmillstheory wrote:

@yangmillstheory - do you know of a way to get `browserify` to recognise source maps on the .js files it consumes? When I tried raw `browserify` on *.js files generated by `tsc`, it didn't respect the matching *.js.map files that corresponded to the js files. My understanding was that `tsify` also gets that for its users, but I still have to try it out.

[2016-02-17 12:21] dmitrijs opened #115 "Command line approach (Example Usage) fails with "Error: Cannot find module 'tsify' from ...""
[code]

Are there some special steps that are needed when using **globally** installed `tsify`?

[2016-02-17 17:12] blakeembrey commented on #115
@dmitrijs Browserify transforms should always be installed locally. I would recommend you use local dependencies always. Is there a reason you don't want to use local dependencies? Here's some people asking about this already: https://github.com/substack/node-browserify/issues/1206.

[2016-02-17 17:12] #115 closed

[2016-02-19 06:57] etse commented on #110
I just want to add thar I have the same issue with TS 1.8

[2016-02-22 05:43] pocesar commented on #110
1.8 usage with the plugin is completely broken, plus it takes 30s+ seconds for outputting a 5kb (instead of the expected 255kb) file with gibberish like

[code]

[2016-02-23 20:48] LPGhatguy commented on #110
I've reached this issue too and it's blocking us upgrading to TypeScript 1.8. I'll take a look into it.

[2016-02-24 20:47] vivainio commented on #110
Watching as well, blocking my 1.8 migration

[2016-02-29 01:36] joelday commented on #110
There's something wrong with the module resolution where sometimes filenames are coming back as absolute paths in places they weren't before. Not really sure why.

I've got a fork that fixes it, but I haven't tested everything thoroughly yet, don't know if there are regressions or if there are issues with using earlier versions of TypeScript.

https://github.com/joelday/tsify

[2016-02-29 02:22] yangmillstheory commented on #110
@joelday I tried your fork in my test repo https://github.com/yangmillstheory/tsify-tsc-1.8.0-test; looks like it works with 1.8.0 and 1.7.5. Bundling code is [here](https://github.com/yangmillstheory/tsify-tsc-1.8.0-test/blob/master/gulpfile.babel.js#L16).

[code]

First with 1.8.0:

[code]

No errors in the browser, and I get all the right import side effects.

Then with 1.7.5:
[code]

Same as b

[2016-02-29 22:13] joelday commented on #110
@yangmillstheory I hit "tsx not supported in this version of TypeScript: 1.8.2" at one point during ```npm test```. Can't look further into it at the moment.

[2016-03-02 10:05] Davste93 commented on #86
That's nice, now going one step further.... If we need to reference external modules + typings, what's the approach? `tsc` builds fine but tsify gives me:

If I try to add typings to browserify:
[code]

I get:
`SyntaxError: 'import' and 'export' may appear only with 'sourceType: module'`

[2016-03-02 19:10] cherrydev commented on #86
@Davste93 First of all, I don't see that you're actually using babelify in your config.  tsify will ignore your 'module:' configuration in your tsconfig if it sees that you're targeting es6 and will automatically output es6 modules.  If browserify gets an es6 module (or anything other than commonjs) as an output from a plugin or transform it will punt with `SyntaxError: 'import' and 'export' may a

[2016-03-03 08:34] Davste93 commented on #86
Thank you so much for your fast response!  I'm still getting the same issue after using babelify however:
[code]

[2016-03-04 18:22] kuon commented on #110
All relative modules, eg `import * as Foor from './foo'`import as empty with typescript 1.8

[2016-03-07 00:11] zapu commented on #110
Apparently the issue has been fixed in this fork: https://github.com/joelday/tsify/commit/642a9e12e17d92bfba0f4cc1a249f9ebb5a3934e

any word on when it will be fixed in main repo? Thanks

[2016-03-07 22:43] aciccarello commented on #95
I'm wondering why are there three periods before project_folder?

[2016-03-07 23:06] pocesar commented on #110
vscode 0.10.10 is now shipping with typescript 1.8.7, this need to be implemented ASAP. I can't use string guards type ATM because of tsify

[2016-03-08 00:59] LPGhatguy commented on #110
@pocesar Seeing as the project maintainers have been missing for over a month on the issue, your best bet is to use the fork provided by @joelday.

[2016-03-08 01:08] pocesar commented on #110
@LPGhatguy oh well, alright

[2016-03-08 01:08] kuon commented on #110
@smrq you think you can get this one fixed? It's a major blocker for the 1.8 upgrade. If you are busy elsewhere, which is perfectly understandable, perhaps you could pick another maintainer to keep the project alive? tsify has become a major stone in typescript dev I think it deserves to stay alive.

[2016-03-08 11:10] secondwtq commented on #110
+1 for @joelday 's fix, it seems TypeScript is using absolute path [since this commit](https://github.com/Microsoft/TypeScript/commit/b8a3564d284fb2344dcedcc603fcc23cd5a0f1f6).

[2016-03-08 18:20] smrq commented on #110
My apologies for the radio silence.  Thanks so much to @joelday, merging his fix in ASAP.

[2016-03-08 18:24] zapu commented on #110
Woah, thanks! :+1:

[2016-03-08 18:27] smrq commented on #110
Published as 0.14.0.  :tada:  Again, thanks @joelday, I know a lot of people were waiting on this.

[2016-03-08 18:27] #110 closed

[2016-03-08 18:37] smrq commented on #114
This is an interesting request, but it's architecturally sort of problematic, and a bit of a niche use case anyway.  Honestly I'd recommend not using tsify in your case.  I could be wrong of course, but I doubt that bypassing IO makes enough of a difference to warrant the extra complexity in your build chain.

[2016-03-08 18:37] #114 closed

[2016-03-08 18:41] smrq commented on #113
This is unfortunately impossible because of architectural limitations.  tsify has to load files from disk because it pulls in extra files according to module resolution semantics.  Even if it's possible to pass those extra files through the pre-tsify transformation pipeline (which I'm thinking is unlikely), it would be disastrously unperformant.  You have to write your transformed files to disk be

[2016-03-08 18:41] #113 closed

[2016-03-08 18:47] theoy commented on #114
Cheers - thanks for the advice :smile:

[2016-03-08 18:50] kuon commented on #110
Thanks.

[2016-03-08 18:53] smrq commented on #111
Are you sure this isn't working?  I just made a quick test for `allowJs` and it passed just fine.

[2016-03-08 18:56] #97 closed

[2016-03-08 19:12] smrq commented on #112
This is an issue with npm.  Bizarrely, when installing packages globally you have to specify all peerDependencies together in the same install command, or else you get that warning.

[code]

I don't think this is even an issue at runtime -- it should still work fine.  If you run `npm ls -g`, the warning shouldn't be there.

More discussion on a different package about this same issue: yeoman/gener

[2016-03-08 19:12] #112 closed

[2016-03-08 19:32] smrq commented on #109
Now that we're on TS 1.8, this override has been removed.

[2016-03-08 19:32] #109 closed

[2016-03-09 01:48] joelday commented on #110
@smrq just happy to help!

[2016-03-09 10:18] sebastien-fragnaud opened #118 "Tsify doesn't support enum strings"
Hello and thanks for this project !

When transpiling React.d.ts (installed though Typings), I got the following error :
[code]

The incriminated line is :
[code]

When changing the union type into `any`, the problem goes away.

Any hint ?

[2016-03-09 11:03] sebastien-fragnaud commented on #118
I'm a moron. That's caused by Typescript 1.7.5, and in Tsify's master branch, it's already on 1.8.7 or something. I'll just wait for the next release (or is it released already ?).

[2016-03-09 11:03] #118 closed

[2016-03-09 12:22] delphinus35 commented on #118
You have to use `--typescript` option to compile with your own TS such as TS 1.8.x. But soon it will be updated to use TS 1.8.x in master, I think.

[2016-03-09 15:38] dlebedynskyi commented on #110
@joelday @smrq  thanks for fix guys

[2016-03-09 17:39] LPGhatguy commented on #110
Thank you!

[2016-03-10 22:54] ElsewhereGames commented on #113
I have since switched to webpack, which allowed me to do the transformation as desired.

[2016-03-16 09:35] sta-ger opened #119 "Relative path to definitions file when project directory is a symlink"
Hi! My working directory is a symlink. When I'm trying to declare a relative path to definitions file

`/// <reference path="../../../../../typings/howlerjs/howler.d.ts" />`

I have an error

`Error TS2300: Duplicate identifier 'HowlerGlobal'`

But if I'll try to declare an absolute path to the source directory

`/// <reference path="c:/proj/typings/howlerjs/howler.d.ts" />`

everything works fine

[2016-03-16 20:42] golgobot opened #120 "Standalone module doesn't export as expected"
I have a simple module called `test` with one file `index.ts`
[code]

Using the following to transpile and browserify. It should go ts -> es6 -> es5 -> browserify

[code]

It creates the following transpiled code

[code]

When I add this module as a dependency and try to `require` it, `require` returns an empty object. Here's the code

[code]
Here's the output

[code]
Not sure what I'm doing wrong

[2016-03-20 12:33] bestori commented on #112
A quick workaround, for anyone tackling this (browserify 13.0.0, based on smrq's [link](https://github.com/yeoman/generator-angular/issues/1192) -

Simply install both dependencies over the same command.

i.e.

npm install -g browserify browserify-incremental --save.

Hope this helps someone! :)

[2016-03-22 00:45] laurence-myers opened #121 "grunt-browserify halts on first error"
Using grunt-browserify only displays the first TS error. Any way to fix this?

Presumably, the task needs to register an error event handler to log the errors, but I can't find how to configure this from Grunt.

Or, is there another way to call browserify from Grunt?

(Maybe related to #43?)

[2016-03-28 00:34] LPGhatguy opened #122 "Referring to the same file with different casing causes empty output"
I have an app that's roughly structured like this:

[code]

`main.ts` referenced `Game/Core.ts` with the name `app/Game/Core` (correct), while `Net/index.ts` referenced it with `app/game/Core` (incorrect).

The result is that the output bundle is empty, with no errors or warnings reported. Fixing the casing to be correct in all cases fixes the issue, but an error would be nice.

This is on Windows

[2016-03-30 10:56] tamascsaba opened #123 "Support for --allowJs option (TypeScript 1.8)"

[2016-04-01 16:34] natewallace commented on #111
It looks like the allowJs compile option isn't currently supported here.  My understanding is that when this is set to true you can use the typescript compiler to compile es6 javascript files (*.js) in addition to typescript files (*.ts).

Even if the allowJs option is set to true any *.js files are not being compiled because of the following code which filters out *.js files from the transform fu

[2016-04-04 16:07] smrq commented on #122
What a bummer.  I see why that happens...

Not sure what the appropriate fix is, necessarily.  The problem is that since Windows is case-insensitive and pretty much everything else is case-sensitive, fixing this on Windows will break everywhere else.  It could be platform-dependent behavior, I guess, but platform-dependent switches kind of suck for maintainability...

Obviously, "don't do that" (r

[2016-04-04 16:13] smrq commented on #121
Yes, same issue, I'm sure.  `grunt-browserify` would need to be updated to catch errors thrown from Browserify instead of dropping them on the floor.

You could probably use the `postBundleCB` option to handle them yourself.  Try something like:

[code]

I haven't used Grunt in several years so I have no idea if that's correct, but it's a potential starting point.

[2016-04-04 17:07] LPGhatguy commented on #122
For reference, I actually first encountered this bug on OS X, which is also case-insensitive!

TypeScript seems to have gained a new option involving referencing files with different casing throwing errors. Does this problem happen at the TypeScript level or elsewhere?

If it's elsewhere, it might be possible to half-way fix the problem by detecting a case-sensitive filesystem and normalizing all

[2016-04-04 17:56] smrq commented on #122
TIL that OSX is case-insensitive too!  (As I'm typing this on OSX, no less...)

My assumption is that the error happens at the level of the in-memory file store, which is keyed on (case-sensitive) filename.  There might be a way of using the TS compiler's mechanism for detecting the problem, though... would be worth looking into.

[2016-04-05 11:32] laurence-myers commented on #121
Thanks for looking into this! :+1: However, I ended up using webpack and ts-loader. Feel free to close this issue.

[2016-04-06 01:56] #121 closed

[2016-04-07 09:15] daslicht opened #127 "Compile files without bundling ?"
Hi,
is it possible to compile files without bundling when targeting the server and bundling when targeting the client ?

Lets say we have the following:

[code]

Now I like to compile all ```*.server.ts``` files but do not bundle them , since I wint need that on the server anyways.

The ```*.client.ts``` should all be bundled so that I can use them in the browser.
For example bundle.js would consi

[2016-04-07 09:25] #127 closed

[2016-04-09 07:55] warhammerkid opened #128 "Compiling with jsx preserve results in an empty output (Typescript 1.8)"
The `isTsx` method no longer exists, so `getCompiledFile` fails to find the compiled output if compiling with the `jsx` flag set to `preserve`. It appears to work if the `jsx` flag is set to `react`, because in that case the normalized filenames all end in `.js` instead of `.jsx`.

Replacing the line with the following seems to fix it:

    if (/\.tsx$/.test(tsFile)) {

[2016-04-09 11:45] GeorgeKnap opened #129 "Cannot find module 'foo' (using gulp, browserify, tsify, babelify, typescript, ES6 modules)"
Getting the `Cannot find module 'foo'` gulp task error when transpiling typescript files using tsify. Below is a sample of my gulp task and ts code. This is happening when importing Esri ArcGIS classes from d.ts module and using "new" keyword to create instance of the class. Note that using console `tsc` command **works without any error** and generates javascript files correctly.

## Gulp
[code]

[2016-04-09 11:51] delphinus35 commented on #129
[code]

How about specifying `module` here?

[code]

And I think you should specify `module: "es2015"` instead of `"commonjs"` in `tsconfig.json`.

[2016-04-09 12:00] GeorgeKnap commented on #129
Thanks for quick response. Still no change unfortunatelly.
[code]
I'm using Visual studio2015 and I don't get any error while coding. Only in gulp task.
also typescript version is latest 1.8.9 both in visual studio and installed globally.

[2016-04-12 19:06] LPGhatguy commented on #111
@smrq, has there been any update on developing a fix or including the patch @natewallace proposed?

[2016-04-12 19:19] smrq commented on #111
My apologies, I meant to comment on this earlier.

I'm still not understanding what exactly is broken here, and the additional test that @natewallace added with his PR already passes without any of the code changes in the PR.  What does the TS compiler do to *.js files that requires to be transformed?

[2016-04-12 19:23] LPGhatguy commented on #111
I'm fairly sure all the TS compiler does to JS is downlevel emit (ES7/6 to ES5/3) and module emit (ES6 import to Common/Require/System).

It might do some other things, but those two features are the ones that appear to be lacking in my current workflow.

[2016-04-12 19:34] natewallace commented on #111
I don't believe the allowJs2 test I added will pass.  It differs from the allowJs test in that the y.js file contains ES6 language features.  Specifically it contains a string template which browserify doesn't know how to process and therefore results in an error.  The existing allowJs test contains only ES5 compliant code so browserify doesn't have any problems processing it as is.

[2016-04-12 19:47] smrq commented on #111
Browserify doesn't have any problems with template strings -- or, as far as I know, any ES6 syntax, apart from modules.  Are you sure the problem isn't, e.g. your version of Node?  If you try to run that test on a version of Node that didn't support template strings, you would get an error.

[code]

Regardless, it's not hard to make a test that *would* fail because of this (using ES6 modules).

Th

[2016-04-12 20:25] natewallace commented on #111
My mistake.  I must have seen the module failure(import statements) when testing and assumed that no ES6 language features were supported in browserify.

[2016-04-12 20:27] smrq commented on #111
No worries.  And I forgot to mention, I'm looking into this now.

[2016-04-12 21:02] smrq commented on #111
Should be fixed in 0.14.3.

[2016-04-12 21:02] #111 closed

[2016-04-12 21:03] smrq commented on #128
This should have gotten fixed with 0.14.3.  Can you try it and verify?

[2016-04-12 21:30] smrq commented on #106
Fixed in 0.14.4

[2016-04-12 21:30] #106 closed

[2016-04-12 21:55] warhammerkid commented on #128
Once I get home I'll do some more digging, but it's definitely not working, although I suspect it's a different issue. I put a `console.log` in the constructor for Babelify, and it only sees the entrypoint when `preserve` is on, instead of all the files that imported. Furthermore, when the entrypoint file is a `.tsx` file, my output is empty (except for the browserify bootstrap code).

[2016-04-12 22:00] LPGhatguy commented on #111
Thanks a bunch!

[2016-04-12 22:02] warhammerkid commented on #128
In case it helps, with `preserve` on I get a cache miss that I don't get with `react`:

[code]

[2016-04-12 22:11] smrq commented on #128
Oh, I misunderstood the problem.  Yep, that makes sense... should be easy enough to fix.  Thanks for the log output, that illustrated the problem perfectly.

[2016-04-12 23:15] smrq commented on #128
Ok, it seems that you have to add the `.tsx` extension to Babelify in order for it to operate on any files, even after they've been transpiled to jsx by tsify:

[code]

There was also a fix on this end, which is out in tsify version 0.14.6.

Thanks for the report!

[2016-04-12 23:15] #128 closed

[2016-04-13 14:02] aciccarello commented on #91
FYI Microsoft/TypeScript#5039 was merged into the 2.0 branch earlier this year. Is anyone using `TypeScript@next` with the module resolution?

I also like the "use TypeScript module resolution" option. If you consider tsify part of the TypeScript tooling it would make sense that you configure TypeScript once and all of the tooling automatically follows that. However, it may be hard to conceive how

[2016-04-14 14:58] iandonov opened #130 "TypeError: Object # has no method 'debuglog'"
cmd.exe /c gulp -b "C:\Temp\build2016-vsmobile-master\build2016-vsmobile-master" --color --gulpfile "C:\Temp\build2016-vsmobile-master\build2016-vsmobile-master\Gulpfile.js" build
 [22:03:38] Using gulpfile C:\Temp\build2016-vsmobile-master\build2016-vsmobile-master\Gulpfile.js
 [22:03:38] Starting 'patch-io'...
 [22:03:38] Starting 'patch-ng'...
 [22:03:38] Starting 'sass'...
 [22:03:38] Starting

[2016-04-14 16:45] smrq commented on #130
What version of Node are you using?  `debuglog` has been a part of `util` since v0.12.

[2016-04-15 06:16] iandonov commented on #130
v0.12.2

[2016-04-16 10:56] daslicht opened #131 "Browserify-Middleware + Tsify ?"
Hi,
how to use Browserify-Middleware with Tsify please ?

[code]

[2016-04-16 11:08] daslicht commented on #131
I also tried it like this:
[code]

[2016-04-19 18:54] DanielRosenwasser opened #132 "Support custom locations for 'tsconfig.json'"
The fact that tsify tries to figure out the appropriate `tsconfig.json` is great, but some projects have several different `tsconfig.json` files (e.g. one for source alone, one for tests, etc.). @sandersn ran into this issue.

I would think there are two separate (but not mutually exclusive!) ways of going about this:

1. Keep the current behavior but respect Browserify's `basedir` setting when lo

[2016-04-19 18:59] smrq commented on #132
Yep, both options make sense (and the latter was already suggested at #84).  I've just never gotten around to it.

PRs welcome, of course.  But I could probably knock this one out pretty quickly...

[2016-04-19 19:21] smrq commented on #132
Okay, so as far as option 1 goes, I've made the change, but it won't work properly with TypeScript <1.9, since `ts.findConfigFile()` will prioritize a tsconfig in the CWD over whatever is passed in via `basedir`.  Works just fine with `typescript@next`.

[2016-04-19 19:43] smrq commented on #132
Option 2, same caveat when configuring it with a directory.  Specifying a file works fine.  This will be out shortly.

[2016-04-19 19:48] smrq commented on #130
OK, reverting this change and making it a major version bump since it was apparently a breaking change for some versions of Node v0.12.  It'll be back in the next major version, so if you need to update further I would recommend updating your version of Node.

[2016-04-19 19:48] #130 closed

[2016-04-19 20:01] smrq commented on #132
Okay, try updating to v0.15.1.  This adds support for `--project`, which can be either a directory to search in (TS >= 1.9), or a tsconfig file, as well as the change to use `basedir` instead of the cwd when it is set.  (The `--project` setting takes precedence over `basedir`, which takes precedence over the cwd.)

[2016-04-19 20:01] #132 closed

[2016-04-19 20:02] smrq commented on #84
Fixed (about time, huh?) in v0.15.1.

[2016-04-19 20:02] #84 closed

[2016-04-19 21:15] sandersn commented on #132
I tried 0.15.1 with `typescript` (not `typescript@next`). Explicitly specifying tsconfig's path works. Thanks!

[2016-04-19 22:28] DanielRosenwasser commented on #132
Thanks a bunch @smrq!

[2016-04-20 18:06] smrq commented on #92
Cleaning up old issues; this should now be documented in the README

[2016-04-20 18:06] #92 closed

[2016-04-20 19:01] smrq commented on #94
Done in 0.15.2. :tada:

[2016-04-20 19:01] #94 closed

[2016-04-20 19:03] smrq commented on #73
Closing old issues; I think most(?) of these issues should be resolved with the recent updates to tsconfig handling.

[2016-04-20 19:03] #73 closed

[2016-04-20 19:03] smrq commented on #90
Closing old issues; I think most(?) of these issues should be resolved with the recent updates to tsconfig handling.

[2016-04-20 19:03] #90 closed

[2016-04-20 19:03] smrq commented on #77
Closing old issues; I think most(?) of these issues should be resolved with the recent updates to tsconfig handling.

[2016-04-20 19:03] #77 closed

[2016-04-20 19:03] smrq commented on #95
Closing old issues.

[2016-04-20 19:03] #95 closed

[2016-04-21 00:01] changsi-an opened #134 "Cannot import a .ts file under "node_modules""
Please see the test project: [ts_exp.zip](https://github.com/TypeStrong/tsify/files/229031/ts_exp.zip)

"a.ts"
[code]

"node_modules/b.ts"
[code]

As long as b.ts is under "node_modules", the following command will fail:
[code]
The error is
[code]

In the meanwhile, tsc compiler works without a problem
[code]

As long as `b.ts` is put to a location other than "node_modules" say "n_modules" (change

[2016-04-21 00:02] changsi-an commented on #134
Any work around please?

[2016-04-21 11:31] Avol-V commented on #134
As I know, if you want to use non-relative import, you should put your "b" module as `node_modules/b/index.ts`.

[2016-04-21 12:07] kahlil commented on #54
Hi! So in my tests compiling a simple Angular 2 project with tsify takes around 11s instead of 2s with babelify and recompiling with watchify takes 3s. Instead of 60ms with babelify. `tsc -w` also only takes a few ms. So far tsify does not seem to be a viable alternative to `tsc -w` and System.js.

[2016-04-21 16:04] todddcls opened #135 "Tsify doesn't work with symlinks"
If you have a symlinked directory in your source tree, Tsify will fail to returned the compiled code to Browserify.  The problem is that Tsify stores files by their symlink path, and Browserify calls transform with the real path.

Possible options:
a) Create a secondary map in Host, that stores a path's real path, so that when transform is called, it can find it's original name.

b) Add an optiona

[2016-04-23 15:08] alexk111 opened #136 "Stopped compiling after update"
Hi,

After updating *tsify* it stopped compiling. Prev version was **0.14.2**. I tested different versions, and it definitely appeared on **0.14.3**.
It seems that something wrong goes here: https://github.com/TypeStrong/tsify/blob/v0.15.2/lib/Tsifier.js#L273
When the ```normalized``` begins with ```../``` the resulting ```outputFile``` turns into ```__tsify__/../``` and it probably breaks the thi

[2016-04-26 14:48] Halajohn opened #137 "compile file outside 'rootdir'"
A simple and reproducible example is as follows:

./a/browserify_script.js
./a/a.ts
/b.ts

the content of a.ts:
`import b = require("../b");
var a_var = b.b_var;`

the content of b.ts:
`export var b_var = 3;`

the content of browserify_script.js is (taken from the first example of tsify site)

    var browserify = require('browserify');
    var tsify = require('tsify');

    browserify()
        .

[2016-05-02 16:46] justindujardin commented on #134
I'm having a similar problem. I need to fix this to continue with my work, are there any suggestions? I'd be willing to put together a PR.

[2016-05-02 18:16] changsi-an commented on #134
@justindujardin May I see your PR please? I need this to unblock my work too.

[2016-05-02 18:24] smrq commented on #134
This is a consequence of Browserify refusing to apply transforms to `node_modules`, which is by design.  You can declare a transform as `global`, which may or may not have horrible side-effects if you are pulling in any *other* `node_modules`, but I don't think there is presently a way to specify that `tsify`'s transform should be global.  I'll take a quick look.

[2016-05-02 18:29] justindujardin commented on #134
@smrq I'm currently trying to specify the transform in the package that I would like to use:

[code]

  It looks like this approach is the "right" way to handle this. Tsify does not work as expected with this setup as the index.js file is given a string argument instead of an instance of Browserify.

I'm trying to modify tsify to support this kind of usage, but having mixed results so far.  I'll r

[2016-05-02 18:32] smrq commented on #134
@justindujardin Yes, that would be the "right" way for a transform; however, the transform is only a small part of `tsify`'s inner workings.  `tsify` is a *plugin*, which operates differently; I don't think you can configure plugins as part of the `browser` field in `package.json`, unfortunately.

[2016-05-02 19:02] smrq commented on #134
Okay, 0.15.3 supports the `global` option which will apply the transform to all files, whether in node_modules or otherwise.  There are more implications to this flag, so I would recommend carefully reading the Browserify docs to see if it's a good fit for your situation.

[2016-05-02 19:02] #134 closed

[2016-05-02 21:06] justindujardin commented on #134
@smrq it seems like `tsify` (or more specifically `browserify`) is not well suited to consuming third party modules that include typescript in them. I will try to use webpack and see if the results are any better.

[2016-05-04 11:06] pocesar opened #138 "Compiled files with random "path":undefined on Node 6 only"
I'm not sure if it's node 6, or the 0.15.3 update, but I'm getting errors when generating code through the plugin

For example, in a few places, it's randomly showing things like this:

[code]

it was working before. I'll try to downgrade both node and tsify to see the culprit

EDIT: Ok, it's a problem with node 6. I've downgraded to Node 5.11 and it's working again. Now, I'm not sure if it's a pr

[2016-05-11 18:48] iDev0urer opened #140 "Add support for exclude"
Right now when trying to run `tsify` with an angular 2 app (`angular2 RC 1`) I get a mountain of typescript errors in the console. When running `tsc` by itself it compiles fine because I am excluding the `node_modules` directory. We should be able to exclude directories so that external resource's errors don't show up in the console.

My browserify task:

[code]

My tsconfig.json:

[code]

[2016-05-11 21:25] bengro opened #141 "Emits different type of error for missing declarations"
I'm using the tsify plugin for [karma-browserify](https://github.com/nikku/karma-browserify/issues/190).

**Status quo**:
tsify emits an error when there is a compilation error. karma-browserify handles the error and aborts the test run when there is an error.

**Problem**:
The static analysis throws compilation errors for missing typings. The TypeScript compiles with errors, but the code produces

[2016-05-12 16:40] #138 closed

[2016-05-12 18:20] smrq commented on #136
Same as #137

[2016-05-12 18:20] #136 closed

[2016-05-12 18:25] smrq commented on #140
I think using TypeStrong/tsconfig for resolving and parsing tsconfig.json should do this.  Should happen soon(TM).

[2016-05-12 19:20] smrq commented on #137
Thanks for the report!  This should be fixed in v0.15.4.

[2016-05-12 19:20] #137 closed

[2016-05-12 20:04] smrq commented on #140
Added in v0.15.5.

[2016-05-12 20:04] #140 closed

[2016-05-12 20:05] smrq commented on #103
Closing old issues.  Feel free to mention if you are still encountering problems.

[2016-05-12 20:05] #103 closed

[2016-05-13 08:39] bengro commented on #141
I'm willing to implement it. Do you have any pointers for me?

[2016-05-16 04:12] LPGhatguy opened #142 "Turning off automatic loading of tsconfig.json"
Hi there!

My team using tsify with Gulp to build a whole bunch of TypeScript files. We have a `tsconfig.json` file in our root to satisfy our editors, but we don't use it in our build system.

Up until `tsify@0.15.5`, that was okay, but with this update it seems like the plugin is now loading files from the tsconfig and our build system, which is bad. We've reverted to `0.14.8` as a result.

Is t

[2016-05-17 02:14] hakatashi commented on #142
I also have this problem. I think the recent changes (like 0.15.2 or 0.15.5) about tsconfig.json are very breaking and should be released under major version...

[2016-05-17 08:20] thunderkid opened #143 "tsify 0.15.5 compiles all ts files even if they're not imported"
I'm using browserify/tsify within a gulp file. It starts off by compiling some file passed from the command line - `tsStartFile`. Everything is fine with tsify 0.15.4. But with 0.15.5, instead of just starting with `tsStartFile` and working recursively outward through all imported `.ts` files, it seems to compile every single `.ts` file it can find beneath the starting directory. Aside from being

[2016-05-17 16:53] LPGhatguy commented on #143
Do you have a `tsconfig.json` file in the root of your project?

[2016-05-17 16:55] thunderkid commented on #143
Yes. It's this:
[code]

[2016-05-17 16:56] LPGhatguy commented on #143
This might be the same issue as #142, which is a problem that my team ran into. The compiler is loading files according to `tsconfig.json` *and* the files specified in Gulp, which causes all sorts of problems.

[2016-05-17 19:46] thunderkid commented on #143
But I don't see where my `tsconfig.json` is telling it to load any particular `ts` files.

[2016-05-18 18:16] LPGhatguy commented on #143
By setting the `exclude` setting, all files not in the exclude list are implicitly added and marked for compilation.

[2016-05-19 10:41] iKBAHT commented on #142
Our project have many of bundles with different configs for typescript. It will be great if there are exist option to put any file as config.

[2016-05-19 17:30] smrq commented on #143
I recognize this behavior may be counter-intuitive for some users, but that's how `tsc` works, which is why tsify now behaves this way.

Ultimately, there are two competing interpretations of which files to compile, one of which comes from the Browserify camp, and the other of which comes from the TypeScript camp.  Browserify users expect the passed-in files and their dependencies to be used, and

[2016-05-19 17:30] #143 closed

[2016-05-19 17:46] smrq commented on #142
@hakatashi I have reverted the changes in 0.15.5 and re-released under a major version bump.

@iKBAHT You can point to a different `tsconfig.json` with the `--project another-tsconfig.json` option.  (This is not called out explicitly in the README because it's a feature of `tsc`.)

@LPGhatguy I appreciate the thoughtful writeup.  It hadn't occurred to me that more closely supporting the features o

[2016-05-19 17:57] LPGhatguy commented on #142
@smrq RE this thread & #143:

My `tsconfig.json` is correct, but not a complete description of our compilation flow. The official compiler doesn't support glob file selection, which is one reason why we use `tsify` with a tool like Gulp.

I think that this decision should be okay for compilation targeted at the CLI, but for people using Browserify and `tsify` programmatically, this change ignores

[2016-05-19 18:35] smrq commented on #142
Re: globs, it might be worth keeping an eye on Microsoft/TypeScript#5980.  Incidentally, because tsify is now using TypeStrong/tsconfig for `tsconfig.json` parsing, it already supports the non-standard `filesGlob` property, so that might help out as well.

Interesting consideration about the CLI vs. API.  With Browserify, you don't get any distinction between the two as a plugin/transform author,

[2016-05-19 20:17] LPGhatguy commented on #142
That API is the compiler API that I was thinking of.

Support `filesGlob` is awesome, but our TypeScript editor plugins don't implement it D:

Additionally, we use our build for a little bit of crazier stuff. In the typical application, we have three code locations:
- `client`
- `server`
- `common`

`client` and `server` both independently reference `common`, and because of the different environme

[2016-05-20 15:25] iKBAHT opened #145 "Require function give wrong object"
In version 0.15.4 and higher our project has problem (in 0.15.3 it works). We use [grunt-browserify](https://github.com/jmreidy/grunt-browserify) with aliases. Example of config for grunt:
[code]
Bundle creation finish normally, but when it runs in browser there are error. Error happens because **require('docsUtil')** return an empty object (docsUtil is alias to real module).

[2016-05-23 14:43] thekip commented on #145
Check what is in compilled output. Seems this module will be empty in bundle.

[2016-05-25 22:57] ksikka commented on #54
If anyone wants to try an easy fix that's probably incorrect in a lot of cases, but will likely cut incremental compile time in half:
https://github.com/TypeStrong/tsify/compare/master...ksikka:perf-fix

I don't have access to a codebase large enough to test it myself, but I generated a bunch of TS code and this fix does cut down the incremental compile time significantly on my highly unrepresenta

[2016-05-28 09:31] garthk commented on #142
While specific, @LPGhatguy, your use case exactly matches mine. It's early in my project, so it makes a lot of sense to have client and server in the same repository. `tsfify` drags the server source into the client bundle. While I sympathise with @smrq's decision to prioritise `tsc` conventions over `browserify`, the result is that I can't use `tsify` and eagerly await a fork with the opposite pr

[2016-06-08 20:11] martinleopold opened #147 "Different behaviour than tsc when tsconfig.json is present"
It seems that tsify will compile all .ts files it can find when a tsconfig.json file is present, even when an entry file is given.
This differs from `tsc` behaviour, which ignores the tsconfig.json when an input file is specified. (As outlined in [the docs](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html))

This is problematic since it results in compile time errors, when undesired

[2016-06-09 14:44] DanielSchuech opened #148 "Usage of tsconfig.json field rootDir"
I think that the `rootDir` field of the tsconfig.json is currently not used by tsify.
A problem only exists when you use an es5 or es6 entry file for browserify and have no ts file in the same directory. The ts fiels will be recognized by tsify but are not cahced with the right folder structure so that they are not found by `getCompiledFile`.

The workaround is creating an empty ts file in the dir

[2016-06-14 21:29] LPGhatguy commented on #142
Thanks for the feedback and input on this!

Has there been any decision making involving this sort of use of the project, @smrq, like a flag?

I can understand preserving the decision that's friendly to CLI users, but it almost certainly means that users with more complicated workflows will need to find another solution for TypeScript and Browserify.

[2016-06-15 09:48] stefan-leye commented on #54
I have the same problem with watchify and tsify, taking around 3 seconds to compile everything.

[2016-06-15 09:50] kahlil commented on #54
My strong recommendation is to just use `tsc` on the command line to compile your TS to ES5 with CommonJS modules and then have Browserify take over. It's really fast and works well.

[2016-06-23 18:57] jmlee2k opened #149 "Support for Typescript 2.0 (typescript@next)"
When attempting to use the latest nightly build (Version 1.9.0-dev.20160623-1.0) in place of the bundled typescript compiler, it fails with the following message:

`[14:34:35] TypeError: Cannot read property 'useCaseSensitiveFileNames' of null
    at matchFileNames (c:\work\browesrify-test\node_modules\typescript\lib\typescript.js:45447:29)
    at getFileNames (c:\work\browesrify-test\node_modules

[2016-06-23 22:27] pizza2code opened #150 "Bug: Recompiles src files many times"
Even after paring our gulpfile down to the small example you see below, I'm getting numerous re-compiles of the same Typescript files.  If you see the console output below, `main.tsx`'s test error is reported **11 times** in total!

This has been happening since the first time I tried tsify. I have no tsconfig.json and can't think of any other files that might interfere with the build.  RHEL 6.6,

[2016-06-23 23:06] Matthalp commented on #149
+1

typescript@next makes managing Typescript definition files much easier, so it would be great to have support in tsify. More details here:
https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

[2016-06-24 15:02] jmlee2k commented on #91
@aciccarello I've tried using the TS 2.0 module resolution (baseUrl in tsconfig.json).  It works great when using the standalone compiler, but tsify doesn't seem to support the new TS branch yet (I mentioned the error in issue #149).

[2016-06-27 16:38] pizza2code commented on #150
After investigating further, it appears tsify lacks support for any sort of non-local modules, whether referenced by [NODE_PATH](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders) (using a modified Typescript) or by symlink (https://github.com/TypeStrong/tsify/issues/135).

This makes it difficult if not impossible for our org to use tsify, since we have multiple in-house

[2016-06-29 17:38] scamden opened #151 "Would it be possible to get an example of combined .js and .ts in the same project"
It's not clear where the compiled js gets written in tsify and I'm unable to require the result of a compiled ts module from a js one. Is there a straightforward way to do this? Would love a simple example.

[2016-06-29 19:54] scamden commented on #151
hmm i saw your test case with jsRoot but when i used that exact syntax, the module i require is found but is still the empty module.exports object...

[2016-07-02 09:10] NeverwinterMoon opened #152 "Completely ignores nested imports starting with version 0.15.4"
The content of the imported file would look like this if the import is not done from the root file.
[code]

So, if c is imported from b and I run browserify + tsify on b, all is fine. If c is imported from b and b is imported from a and I run browserify + tsify on a, c will be empty.

**edit**: Yeah, I think this explains it better: https://github.com/TypeStrong/tsify/issues/148

The offending com

[2016-07-02 09:18] NeverwinterMoon commented on #151
I think I am having exactly the same issue (https://github.com/TypeStrong/tsify/issues/152). My problem disappears if I use version 0.15.3. I don't use any additional configuration, just all the defaults.

[2016-07-02 16:24] scamden commented on #151
Ya ours disappeared at 0.14.0, will try the version you mentioned also,
just for info next week
Sterling Camden
Sent from SalesforceIQ

On July 2, 2016 at 2:18 AM, NeverwinterMoon<notifications@github.com> wrote:

I think I am having exactly the same issue (#152
<https://github.com/TypeStrong/tsify/issues/152>). My problem disappears if
I use version 0.15.3. I don't use any additional configuratio

[2016-07-07 05:44] basarat opened #153 "Move `typescript` as a dev dependency"
Its been raised before : https://github.com/TypeStrong/tsify/issues/85  Moving it to a dev dependency is what `ts-loader` does : https://github.com/TypeStrong/ts-loader/blob/master/package.json#L47 Mind if I do the same here.

This will greatly help me in migrating babel/babelify projects to TypeScript. The projects I am migrating all use *only `npm`* scripts so I can't use the plugin api with `re

[2016-07-07 06:22] blakeembrey commented on #153
Agreed @basarat 👍 We should work on making all the loaders BYOT (bring your own TypeScript) so people can upgrade independently.

[2016-07-07 07:00] basarat commented on #153
Can I has npm access please 🐱

[2016-07-07 07:02] basarat opened #155 "Cannot read property 'useCaseSensitiveFileNames' of null"
With TypeScript latest `parseJsonConfigFileContent` will throw an error:

[code]

Here is the call : https://github.com/TypeStrong/tsify/blob/97eaeec38d9ac0088973df801d753b0c7a1cbb97/lib/Tsifier.js#L75

[2016-07-07 07:51] #155 closed

[2016-07-07 07:52] #153 closed

[2016-07-07 16:53] Avol-V commented on #54
@kahlil What about sourcemaps?

[2016-07-07 18:41] blakeembrey commented on #153
Ah, I didn't see I had gotten access. Awesome 😄

[2016-07-07 18:50] smrq commented on #153
Thanks for taking care of all this stuff guys!

On Thu, Jul 7, 2016, 1:41 PM Blake Embrey <notifications@github.com> wrote:

[2016-07-07 19:25] basarat commented on #153
Mind if I deploy this as `1.0.0`. Basically increment the major version as this is a breaking change as the users now need to `npm install typescript@whatever-version-they-want` as well :rose:

[2016-07-11 19:52] LPGhatguy commented on #142
With the release of TypeScript 2.0 Beta (and tsify 1.0), I'm worried about diverging featuresets with this project.

Is there any possibility of a flag to turn off automatic `tsconfig.json` loading?

[2016-07-12 12:10] Loilo commented on #149
Isn't this solved by #154 ?

[2016-07-12 18:38] azer opened #157 "Fresh Install Fails with "Cannot read property 'basedir' of undefined" error"
Trying this command on:

[code]

on this file;

[code]

Fails with following error:

[code]

Any ideas ?

[2016-07-12 19:20] levibotelho commented on #129
I'm having a similar issue when running incremental builds, may or may not be related. Here's an extract from my build script.

[code]

When I run this script in watch mode (with the `dev` argument) it compiles correctly the first time around. However when I change a file and the incremental compilation kicks in I get a `Cannot find module` error and a slew of others afterwards due to the compiler

[2016-07-12 22:19] basarat commented on #149
Its been solved since `1.0.0`. Enjoy :rose: ❤️

[2016-07-12 22:19] #149 closed

[2016-07-12 22:20] basarat commented on #149
Yup #154 and #155 were the relevant fixes :rose:

[2016-07-12 22:22] basarat commented on #157
In your `package.json` you have it as a transform? **you shouldn't**. Please share the `package.json`. I had the same issue once :) :rose:

[2016-07-12 22:29] cartant commented on #157
The command that you've used works fine, for me. What versions are you using? I'm using:

* Browserify 13.0.1
* Tsify 1.0.0

[2016-07-12 23:54] azer commented on #157
@basarat I did not. Actually, in my second try, there wasn't even package.json

[2016-07-13 00:01] Loilo commented on #149
This doesn't support [TS 2.0 module resolution](https://github.com/Microsoft/TypeScript/issues/5039) features, does it? At least I can't get it running.

[2016-07-13 09:19] OliverJAsh commented on #149
Works for me, thanks!

[2016-07-13 09:59] mredbishop commented on #138
I have a host of broken code since upgrading to anything after node 6.

[2016-07-14 01:20] basarat commented on #138
node 6 broke a bunch of my code as well. I'm sticking with node 5 :rose:

[2016-07-14 11:46] Loilo opened #160 "Support for TypeScript 2.0 Module resolution"
As you certainly know one of the big improvements with TypeScript 2.0 is the ability for developers to define their own path mappings and determine the path(s) where there modules are located. (More information here: [What's new in TypeScript](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#user-content-module-resolution-enhancements-baseurl-path-mapping-rootdirs-and-tracing)

[2016-07-14 11:46] Loilo commented on #149
I just opened [a new issue](160) for the module resolution case.

[2016-07-14 21:23] cartant commented on #160
I am currently trying to find and fix whatever it is with the TypeScript 2.0.0 beta that breaks my tsify-based builds. Once I've done that, I can have a look to see what the JS output looks like when the new module resolution options are used, as that's all Browserify will care about.

[2016-07-14 22:20] basarat commented on #160
Indeed I think this might be out of scope for `tsify` as browserify is responsible for doing the module resolution. All we do is a `.ts` to `.js` trasform.

# Architecture notes:

We register ourselves a plugin. On load we resolve to some tsconfig.json and create a typescript `Program`. We keep this program in memory and use it to emit `.js` for any `.ts` file that browserify asks us to tranform.

[2016-07-15 07:20] Loilo commented on #160
@cartant The output of TS 2.0 stays exactly the same as if those options weren't there. Those new options from tsconfig.json are really only ever evaluated by the TS compiler itself for TS-related but they do not affect the compiled output. That's the problem here.

@basarat Okay, that's a fair amount of really valuable information. ❤️
I'm afraid this actually *is* out of scope of tsify. Neverthel

[2016-07-15 08:40] cartant commented on #160
@Loilo It's the paths that are written into the `require` calls in the JS files that'd I'd be interested in. I will have a closer look at it when I'm finished getting the new beta to work for my builds. I'm spending a little bit of time on it each day. Whilst doing this, I'm compiling some notes on how things hang together within the plugin's implementation.

@basarat I'll submit a PR with some ar

[2016-07-15 10:38] Loilo commented on #160
@cartant That's exactly what I meant - the paths you write into the TS `import` statements are not touched no matter what the configurations say. (And that's, as I mentioned, by design.) Only TypeScript's features like type/error checking  are affected but not the compilation result.

But you will see that on your own when it comes to that. 👍

[2016-07-15 10:42] cartant commented on #160
@Loilo No worries. Thanks.

[2016-07-16 01:18] cartant opened #161 "TypeScript 2.0.0-beta bug affects some build configurations"
@basarat For your reference, I've traced my TypeScript 2.0.0-beta problems to a TypeScript commit that changes the handling of source files and common and output directories. I've submitted an [issue](https://github.com/Microsoft/TypeScript/issues/9768).

[2016-07-16 07:54] OliverJAsh commented on #54
Can you input a source map to browserify?

[2016-07-16 08:02] levibotelho commented on #54
@OliverJAsh It's unclear http://stackoverflow.com/questions/32486196/preserve-original-sourcemap-with-browserify but I've asked the question to clarify https://github.com/substack/node-browserify/issues/772. I'm currently doing what @kahlil is doing and wanted to use sorcery to combine my maps from compilation with my maps from bundling. However I run into this issue when getting sourcemaps from t

[2016-07-21 09:59] kahlil commented on #54
@Avol-V yeah we realized that too. They don't work. The whole gulp/browserify setup became too complicated so we switched to Webpack for JavaScript building. That turned out to be the simplest and least work intensive solution.

[2016-07-26 17:01] Dj-jom2x opened #164 "Cannot find module 'typescript'"
sorry to bother you guys but i need help i got this error
[code]

why is that?
i already have tsify,browserify,typescript 1.8.10

i also try this i dunnu if i complete understand the usage sorry

browserify build.js > bundle.js
or
node build.js
[code]

[2016-07-26 17:28] Dj-jom2x commented on #164
nvm my mistake i installed typescript globally XD

[2016-07-26 17:28] #164 closed

[2016-07-26 18:12] Dj-jom2x opened #165 "exclude @angular package"
how to exclude @angular package ...

my exclude is

[code]

[2016-07-26 19:36] rolandjitsu commented on #155
@basarat has this been solved? I seem to be having the same issue.

[2016-07-26 19:39] basarat commented on #155
@rolandjitsu yes. Fixed since version 1.0.0 :rose:

[2016-07-26 19:41] rolandjitsu commented on #155
@basarat ok, thanks. I think it might be that some other package is referencing an older version. I'm using Ionic 2, and one of their npm packages uses this package, but it seems it's at version `^0.14.1`.

[2016-07-26 19:54] rolandjitsu commented on #155
Now I get the following:
[code]

Is tsify referencing that file somewhere?

[2016-07-26 19:56] rolandjitsu commented on #155
Ooops, my bad, I was referencing that file. Sorry 👍

[2016-07-26 20:07] basarat commented on #165
I don't think its tsify. Its actually browserify. See https://github.com/TypeStrong/tsify/issues/160#issuecomment-232809531 for architecture notes. Basically we give `js` only for `ts` that browserify asks us, we don't push files *to* browserify, just compile the ones it asks us :rose:

[2016-07-26 20:07] #165 closed

[2016-07-27 06:49] Dj-jom2x commented on #165
yeah sorry i go there and read abut exclude and it works but not all angular are excluded still 100kb xD

i done this by
tsc angular2_app/main.ts --target ES5 --module system --experimentalDecorators --moduleResolution node --emitDecoratorMetadata --outFile scr/angular2_app/bundle_ts.js

then uglyfy ...

11 kb now

[2016-07-27 12:44] OliverJAsh opened #166 "Output code even when there are compile errors"
If I compile a program using `tsc`, it will output JS even if there are compile errors. Is it possible to make tsify do the same? Or perhaps an option?

[2016-07-27 22:31] cartant commented on #166
This issue has been raised before (#43 and #59). Reading #43, it seems that part of the problem with implementing this behaviour is that reporting non-fatal errors (i.e. warnings) to `browserify` is not possible. If you are using `gulp`, the author has suggested what seems to be [a workaround](https://github.com/TypeStrong/tsify/issues/43#issuecomment-101779946), but I've not tried it.

[2016-07-28 20:57] bcherny commented on #60
If anyone is using browserify-shim and has this problem in the future, adding `global: true` fixed it for me:

[code]

[2016-07-30 09:36] Mimieam opened #167 "tsify is always trying to compile browserify tsx example file and failing."
Hello,
everytime i try to compile with tsify  ( as per [this doc](https://www.typescriptlang.org/docs/handbook/integrating-with-build-tools.html), Some HelloWorld.tsx tries to get transpiled and I get this error.

[code]

adding the JSX flag doesn't help ( i get more random errors from tsx files)

here is my main.ts  :

[code]

What am I doing wrong here ?
PS ( this compiled and run just fine with

[2016-07-30 21:45] OliverJAsh commented on #166
Thanks!

[2016-07-30 21:45] #166 closed

[2016-07-31 22:29] spacejack opened #168 "Support for tsc --p option? (path to project)"
I'd like to be able to supply the path to the tsconfig.json file, but tsify doesn't seem to pass this through to tsc.

Eg:

    browserify src/main.ts -p [ tsify --p src ] -o public/js/app.js

So it won't pick up any of the options in tsconfig.json, meaning I have to re-add them to the command line. This gets especially bad when you have a lot of typings files as you can't include them with a wild

[2016-07-31 22:42] cartant commented on #168
Try something like this:

    browserify src/main.ts -p [ tsify --project some/path/tsconfig.json ] -o public/js/app.js

[2016-07-31 22:54] spacejack commented on #168
Oh that's great! That seems to be working, thank you!

[2016-08-02 05:00] basarat commented on #168
Documented by @cartant Thanks again ! 👍 🌹

[2016-08-02 05:00] #168 closed

[2016-08-02 05:09] cartant commented on #168
@basarat Actually, it seems that I've missed the [author's intentions](https://github.com/TypeStrong/tsify/issues/142#issuecomment-220400186) re: `tsc` options:

I'll submit another PR later to tidy up the `README.md`, as `--project` is not an 'extra option'; its a `tsc` option that's supported by `tsify`. Also, I think I'll add support for the `tsc` option short names - like `-p`. If `tsify` is g

[2016-08-03 06:55] cartant commented on #161
It seems that this is a `tsify` problem - not a TypeScript problem - as `getCanonicalFileName` is implemented in the host.

The TypeScript implementation of `getCanonicalFileName` [simply converts the path to lower case](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/program.ts#L851-L855), whereas the `tsify` version [returns a relative path](https://github.com/TypeStrong/tsify/b

[2016-08-03 08:57] cartant commented on #168
@basarat Unfortunately, my change to expand the short-name, command-line options resulted in the target defaulting to `ES3`, so I'm going to have to make another release - with some code that's somewhat more robust.

It's a little embarrassing, that the first release for which I've been responsible is broken. Clearly, I'll have to have a closer look at the testing environment the author has set up

[2016-08-05 08:05] cartant commented on #161
This should be fixed in #171.

[2016-08-05 08:05] #161 closed

[2016-08-05 08:25] cartant opened #172 "typescript@next does not emit from node_modules"
`typescript@next` does not emit code from files within `node_modules`. This differs significantly from previous versions. The `Host` should examine the locations of parsed files and should add those within `node_modules` to the root files passed to `createProgram` - to ensure they are emitted with the minimum number of re-compilations.

[2016-08-06 00:30] cartant commented on #148
Could you give me an example of your hierarchy so that I can check this out? That is, this type of thing:

    project/
     ├── a.js
     └── b.ts

It's possible that this is fixed in #171. I'd like to make sure before I do the next release.

[2016-08-06 00:43] cartant commented on #152
I've [asked for an example hierarchy](https://github.com/TypeStrong/tsify/issues/148#issuecomment-237994748) for the issue you've referenced. Could you provide me with one, too?

[2016-08-06 11:35] conceptdeluxe commented on #130
When working with IntelliJ also verify which Node interpreter is selected (Settings: Languages & Frameworks > Node.js and NPM). I was wondering why I was getting the above error while having Node.js 6.2 installed. IntelliJ actually used my legacy Node.js installation as default, thus debuglog was missing.

[2016-08-06 22:19] DanielSchuech commented on #148
[code]

The `entry.ts` is the entry file for browserify. I load there `b.ts` with `require('./subfolder/b')`. In this case the file `b.ts`cannot be found. The problem is that tsify uses the folder in which the first ts file is found as root directory. Thats correct in the default way. There is an option `rootDir` in the tsconfig.json to change this behavior. This option has to be set to `project`

[2016-08-06 22:21] cartant commented on #148
Thanks. I'll check it out.

[2016-08-07 05:32] #148 closed

[2016-08-07 06:52] cartant commented on #152
This should be closed by #174.

[2016-08-07 06:52] #152 closed

[2016-08-07 06:55] cartant commented on #135
This should be closed by #171.

[2016-08-07 06:55] cartant commented on #150
This should be closed by #171. It should now be possible to use symlinks in `node_modules`.

[2016-08-07 06:56] #150 closed

[2016-08-07 06:56] #135 closed

[2016-08-07 07:08] cartant commented on #122
This should be closed by #171. However, the changes in that PR weren't made to resolve this issue; its resolution is a side-effect. With said changes, the output bundle should contain what you'd expect. (However, that might not be the end of your problems, as I noticed that there were errors with paths in the source maps if there were mismatches in case. Probably best to ensure the case is correct

[2016-08-07 07:08] #122 closed

[2016-08-07 14:16] XanderEmu opened #175 "It doesn't seem to properly handle JSX (tsx) if jsx is set to "preserve"."
I'm trying to use tsify with grunt, browserify and babel.

My Gruntfile.js looks like this:
[code]

I have some JSX (not React!!!) code in my source. I get a compilation error from it:

 return <div class="foo">

TSX code itself is fine. I compiled it using separate grunt-ts and it worked properly.

[2016-08-07 14:52] cartant commented on #175
Is the `es2015` Babel preset sufficient to process JSX? I wouldn't have thought so. If the JSX is making its way past Babel to Browserify, that could be the problem - Browserify won't like it.

[2016-08-07 21:36] XanderEmu commented on #175
There is. See my dependencies:

[code]

[2016-08-08 00:14] TheColorRed commented on #131
Not sure if this answers your question, but this is how I build mine:

[code]

[2016-08-08 00:23] TheColorRed opened #176 "namespace is undefined or null"
[code]

**core/Obj.ts**
[code]
**core/Component.ts**
[code]

Once this builds out, and I run it in the browser, I get the following error:

[code]

It is seeing GameEngine as  `undefined` or `null`. I am not sure if I am doing something wrong, or it is converting wrong.

My gulp task looks like this:

[code]

My `tsconfig.json` looks like this:

[code]

[2016-08-08 01:17] cartant commented on #175
Ah, I see; it's the `incremental-dom` Babel plugin that does the transformation.

I think the only thing you are missing is the `extensions` option for `babelify`:

    ['babelify', {
        sourceMap: true,
        presets: ['es2015'],
        plugins: [
            ['incremental-dom', {
                prefix: 'IncrementalDOM'
            }]
        ],
        extensions: ['.tsx']
    }]

[2016-08-08 01:36] cartant commented on #176
This is not a problem with `tsify`; it's working as expected. Your imports are only using declarations in the type declaration space. That is, you are only importing the type information. You need to use the variable declaration space. Do something like this (and I wouldn't bother with namespaces; just use modules):

    import { Obj } from './core/Obj';
    import { Component } = './core/Componen

[2016-08-08 01:36] #176 closed

[2016-08-08 18:23] XanderEmu commented on #175
Nope, that's not it.

[2016-08-08 21:42] cartant commented on #175
That is really strange - and unfortunate. To look into your problem, I messed with `tsify`'s [JSX example](https://github.com/TypeStrong/tsify/tree/master/examples/jsx) and changed its Browserify-API-based bundling to the following:

    browserify()
        .add('src/main.tsx')
        .plugin(tsify, {
            jsx: 'preserve',
            target: 'ES6'
        })
        .transform(babelify,

[2016-08-08 21:59] cartant commented on #175
I've found your problem. It's `grunt-browserify`. It [loads the transforms first and then the plugins](https://github.com/jmreidy/grunt-browserify/blob/master/lib/runner.js#L99-L109), so what you want to do - put the transform after the plugin - is simply not possible.

The simplest solution will probably be to add a `grunt-browserify` [`configure` function](https://github.com/jmreidy/grunt-browse

[2016-08-08 21:59] #175 closed

[2016-08-09 07:53] JamiesonWarner opened #177 "Typescript error"
I'm running into errors when I try to use tsify version 0.14.8.

[code]
[code]

[2016-08-09 08:32] cartant commented on #177
Thanks for the error report.

I would really like to get this solved. It seems related to #157. And I'm not if it's an error in `tsify` or an error in Browserify - it's the options that `tsify` receives from Browserify that are `undefined`. And I'm struggling to see how that can happen. (And I don't want to simply set the options to an empty object if `undefined` is received.)

Are you able to rep

[2016-08-10 05:27] JamiesonWarner commented on #177
Thanks for the support!

Here's a GH link: https://github.com/JamiesonWarner/tsify-example

Steps to repro:

1. `git clone git@github.com:JamiesonWarner/tsify-example.git && cd tsify-example`
2. `rm -rf node_modules && npm install # why not`
3. `browserify . -p [ tsify --noImplicitAny ] `

[2016-08-10 05:32] cartant commented on #177
Cool. Thanks. I'll check it out later. Hopefully, I'll be able to reproduce it.

[2016-08-10 05:33] JamiesonWarner commented on #177
It's this code in package.json that causes the problem, like in the issue you linked:
[code]

[2016-08-10 05:43] cartant commented on #177
Yep. That'd do it. `tsify` is a plugin, not a transform.

Typically, you'd use the `browserify/transform` configuration in `package.json` to apply a transform to a package when it's consumed via `node_modules`. `tsify` is a plugin, so that's not possible. If you need to use `tsify` to consume TypeScript from within `node_modules`, you'll need to use `tsify`'s `global` option.

[2016-08-10 05:43] #177 closed

[2016-08-10 06:12] cartant commented on #177
Thanks for the repo link. I'll add test to catch `tsify`-as-transformer configurations and will throw a more descriptive error.

I noticed that you don't have a `tsconfig.json` in your repo. Without one, the performance is pretty woeful, as TypeScript will go digging through everything under `node_modules`. At some stage, I'll add some notes/guidelines. I find it best to reference only the `typing

[2016-08-10 06:29] cartant commented on #177
Sorry. I see that there is a `tsconfig.json` in your repo, it just has neither an `excludes` nor a `files` in it. (I should pay more attention.)

[2016-08-10 11:21] krisdigital opened #179 "Error TS2307: Cannot find module 'pinkie-promise'"
I made a minimal test project, but I always get that error..

[code]

[code]

Any suggestions? `pinkie-promise` seems to be there but not found...

[2016-08-10 11:35] cartant commented on #179
TypeScript is including the contents of your `node_modules` directory and it's finding a `.d.ts` file in there. The error is somehow related to that, but there should be no need to include the contents of `node_modules` in the compilation. If you have a `tsconfig.json` file, you should specify either `files` or `excludes` (and include `node_modules` in the `excludes`, if you decide to use `exclude

[2016-08-10 12:26] krisdigital commented on #179
@cartant Awesome, that helped a lot! I thought that when using browserify, there is no need to specify files or excludes..
Thank you!

[2016-08-10 12:28] cartant commented on #179
No worries.

[2016-08-10 12:28] #179 closed

[2016-08-10 12:45] rz-robsn opened #180 "Error occurs when bundling tsx file."
Hi,

tsify throws me an error when I try to compile a project that contains some JSX statements :

[code]

and when I run the command

`browserify app/renderer.tsx -p [ tsify -p app/ ] > /dev/null`

This error is shown

[code]

The weird thing is that when I compile the code using the `tsc` compiles, everything runs fine.

You can find a minimal project for reproducing the issue [here](https://git

[2016-08-10 12:56] cartant commented on #180
You will need to specify the `jsx` option (either in the `tsconfig.json` file or as a `tsify` option in the command line). If it's set to `preserve` rather than `react`, you will need some other Browserify transform following `tsify` - as Browserify will not parse JSX (that's the error you are seeing). There is a JSX example in this repo, if you need it.

[2016-08-11 00:08] rz-robsn commented on #180
Hi @cartant, thanks for the quick response !

The minimal repo that I pointed to was actually slimmed version of another project I'm working on, so I didn't put information that I thought was not relevant there. In my current project I'm actually bundling my code this way :

[code]

As you can see, I'm using a babel plugin to convert my JSX statements into valid JS (the `jsx` option is set to `pre

[2016-08-11 00:36] cartant commented on #180
What you are attempting to do is pretty similar to an issue [I was helping someone with, a few days ago](https://github.com/TypeStrong/tsify/issues/175#issuecomment-238387030). The bit that's missing is the `extensions: ['.tsx']` option for `babelify`.

[2016-08-11 01:59] rz-robsn commented on #180
That was it ! I missed the `extensions: ['.tsx']` part ! I should have looked at the babelify documentation more closely...

Thank you for your time and for this great plugin !

I'm closing this ticket since the solution was found.

[2016-08-11 01:59] #180 closed

[2016-08-11 03:10] JamiesonWarner commented on #177
So are `tsify`-as-transformer configurations not supported? What work needs to be done to be able to support them?

[2016-08-11 03:19] cartant commented on #177
@JamiesonWarner

They cannot be supported, as `tsify` is a plugin. [Why a plugin?](https://github.com/TypeStrong/tsify#why-a-plugin)

[2016-08-11 09:09] krisdigital opened #182 "Tsify output not included in build"
Trying to get a grunt build with tsify and babelify up and running.

My Grunt Config:
[code]

The main file main.js

[code]

The modules/type_test.ts

[code]

resulting built app.js:
[code]
The class/function from type_test is missing and `typeTest.test();` throws an error.

The export from the type_test.ts file is always empty. But the TypeScript file is compiled. If I compile TypeScript first, g

[2016-08-11 10:17] cartant commented on #182
I can give this some more thought later, but my initial suggestion is to make the entry-point file a TS file. That is, rename `main.js` to `main.ts` and then use a single entry point in the Browserify configuration:

    files: {
      'js/dist/app.js': ['js/main.ts']
    }

Although, I usually use syntax like this (for `grunt-browserify`):

    browserify: {
        dev: {
            dest: "bund

[2016-08-11 10:32] krisdigital commented on #182
@cartant Thank you for your quick reply!  I just tried and it works so far, I can also import regular js with

[code]

So that could be a solution!

Just wondering why the other way does not work.. Tried to debug it, but no clue why the compiled TS is not included..

[2016-08-11 12:51] krisdigital commented on #182
Maybe you also have an idea why

[code]

stops working after the change to .ts? I have to import like

[code]

to make it work..

Otherwise I get the error

Sorry to bother you, having a hard time to get it running.. 🙄

[2016-08-11 13:17] GoldZeus opened #184 "Prevent Tsify to read node_modules"
Hello,
I'm trying to prevent tsify to read the node_modules directory as it has so many .ts files and they cause duplicate errors.

[code]

How can I remove this directory? I tried adding an exclude to the tsify options but it doesn't help.
Thank you.

[2016-08-11 15:25] StanleyGoldman opened #185 "TypeError: Cannot read property 'Preserve' of undefined"

[2016-08-11 20:58] cartant commented on #184
The options passed to `tsify` correspond to the `compilerOptions` in the `tsconfig.json` file. The `exclude` (and `file`) options are not compiler options, so they they'll be ignored, if passed to `tsify`.

To prevent `tsify` from reading the `node_modules` directory, you can:

* add an `exclude` option to `tsconfig.json` - e.g. `"exclude": ["node_modules"]`
* add a `file` option that is either em

[2016-08-11 20:58] #184 closed

[2016-08-11 21:06] cartant commented on #185
Which `typescript` are you using? I don't see `JsxEmit` as `undefined` in any of 1.8.0, 2.0.0 or 2.1.0-dev.20160811.

[2016-08-11 21:25] cartant commented on #185
I'm guessing it's 1.5. This situation makes a little more sense, now. (I've deleted a comment I placed against the PR - which I now think is okay.) Thanks.

[2016-08-11 22:40] cartant commented on #182
I've not used `allowSyntheticDefaultImports`, so I can't really comment on that.

Regarding the initial problem, I suspect it has something to do with this part of the Babel configuration:

    extensions: ['.ts', '.js']

`tsify` also registers extensions. It does this by `unshift`-ing them onto the front of an array of extensions that Browserify uses when resolving modules/files. I suspect Babel

[2016-08-11 22:40] #182 closed

[2016-08-12 07:41] krisdigital commented on #182
@cartant Thank you for looking into it! I actually took out babelify and went full Typescript. There were also some inconsistencies with import statements between the two, so it is probably better that way.
I started with a js file and wanted to throw in some Typescript here and there, but that was probably the thing that started the whole trouble!
Thank's again for your support!

[2016-08-12 07:53] cartant commented on #182
No worries.

[2016-08-12 10:33] StanleyGoldman commented on #185
Hey @cartant,

I was in the process from upgrading from a really old version of tsify, and I didn't immediately realize what version of typescript I was using as a resut of the upgrade.

But you are right, I was using 1.5. I immediately switched to 1.8. So I dont know if this pull request is really valid.

[2016-08-12 11:20] cartant commented on #185
No worries. I think it's still valid - now that I understand what's going on. And `tsify` doesn't - at this stage - specify a minimum version.

[2016-08-22 18:05] AkashGutha commented on #120
facing similar problems any luck ?

[2016-08-22 21:11] cartant commented on #120
@AkashGutha I will have a look at it; I have an inkling as to what the problem might be.

[2016-08-23 04:23] AkashGutha commented on #120
I was experimenting the same as @golgobot

[code]

the output always points to the last module. in this case (6).  why is it so ?

tried printing the exported module.

[code]
i tried this by changing the value (6) to (5) and (4) and so on
this printed the object .. but always has an "errored!" line as the first line then the object. (i guess this is from the browserify stuff)
this returned an empt

[2016-08-23 05:58] cartant commented on #120
@AkashGutha I've had a very quick look at this and I'm not convinced that it's a problem with the `standalone` option. Are you also using Babel to transpile ES6 to ES5?

[2016-08-23 06:02] AkashGutha commented on #120
is it a necessary step ? becuase the the output js looks fine .

I've tried another approach too .. i first compiled ts to js using commonjs modules then browserifed all the js files . the result was same .

[2016-08-23 06:12] cartant commented on #120
@AkashGutha No, not at all. Unless there is a compelling reason to use Babel over TypeScript, I would configure TypeScript to emit ES5 - it will be much simpler, as there are issues with managing extensions, etc.

Can you post your code that's calling `browserify` - as the OP did in this issue's first comment?

I've run a simple test using the command line and it was fine. It would be interesting

[2016-08-23 06:29] AkashGutha commented on #120
[code]

actually the problem occurs when the dependencies are more than one file .. i tried it with a single file dependency and it worked.

[2016-08-23 06:41] cartant commented on #120
@AkashGutha Nope, I cannot reproduce it. It's working for me with a TS file that has another TS file as a dependency. If you can create a minimal failing repo (with the specific versions you are using specified in the `package.json`) I will have a look at it, but without being able to reproduce it, there's not much I can do.

[2016-08-23 06:44] AkashGutha commented on #120
okk .. i'll make a minimal repo and post it.

are you using the bundled js file using require()?
can you post your repo?

[2016-08-23 06:46] cartant commented on #120
@AkashGutha Sure.

[2016-08-23 06:54] cartant commented on #120
@AkashGutha The repo is [here](https://github.com/cartant/tsify-issue-120). Run:

    node build.js > bundle.js
    node main.js

[2016-08-23 07:03] AkashGutha commented on #120
@cartant Sure. I'll look into this and post the fork.

[2016-08-23 07:06] cartant commented on #120
@AkashGutha Thanks. If you are interesting in seeing some logging when building the bundle, you can use `NODE_DEBUG` to switch it on:

    NODE_DEBUG=tsify node build.js > bundle.js

[2016-08-23 07:11] AkashGutha commented on #120
@cartant thats helpful ! mostly, i will post the findings tomorrow .

[2016-08-23 17:22] AkashGutha commented on #120
Okk ! i got it the problem was with my understanding of how exports worked.

I didn't export them from the main file. that is exports from each file were imported into the main file.
but nothing was exported from main.

is there a way around this ? so that all the exported modules from all the files are exposed at once ?

[2016-08-23 22:31] cartant commented on #120
No, it's behaving the way it's supposed to behave. However, if you want to re-export a bunch of stuff from `main`, it's pretty simple:

    export * from './some-module';
    export { something } from './some-other-module';

[2016-08-24 01:22] cartant opened #187 "Diagnosing problems is difficult without errors or logging"
There is a [question](http://stackoverflow.com/q/39090180/6680611) on StackOverflow asking how to diagnose problems with tsify. It's likely that this is related to tsify [emitting empty content](https://github.com/TypeStrong/tsify/blob/v1.0.3/lib/Tsifier.js#L298-L299) upon a repeated cache miss.

With the recent refactoring, repeated misses should be less likely - as case no longer matters, etc. -

[2016-08-24 01:22] AkashGutha commented on #120
Of I have a large project with a bunch of files then writing exports for each file in the main would be inevitable ??

[2016-08-24 01:30] cartant commented on #120
@AkashGutha Do you really have such a large interface to export? Your using the `standalone` implies that you are exporting an interface to be consumed via a global or by requiring the bundle. Anything you want to export into the global or the required module will need to be exported in the manner described above - there's no getting around that. If you don't have anything you want exported via th

[2016-08-24 01:59] cartant commented on #105
I'm answering old question this so that I can close it. It's related to another issue on which I've recently been corresponding and I've only just noticed it.

If you have **add.ts** with this content:

    export default function add(a: number, b: number): number { return a + b; }

this command:

    browserify -p [tsify] --standalone add add.ts

will export a bundle with a global `add` object wi

[2016-08-24 01:59] #105 closed

[2016-08-24 02:23] cartant commented on #120
@golgobot I'm closing this as I don't believe it to be a tsify issue.

The blank/empty module in your bundle likely corresponds to the `.add(options.typings)` entry point. Any `.d.ts` files will be emitted as empty modules and my experimentation with Browserify's `standalone` option suggests that it's not possible to force Browserify to choose a particular entry point for the standalone export - a

[2016-08-24 02:23] #120 closed

[2016-08-24 02:34] #185 closed

[2016-08-24 03:45] AkashGutha commented on #120
@cartant what i meant was comparable to a dll in windows .. library that exports many public classes and functions .. without explicitly having all the declarations again in the main file .. that was what i was looking for . is it possible with browserify ?

[2016-08-24 06:06] cartant commented on #120
@AkashGutha Actually, it is like exporting from a DLL; it's just that it's like exporting from a DLL in the olden days when you needed to use a [DEF file](https://msdn.microsoft.com/en-us/library/d91k01sh.aspx).

Seriously though, from my point of view, the `standalone` option is not a core Browserify feature. Browserify is about building a bundle that incorporates CommonJS modules for execution i

[2016-08-24 14:01] jsmarsch commented on #187
I have encountered this problem as well (my SO post: http://stackoverflow.com/questions/39090180/how-to-get-build-error-messages-from-browserify.

When something goes wrong, you get no diagnostics at all, just missing content from browserify's output  js file, and your app stops working.  It failed recently on a dev machine, and really, all we could do was to guess.

I think you are correct that t

[2016-08-24 18:55] cartant commented on #187
The patch I was suggesting would have been for diagnostic purposes. And, yes, patching an NPM-managed file would not have been a satisfactory solution.

Fortunately, some refactoring that I did will have fixed the case-related problem that you have encountered. [This PR](https://github.com/TypeStrong/tsify/pull/171) fixed a number of outstanding bugs. I have not yet rolled out a release; I wanted

[2016-08-25 13:52] jsmarsch commented on #187
Sounds good.  I will watch for the release, and good to know about the patch option for getting error messages when something goes wrong.  Good luck on the repeated cache miss errors bug -- error reporting on this type of issue will be a good thing to have.

[2016-08-25 14:04] cartant commented on #187
No worries. I'll post an answer to your SO question as soon as the release is done.

[2016-08-26 07:28] cartant commented on #187
@jsmarsch I've released version 1.0.4 of `tsify`. It includes numerous bug fixes and the case-related issue that you experienced should no longer occur. Additionally, the internal errors that previously went unreported should now be emitted to Browserify.

[2016-08-26 07:28] #187 closed

[2016-08-26 15:36] jsmarsch commented on #187
Great!  Thank you!

[2016-08-27 01:22] cartant commented on #129
I've been going through some old, open issues and I found yours. This should be resolved by the `global` option that was added in 0.15.3:

    .plugin(tsify, { typescript: tsc, global: true })

Internally, `tsify` creates a transform and by default Browserify does not apply transforms to files from within `node_modules`.

[2016-08-27 01:22] #129 closed

[2016-08-27 01:28] cartant commented on #119
This is not directly related to `tsify`. It is a TypeScript problem, as it's a TypeScript error that you are receiving. Clearly, this is an old issue, but if still have problems of this nature, you might receive more assistance on [StackOverflow](http://stackoverflow.com/).

[2016-08-27 01:28] #119 closed

[2016-08-27 01:36] cartant commented on #157
Closing this in the absence of further information. The problem cannot be reproduced using Browserify 13.0.1 and Tsify 1.0.0. Also, according to the stack trace in the original post, the `browserify` command is resolving to `/Users/azer/dev/node-browserify/` - which is not a standard NPM install.

[2016-08-27 01:36] #157 closed

[2016-08-27 05:37] cartant commented on #131
To use `tsify` with `browserify-middleware`, you need to configure the [`plugins`](https://github.com/ForbesLindesay/browserify-middleware#plugins) option for the middleware:

    app.get('/bundle.js', browserify(__dirname + '/index.client.js', {
        plugins: [{ plugin: 'tsify', options: { noImplicitAny: true } }]
    }));

[2016-08-27 05:37] #131 closed

[2016-08-27 08:56] cartant commented on #151
@scamden I've been going through some of the older, still-open issues.

I've added a [JS/TS](https://github.com/TypeStrong/tsify/tree/master/examples/js) example. It is essentially the same as the `greeter` example, but with a `main.js` instead of a `main.ts` and with `allowJs` option specified.

Regarding your question about where the compiled JS is written: it isn't; it's held in memory and is l

[2016-08-27 08:56] #151 closed

[2016-08-28 02:45] cartant commented on #167
You are receiving the error because the content of your `node_modules` directory is being included in the TypeScript compilation.

You need to ensure that your `tsconfig.json` contains either an `exclude` or `files` setting (if `files` is specified, `exclude` is ignored). That is, it should contain either this:

    {
        "compilerOptions": { ... },
        "exclude": ["node_modules"]
    }

o

[2016-08-28 02:45] #167 closed

[2016-08-28 03:57] cartant commented on #145
The `grunt-browserify` `alias` option cannot be supported by `tsify` as it is currently implemented. Said option tweaks the way Browserify resolves modules. However, the TypeScript compilation would need to resolve modules the same way and, at the moment, that's not possible.

This might be something that could be addressed with the [module resolution enhancements](https://github.com/Microsoft/Typ

[2016-08-29 07:45] scamden commented on #151
Thanks!

On Sat, Aug 27, 2016 at 1:56 AM Nicholas Jamieson <notifications@github.com>
wrote:

[2016-08-31 06:36] cartant opened #191 "Breaking change to ParseConfigHost in 2.1"
See the discussion re: [Configuration Inheritance](https://github.com/Microsoft/TypeScript/pull/9941/files/167d318a1375a467877bc6d6672a0015e3e684bd#r76714604).

[2016-09-01 02:00] #191 closed

[2016-09-01 06:27] #172 closed

[2016-09-02 06:07] shibiaoz opened #193 "typescript dependencies"
i install tsify,but run in error,Error: Cannot find module 'typescript'
[code]

[2016-09-02 06:13] cartant commented on #193
No, the behaviour you are seeing is the correct behaviour.

`typescript` is a [`peer dependency`](https://nodejs.org/en/blog/npm/peer-dependencies/) - as `tsify` supports a range of `typescript` versions. You will need to decide upon which version you wish to use and you will need to add it to the `package.json` of the project in which you are using `tsify`.

[2016-09-02 06:13] #193 closed

[2016-09-02 06:17] cartant commented on #193
I will, however, update the installation instructions in the `README.md` so that this is clearer.

`typescript` was moved into `peerDependencies` in version 1.0.0 and the changelog includes some instructions, but it should be mentioned in the installation instructions, too. Thanks.

[2016-09-08 09:04] remojansen opened #196 "Issue with lib setting in the tsconfig.json"
So I'm targeting ES5 but I have added support for some ES6 elements using `lib` in `tsconfig`:

[code]

You can see my [tsconfig.json](https://github.com/remojansen/InversifyJS/blob/master/tsconfig.json#L4) if you need it.

I'm using `typescript@rc` 2.0 and this is my gulp task:

[code]

You can see my [gulpfile.js](https://github.com/remojansen/InversifyJS/blob/master/gulpfile.js#L157-L165) if yo

[2016-09-08 09:12] cartant commented on #196
@basarat Are you able to suggest what might be causing this particular TypeScript error? The version of Node.js that seems to be the problem is 6.5.0. As the OP has stated, the builds are passing on several other Node.js versions.

[2016-09-08 09:48] remojansen commented on #196
It looks like is behaving [like if I used `--noLib` option](https://github.com/Microsoft/TypeScript/issues/3930) but is weird because it only does that in one version of node.

[2016-09-08 20:30] remojansen commented on #196
I've been testing and it looks like tsify uses `noResolve` even when I set it to false?

[2016-09-08 21:24] cartant commented on #196
The options passed to `createProgram` definitely do not contain `noResolve`. However, when running your bundling with the debug logging enabled:

    NODE_DEBUG=tsify,tsify-trace gulp build-bundle-test

there seems to be something amiss with the lib paths:

    TSIFY-TRACE 10776: Parsing c:/lib.es2015.d.ts
    TSIFY-TRACE 10776: Parsing c:/lib.dom.d.ts

Which could have a similar effect to `noReso

[2016-09-08 22:06] remojansen commented on #196
Thanks a lot for your help :)

[2016-09-08 23:10] cartant commented on #196
I've found the problem. There is a new method in the compile host - `getDefaultLibLocation` - and if it's not there, TypeScript attempts to determine the location using the host's `getDefaultLibFileName` method. However, they way it does that doesn't work with the configuration that `tsify` uses.

This will be patched pretty soon.

Strangely, I cannot see how this could possibly be working on othe

[2016-09-08 23:45] remojansen commented on #196
I tried in my laptop (OSX with node v5.8.0) and it was fine. Tried then with node v6.5.0 and it is fine too. There must be something weird in AppVeyor.

[2016-09-08 23:53] cartant commented on #196
My laptop and VM are both Windows boxes. It looks like Windows is the common denominator.

I cannot say that I'm surprised; dealing with backslash replacement is an ongoing source of frustration with the TypeScript compiler. It looks like there's yet another place in which TypeScript's `normalizeSlashes` function needs to be called.

However, I still cannot see why it wouldn't fail on the AppVeyor

[2016-09-08 23:59] cartant commented on #196
Yep, calling `normalizeSlashes` on the result of `getDefaultLibFileName` also fixes the problem.

[2016-09-09 00:26] cartant commented on #196
This should be resolved by #197. I've published 1.0.6 to NPM.

[2016-09-09 00:26] #196 closed

[2016-09-09 00:28] remojansen commented on #196
Thanks a lot! 😄

[2016-09-13 20:34] APLmath opened #198 "Object.assign is not a function"
Recently, I npm installed gulp and tsify (among other things), but when I run a gulp task that uses tsify, it fails with an "undefined is not a function". Here's a snippet of the output:

    TypeError: undefined is not a function
    at parseOptions (.../node_modules/tsify/lib/Tsifier.js:59:17)
    at new Tsifier (.../node_modules/tsify/lib/Tsifier.js:127:23)
    at tsify (.../node_modules/tsify/

[2016-09-13 21:10] cartant commented on #198
Thanks. I'll patch this soon and will update the Travis configuration so that the tests are also run on the earliest supported version of Node.

[2016-09-13 23:04] #198 closed

[2016-09-19 08:14] cartant opened #199 "ES modules: "main" and "module" in "package.json""
I recently stumbled across this when importing an [internal helper function](https://github.com/angular/angularfire2/blob/2.0.0-beta.5/src/utils.ts#L41-L60) from AngularFire2. What I found is documented here. (Hopefully, for the benefit of others.)

The latest Angular and AngularFire2 releases use the `package.json` file's `main` to refer to a UMD bundle and its `module` to refer to an ES module (

[2016-10-03 11:09] koroandr opened #200 "Detect fs case sensitivity based on it's real behavior"
In lib/Host.js there is such line (134):

[code]

It detects case-sensitivity based on platform name, which is considered a [bad practice](https://nodejs.org/en/docs/guides/working-with-different-filesystems/).

I am working on Mac OS system with _case-sensitive_ file system, so the following code
[code]
breaks my paths.

I also created [similar issue](https://github.com/Microsoft/TypeScript/issue

[2016-10-03 11:38] cartant commented on #200
That all sounds pretty reasonable. I'll look into it tomorrow. Thanks.

[2016-10-03 11:52] koroandr commented on #200
I actually already did a quick fix for that - https://github.com/TypeStrong/tsify/pull/201

[2016-10-03 21:40] #200 closed

[2016-10-06 15:06] DanielSchuech opened #203 "some @types definitions not loaded: node, core-js"
Hello,

Only the definitions of modules that are directly imported will be loaded.

The follwing works correctly with `tsc` and `browserify+tsify`:
 `npm i angular @types/angular`
[code]

The follwing doesn't compile:
 `npm i angular @types/node`
[code]
The compilation through `tsc` works without any error. But if i try to bundle it with `browserify+tsify` i get the error `Error TS2304: Cannot fin

[2016-10-06 23:44] cartant commented on #203
Thanks. I'll look into it.

[2016-10-07 01:15] cartant commented on #203
If `typeRoots` and `types` are added to your `tsconfig.json`, it builds the bundle without error:

    {
      "compilerOptions": {
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "module": "commonjs",
        "noImplicitAny": true,
        "outDir": "dist",
        "sourceMap": true,
        "target": "es5",
        "typeRoots": ["node_modules/@types"],

[2016-10-07 12:55] cartant commented on #203
There is some information [here](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html) on using `types` that suggests some caution might be required:

However, if `types` is left out of the `tsconfig.json` that I listed above, the build fails.

I should have time to look more closely at this tomorrow.

[2016-10-07 18:51] danielepolencic opened #204 "Compilation fails with tsify but succeeds with tsc"
This is a very weird one:

the following valid typescript file:

[code]

works fine when I run `tsc index.ts`.

When I run `browserify index.ts -p tsify -o ./bundle.js` I get the following error:

[code]

I recreated the issue in this repo: https://github.com/danielepolencic/tsify-error

It seems somehow related to `typings` (that's where the dependency on popsicle is coming from).

Originally I t

[2016-10-08 02:09] cartant commented on #204
The problem can be solved by adding an empty `files` setting to your `tsconfig.json`:

    {
      ...
      "files": []
    }

`tsify` will add any entry files specified in your `browserify` command.

This happens because `tsify` is still using an old version of `tsconfig` to parse the `tsconfig.json` file and - in the absence of an `exclude` or `files` setting - that module is searching through

[2016-10-08 02:15] cartant commented on #204
Also, I noted that in your `tsconfig.json` you are targeting `es6`. Browserify does not support ES modules, so if you target `es6`, you will need to use something like `babelify`. Targeting `es5` would be simpler.

[2016-10-08 08:29] basarat commented on #203
To use any globals you *must* include them somehow. Either through `tsconfig.json` (per project) Or using a reference directive (per file). So to use `node` (a global) `types` will be needed.

I added a quick intro here as well : https://basarat.gitbooks.io/typescript/content/docs/types/@types.html :rose:

@DanielSchuech I doubt `tsc` is passing, it should give you the same error ^ . Check tsc ver

[2016-10-08 08:41] cartant commented on #203
@basarat I've reproduced the OP's issue with TypeScript 2.0.3. `tsc` will build the project without error if neither `typeRoots` nor `types` is present in the `tsconfig.json`. And it also builds without error if only `typeRoots` is present.

The **`@types`, `typeRoots` and `types`** section of [this](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html) page mentions the default inclusi

[2016-10-08 09:09] basarat commented on #203
Hmm... I just did a quick test. `tsc` seems to work fine without `types` specified in tsconfig.json. My bad. Sorry ❤️

[2016-10-08 17:52] blakeembrey commented on #203
Not sure if this is useful, but I believe I added `getDirectories` and `directoryExists` to the language services host to support this (if you haven't already - https://github.com/TypeStrong/ts-node/commit/240d4b9b751a5c551730a9856502f561844ae3b6).

[2016-10-08 19:19] DanielSchuech commented on #203
If also seen some if conditions iff `getDirectories`and `directoryExists` exists. If this isn´t the case the was no lookup for the @types directory. I tried to replace them with fs functions in the Host file but that hasn`t resolved the problem.

Its a workaround to put all typings into the types array but I really like the idea to just add the required typings into the dependencies of the package