[2016-10-08 21:30] cartant commented on #203
@blakeembrey Yep, that's done the trick. Thanks.

[2016-10-08 22:42] basarat commented on #203
Same for me. I added the following to alm but it didn't fix it for me :-/

![image](https://cloud.githubusercontent.com/assets/874898/19216377/aa9c6b64-8e04-11e6-99b3-8ca2c6b405e4.png)

[2016-10-08 23:04] basarat commented on #203
Alright, looking at the TypeScript source code : https://github.com/Microsoft/TypeScript/blob/02493de5ccd9e8c4c901bb154ba584dee392bd14/src/compiler/moduleNameResolver.ts#L85 the `getCurrentDirectory` is the other magic function (in addition to `directoryExists`) that needs to be provided.

If I add that in, it works in alm (I have it hardcoded ... I will fill it up with the config file path ... th

[2016-10-08 23:07] basarat commented on #203
### PS `getDirectories` :rose:

Seems required for completions :

https://github.com/Microsoft/TypeScript/blob/94d895587ac20aa1bb11b67d7979fe6dbd8b86ca/src/services/types.ts#L165-L169

In addition to the other three functions required for completions:

https://github.com/Microsoft/TypeScript/blob/94d895587ac20aa1bb11b67d7979fe6dbd8b86ca/src/services/types.ts#L143-L149

All four are definitely rele

[2016-10-09 00:33] cartant commented on #203
@basarat I had a look at the compiler host functions [listed here](https://github.com/Microsoft/TypeScript/blob/v2.0.3/src/compiler/program.ts#L978-L993) and added the following to tsify's host:

* `directoryExists`
* `getDirectories`
* `getEnvironmentVariable`
* `realpath`
* `trace`

tsify's host already had an implementation of `getCurrentDirectory`.

I'll add a commit after I've written some te

[2016-10-09 02:38] cartant commented on #203
This should be closed by https://github.com/TypeStrong/tsify/commit/699c5fb48ebf9529675c10760db73f36b9e853e9

@basarat I added a test to check that tsify's `Host` implements the methods found in the host returned by TypeScript's `createCompilerHost`, so it ought to be pretty obvious if/when new methods need to be added to tsifiy's implementation.

[2016-10-09 02:38] #203 closed

[2016-10-09 05:35] cartant commented on #204
This should be closed by https://github.com/TypeStrong/tsify/commit/6740d06c2bad70bfed9a1d69d3a53137abc932a3

[2016-10-09 05:35] #204 closed

[2016-10-09 11:10] DanielSchuech commented on #203
Thanks for your work guys ;)

[2016-10-09 20:12] cartant opened #205 "include option fails if tsconfig.json not in current directory"
Paths passed to `parseJsonConfigFileContent` need to be absolute paths for the `include` option to work correctly.

[2016-10-09 21:00] cartant commented on #205
Closed by https://github.com/TypeStrong/tsify/commit/b4d59d17e974a254ae50eb2a542c158a89d33cc0

[2016-10-09 21:00] #205 closed

[2016-10-10 10:26] danielepolencic commented on #204
Thanks!

[2016-10-10 21:28] int0h opened #206 "Accept project (-p) option as object"
As far as I understand I can pass some options to tsify like:
[code]
I can also provide "project" option:
[code]
But in my case I don't want to keep tsconfig.json (or I might like to generate it dynamically).
The only workaround I found so far is to stringify my config to json, write it to the disk, and pass the location of the file:
[code]

That's definitely ugly! I wonder is it possible to pass

[2016-10-10 22:17] cartant commented on #206
That sounds pretty reasonable to me. Send the PR.

[2016-10-11 07:55] #206 closed

[2016-10-13 13:58] kamekazemaster commented on #160
Is there any progress on this topic? I would love a flexibility [aliasify](https://github.com/benbria/aliasify) is giving you with `.js` files.

If not, I am planning to write a tool which might replace aliasify. My goal is to create a tool which is able to dynamically replace certain aliases in string arguments of configurable function calls (e.g. require, import, proxyquire, etc.) by traversing

[2016-10-13 22:25] cartant commented on #160
@kamekazemaster There isn't going to be anything code-related done with this issue, as the module resolution is up to browserify. It'll be necessary to have some browserify configuration that performs the same resolution that TypeScript uses.

I was planning - when I get the time - to have a look at this and include an example of such a configuration in the README. Last time I needed to do path-re

[2016-10-21 10:07] bvblenny opened #208 "Typings not found when using default typings path"
I am trying to migrate an Angular JavaScript (ES5) project to TypeScript 2.0 step by step and stumbled over a strange behaviour with tsify.
The build setup uses `gulp` with `browserify` and now also `tsify`.
I have a index.ts which `requires` some modules, so I used `npm install --save-dev @types/node`.

However the build fails with:

Obviously it can't find the typings for node. After some debugg

[2016-10-21 11:46] cartant commented on #208
Thanks. I'll look into it.

[2016-10-31 03:07] maximilianschmitt opened #209 "SyntaxError: 'import' and 'export' may appear only with 'sourceType: module'"
Hi! I've seen a similar issue reported and discussed a couple of times but the suggested solutions don't quite seem to work for me.

[code]

I'm using `node@5.9.1`, `tsify@2.0.2`, `typescript@2.0.6`, `browserify@13.1.1`.

I also put up a very small sample project to demonstrate the issue: https://github.com/maximilianschmitt/incremental-typescript-with-browserify

Here is a brief overview:

I'm st

[2016-10-31 04:07] cartant commented on #209
The error you mentioned is the error that's thrown from Browserify if it receives an ES6 module.

Looking at your configuration, it seems it's likely that babelify is not transforming the modules output from tsify, as the `.ts` extension has not been included in babelify's options. Like this:

    browserify('./src/main.js')
      .plugin(tsify)
      .transform(babelify, { extensions: ['.ts'] })

[2016-10-31 20:39] maximilianschmitt commented on #209
Thanks for the fast reply @cartant. Unfortunately if I change the file to this, it doesn't make a difference, I still get the same error:

[code]

[code]

[2016-10-31 23:52] cartant commented on #209
I've only just noticed that your entry file is a `.js` file. You will need to have `allowJs` set to `true` the `compilerOptions` in your `tsconfig.json` or in the options passed to `tsify`.

[2016-11-01 09:43] maximilianschmitt commented on #209
I"m still getting the error unfortunately:

browserify.js:

[code]

tsconfig.json

[code]

[2016-11-01 09:50] cartant commented on #209
I would recommend your taking babelify out of the loop and changing the target to `es5`. If that works - as I'd expect it to - change it back to `es6`, put babelify back and look into your babel configuration. Is your `.babelrc` file in  the correct place and is it being used? Are your presets correctly installed? etc.

[2016-11-01 10:05] maximilianschmitt commented on #209
Thanks @cartant. I got it running by setting `module` to `'commonjs'` in the tsconfig.json.

[2016-11-01 10:42] #209 closed

[2016-11-06 05:03] cartant commented on #208
I've finally gotten around to having a look at this and I'm unable to reproduce the error using files with paths similar to yours (`assets/app/index.ts` and `.tmp/public/app/index.ts`) and with the following versions:

    +-- @types/node@6.0.46
    +-- browserify@13.1.1
    +-- tsify@1.0.9
    `-- typescript@2.0.7

Are you sure you didn't have `"typeRoots": []` specified in your `tsconfig.json` f

[2016-11-07 09:23] bvblenny commented on #208
Yes, I didn't have the `typeRoots` option in my `tsconfig.json`. If I remove from it the error appears when trying to build the app.

From my `package.json`:
[code]

[2016-11-10 12:23] OliverJAsh opened #210 "Exit with error on compile error"
If you use tsify and it produces a compile error, browserify still appears to exit with an exit code of `0`. I want my scripts to fail (non-0 exit code) if there is an error. Is this possible?

[2016-11-10 12:27] OliverJAsh commented on #210
Not true!

[2016-11-10 12:27] #210 closed

[2016-11-10 12:29] cartant commented on #210
I wish all issues were like this one!

[2016-11-15 20:38] TomKemperNL opened #212 "Case sensitivity issues on windows"
As a first-timer I was trying to get the whole react with typescript and browserify pipe working and ran into some issues.

Working on windows-10 I navigated to my source directory:
D:\Dev\react\helloworld\src
however, I did this by navigating on the command line to
D:\dev\react\helloworld\src
Windows, being a case-insensitive file-system, did not really mind.

I then started getting the error:
Er

[2016-11-15 21:36] TomKemperNL commented on #212
I figured I'd take a look and see if I could somehow contribute, so I pulled the repo and ran the tests on my windows machine:
105 out of 200 failed.

Somewhat startled I decided to see if I could maybe try and fix some of that, so I forked it and added an AppVeyor account (Travis, but with a windows machine), since there were 'obviously' issues with windows...

Much to my surprise, when I got tha

[2016-11-15 21:56] cartant commented on #212
Thanks for raising the issue. I've only skimmed it, but the strange thing is that I use a Windows machine for most of my development, so I'm not sure how I missed failing tests. I will have a look into this after I've had my first coffee of the day.

[2016-11-15 23:20] cartant commented on #212
I've imbibed some coffee and have read your posts.

I'm not using Windows 10 and I'm unable to reproduce the behaviour you've described. However, I agree that this is likely related to #211. I'll get that merged soon and hopefully it'll fix this for you.

[2016-11-15 23:46] ajmchambers commented on #208
I'm getting similar behaviour on my windows (10) machine (mac is fine): https://github.com/cyclejs-community/create-cycle-app/issues/41

(node `v6.9.0`, npm `v3.10.8`)

I've been able to reproduce the issue on two windows (10) machines using the following steps:

[code]

1. Select the `TypeScript + Browserify` option
2. Select the `XStream, tailored for Cycle.js` option

[code]

Eventually it will

[2016-11-15 23:54] cartant commented on #208
@ajmchambers Thanks for the effort you've put into investigating this. The fact that the current directory ends up being `c:` suggests that there's a backslash replacement issue someplace. I'll look into this after I'm done with your PR.

[2016-11-16 02:02] cartant commented on #212
I've merged #211. If you could have a look to see whether it addresses your issue, that would be appreciated.

[2016-11-16 05:35] cartant commented on #208
@ajmchambers Could you do me a big favour and check to see whether or not the changes in [this branch](https://github.com/TypeStrong/tsify/tree/issue-208) address the issue?

[2016-11-16 09:26] ajmchambers commented on #208
@cartant Just checked the branch and everything seems to be working nicely now, thanks.

[2016-11-16 10:13] cartant commented on #208
@ajmchambers Thanks. Once it's confirmed that #212 is resolved (which it likely will be with your PR) I'll prepare a release.

[2016-11-16 18:10] TomKemperNL commented on #212
I'll have a look at it this weekend...

I'm suddenly thinking it may be related to having recently enabled the linux subsystem... (https://msdn.microsoft.com/en-us/commandline/wsl/install_guide)

[2016-11-16 21:35] TomKemperNL commented on #212
#211 Didn't fix it, here's a gist of my run: https://gist.github.com/TomKemperNL/47dc4fdf6ea592831094920f7d44e272

Line 39 is when I lose my cap.

Oh, and plot thickens: the tests run fine on a fresh Win-10 install (node 7.1)

So I guess it's -something- in my environment. If I find the culprit I'll try and create a pull-request

[2016-11-16 22:00] cartant commented on #212
Unfortunately, I think this is an bug with Browserify. The interesting bit is this part:

    Error: tsify: no compiled file for D:\dev\frontendklooien\react\helloworld\src\index.tsx

Note the path. That path is what's received from Browserify. You can see that `file` is what's received in the [transform](https://github.com/TypeStrong/tsify/blob/v2.0.2/lib/Tsifier.js#L251) and it's then passed to

[2016-11-16 22:00] #208 closed

[2016-11-20 09:31] TomKemperNL commented on #212
Upgrading to Node 7.1.0 fixed it as well. So I'll probably try and figure out what changed where as a node debugging excercise, but the practical issue is apparently already solved waaay upstream.

[2016-11-22 15:46] jkndrkn opened #214 "browserify output generates error"
I have defined the below `HelloWorld` service in my Angular 1.X app in a file named hello-world.ts:

[code]

I import it using the following:

[code]

In the browser, I see the following error:

[code]

Inspecting the output generated by  browserify, I see the following:

[code]

My index.html contains the following relevant `<script>` blocks:

[code]

And the relevant sections of my gulpfile are:

[2016-11-23 11:12] cartant commented on #214
Presumably, the `module` option in your `tsconfig.json` is set to `system`. I don't use SystemJS, so, unfortunately, I'm not in a position to advise.

[2016-11-23 15:18] jkndrkn commented on #214
@cartant, thanks. `module` is set to `system`. Do you know of a way to serve TypeScript in the browser without using SystemJS?

[2016-11-25 01:21] cartant commented on #214
You can use Browserify and tsify to create an ES5 bundle that can be served to the browser. There are examples in this repo that show the required configuration.

You can also use tsify to output ES6 modules and can use babelify to convert them to ES5. This repo also contains an example for that.

You could also use WebPack to create a bundle. There are numerous options.

It seems to me that part

[2016-11-25 01:21] #214 closed

[2016-12-07 18:00] pustun opened #215 "stopOnError does not work."
`.plugin(tsify, {
					jsx: "react",
					target: "es5",
					stopOnError : true
				})
`
This is how I add it. It show errors in console, but still produces an output.

Btw. I don't see in the sources that you use **stopOnError**  somewhere

[2016-12-07 19:01] #215 closed

[2016-12-08 03:29] ubershmekel opened #216 "Why do we need tsify? Why not browserify the tsc compiled js?"
I apologize if this is a silly question, but I've read the readme multiple times and googled yet could find no answer.

Why use tsify and not browserify the tsc output javascript files? Is it because of the map files?

[2016-12-10 01:35] cartant commented on #216
I don't think it's a silly question. There's no reason that you *have* to use tsify and browserify. If you wanted to, yes, you could use tsc to output `js` files - which could then be bundled by browserify.

The reason I adopted tsify - I'm a maintainer, not the author - was that I had existing projects with well established, browserify-based build configurations. And adding a browserify plugin to

[2016-12-10 01:35] #216 closed

[2016-12-14 22:42] pulasthibandara opened #218 "Requiring Streams from browserify"
I have a gulp task where I use [b.require](https://github.com/substack/node-browserify#brequirefile-opts) to require a stream input to browserify.

[code]

The functions templates() and jsConfig() outputs a stream
[code]

I'm in the process of migrating a js angular project to ts and this used to work fine just with browserify. I get the following error with tsify when trying to require these stre

[2016-12-14 22:47] cartant commented on #218
So long as the streams don't contain TypeScript content, it should be possible to implement a fix for this. I'll have a look at it this evening (i.e. in about 12 or so hours).

[2016-12-14 23:01] pulasthibandara commented on #218
Thanks, that was extremely quick. streams are just two generated angular modules from `gulp-angular-templatecache` and `gulp-ng-config`. No ts code.

[2016-12-16 22:08] cartant commented on #218
This should be fixed by https://github.com/TypeStrong/tsify/commit/8b132141a7678c5514c3214c33264c1c998b9b90

I've published version 2.0.4 to NPM.

[2016-12-16 22:36] pulasthibandara commented on #218
Hi, I just tested it now. However this lead to another error which is further down the process I guess. The files get filtered in the `flush` method. However it seems that the tsifier still tries to parse it as a physical file.

[code]

[2016-12-16 22:40] cartant commented on #218
Can you show me the code that imports/requires the stream-sourced content?

[2016-12-16 22:47] cartant commented on #218
Also, you might want to have a look at the test that I added to see how it differs from what you are doing:

* [`test('with required stream', ...`](https://github.com/TypeStrong/tsify/blob/master/test/test.js#L568-L585)
* [`withRequiredStream/x.ts`](https://github.com/TypeStrong/tsify/blob/master/test/withRequiredStream/x.ts)

[2016-12-17 02:36] pulasthibandara commented on #218
Hi, I wonder if its because gulp plugins return vinyl streams. I added a failing test to check.

[https://github.com/pulasthibandara/tsify/commit/a1a6d17ae9177c7fc9319e25acb9239b0ea35641](url)

[2016-12-17 02:44] pulasthibandara commented on #218
btw, this is how I require the two modules

[code]

[2016-12-17 02:46] cartant commented on #218
The requires look fine. I will check out the vinyl streams thing. Thanks for writing a test!

[2016-12-17 03:42] cartant commented on #218
Something is going wrong upstream (pardon the pun). By the time the Browserify 'row' for the stream shows up, the row's `source` property is set to `"[object Object]"` which is obviously not value source code.

Do you have anything similar working with Browserify without tsify?

[2016-12-17 03:50] cartant commented on #218
Messing with Browserify streams is not something I often do. However, I answered an SO question and the OP was using vinyl. He managed to get things working with vinyl streams, so you might find something useful in there: http://stackoverflow.com/a/39433893/6680611

Unless you can get Browserify to work with the streams you are using, there's not much that can be done at this end.

If you are goin

[2016-12-17 04:09] pulasthibandara commented on #218
Yeah, sorry for the trouble. I don't think its an issue with vinyl streams since I tried it with a text stream and got the same error. I'll check my code first. Might be an issue with how I configured it. Will update when I get it working.

Thanks!

[2016-12-17 04:10] cartant commented on #218
No worries.

[2016-12-17 06:20] pulasthibandara commented on #218
I couldn't find the cause.
I re-created the issue in this simple sample, which doesn't use gulp or vinyl streams.

https://github.com/pulasthibandara/tsify-issue-218

[2016-12-17 07:15] cartant commented on #218
Thanks. The test should really be failing, too. It also attempts to transform `_stream_1.js`, but `flush` isn't being called on the transform stream, so it's not failing.

[2016-12-17 08:34] cartant commented on #218
I've had a look at it. The difference was that you had `allowJs` enabled and the test didn't. So that test wasn't trying to transform the JS stream. I've updated the test and I've tracked the ignored stream files so that they can be ignored in the transform, too.

[2016-12-18 22:22] pulasthibandara commented on #218
Hi Just tested the new code,
The commit bfecaa10e2a03b9ed476958bfb58fc5921bb719a is working!.
I got some errors on 2.0.7 due to `Tsifier.ignoredFiles` being overridden from `getCompiledFile` method.

Thanks for fixing this so quickly. Awesome work @cartant!

[2017-01-09 07:13] #218 closed

[2017-01-24 16:14] ketamin commented on #15
Is this one still on schedule?
Why do I need the bundled .d.ts?
I have one bundle named "core", which is reliable available and no one needs to import things from this bundle. To make this behavior work, I thought, it would be nice to have the core.d.ts generated from all the bundled .ts-files. Currently the only one knowing, what is bundled is browserify, which afterwards streams to tsify.
Does s

[2017-01-27 14:14] duncanawoods commented on #212
This has been driving me insane. Tsify is creating bundles that fail to initialise but given its something to do with the minimised module init code, I can't decipher why.

Its got something to do with windows path casing but the insane thing is that it seems I have to capitalise the first folder in the path irrespective of its actual case. WTF!

Example directory structure:

    folder1
        j

[2017-01-27 15:06] duncanawoods commented on #212
Ok, to add the weirdness, it looks like the last path in the file list has to be the correct case so I am having to use a different case for the same path depending on its position in the list...

[2017-01-28 01:06] cartant commented on #212
@duncanawoods Do you see an error similar to the one I've highlighted in [this comment](https://github.com/TypeStrong/tsify/issues/212#issuecomment-261086041)? Also, if I supply you with some modifications to the `tsify` source - for additional logging - would you be able to re-run your build and provide me with the output? If so, I'll start looking into this. It is a strange one and no doubt frus

[2017-01-28 02:07] cartant commented on #212
@duncanawoods @TomKemperNL I've just found and fixed a bug in the case sensitivity detection (that I introduced). There is a new release - 3.0.1 - which should, hopefully, see this issue closed.

[2017-01-28 05:19] duncanawoods commented on #212
Just tried it and I see the same behaviour.

Nope, no errors.

Yep - happy to.

Was already 10 levels deep in a yak shave - each level with similar frustration. Have lost voice due to expletives. Now considering career change :)

I have attached the working and non-working bundles in case they make more sense to you. The working bundle is created using the _incorrect_ case in the paths.

[bundle -

[2017-01-28 05:26] cartant commented on #212
I know how that feels.

Those bundles appear to be the same and both contain two modules, but the order is different. I suspect this is a Browserify thing that's related to the `--standalone` option. If it were related to this particular `tsify` issue, I'd expect an error. Lemme see what I can find out.

[2017-01-28 05:49] cartant commented on #212
@duncanawoods I've had a look at those bundles and both bundles include modules for the `jasmine.d.ts` and `main.ts` files.

The former is included because it's specified as one of the Browserify entries. And it's empty because Tsify emits an empty module for `.d.ts` files - that's normal.

The problem with the non-working bundle is that the module chosen to be used for the `--standalone` option (

[2017-01-28 05:52] cartant commented on #212
@TomKemperNL @duncanawoods Closing this as the case sensitivity bug should be fixed and the `--standalone` thing is likely a Browserify issue and has a workaround in any case.

[2017-01-28 05:52] #212 closed

[2017-01-28 06:04] duncanawoods commented on #212
@cartant thanks, you have gone above and beyond

I have tried the config file but I get this error from inside tsify:

    λ node node_modules/browserify/bin/cmd "main.ts" --standalone MyBundle -p [ tsify ] -o "bundle.js"
    C:\Users\Duncan\Documents\TsifyTest\node_modules\error-ex\index.js:79
                    Object.defineProperty(this, 'stack', stackDescriptor);
                           ^

[2017-01-28 06:12] cartant commented on #212
@duncanawoods Try it with forward slashes in the path: `"../folder1/jasmine.d.ts"`

[2017-01-28 06:15] duncanawoods commented on #212
@cartant Yup, just fixed that unescaped backslash too :)

[2017-01-28 06:44] duncanawoods commented on #212
@cartant in gratitude, please have this happier avatar and the need to use it
![happy-cartant](https://cloud.githubusercontent.com/assets/2480457/22394856/d12c260e-e523-11e6-81a8-1b6896cef56c.png)

[2017-02-07 20:44] dawsonc623 commented on #160
I won't get into whether or not it's `tsify`'s responsibility to fix this, but I got it to work by detecting `require` statement whose path did not begin with `.` or `/` and prepending the `baseUrl` to them. With regular expressions, it took two lines of code.

[2017-03-04 01:25] ca0v commented on #216
Along those same lines, why not use tsc w/ --outFile and forgo browserify completely?  I'm not clear on what browserify give you beyond bundling.  I guess the answer is you need a system/amd shim when using tsc.

[2017-03-15 08:33] mnewmedia opened #219 "incorectly importing"
Hi, sorry I am maybe wrong here but then you could point me to the right direction?

This is my gulp process
[code]

Somewhere in my code I use the File Plugin from `ionic-native` like this:
[code]

But in the output i guess it uses wrongly the `exports.FileReader()` but instead it should still be just `FileReader()`
[code]

[2017-03-15 08:39] cartant commented on #219
The import:

    import {FileEntry, File} from "ionic-native";

does not seem to mention `FileReader`.

[2017-03-15 08:51] mnewmedia commented on #219
Mhm, I don't think I get what you are trying to tell me.
Yes `FileReader` is used in `File.ts` which gets importet and is a global var and should stay a global var.
But instead of leaving it a global it changes to `exports.FileReader`

[2017-03-15 08:55] mnewmedia commented on #219
Oh wait I just found that in `node_modules` there is `dist/es5` and `dist/esm` in the `dist/es5` it is already like `exports.FileReader` so I must maybe find a way to get `File` from the `esm` folder...

[2017-03-15 11:32] mnewmedia commented on #219
Seems to be an issue of ionic-native created issue there [#1188](https://github.com/driftyco/ionic-native/issues/1188).

Thanks anyway.

[2017-03-15 11:32] #219 closed

[2017-03-31 08:31] frankkoenigstein commented on #60
With the following karma.conf and specs I face some similar error:

[code]

karma-test-shim.ts:
[code]

test/some.spec.ts
[code]

[code]

Without `karma-test-shim.ts` => no import `some.spec.ts` is running. With `karma-test-shim.ts` browserify does not work.

Is that related to the described bug above? How can I fix that?

[2017-03-31 09:22] cartant commented on #60
What makes you think it's related to this particular issue? Yours is the only comment that mentions Karma. Is it the error message?

    ParseError: 'import' and 'export' may appear only with 'sourceType: module'

You'll see that whenever Browserify encounters ES6 content.

Could you please open a separate issue and include complete version information for the packages (Angular, Browserify, Tsify,

[2017-03-31 09:45] frankkoenigstein opened #220 "karma browserify bundle error"
With the following karma.conf and specs I face some bundle error:

[code]

karma-test-shim.ts:
[code]

test/some.spec.ts
[code]

[code]

Without `karma-test-shim.ts` => no import `some.spec.ts` is running. With `karma-test-shim.ts` browserify does not work.

My package versions are:

[code]

How can I get more detailed info from browserify andh ow can I fix that?

[2017-03-31 12:20] cartant commented on #220
Thanks for creating a separate issue. I'll have a look into this over the weekend. I have projects that use Angular 2, Tsify and Karma, so what you are doing is something that ought to be possible.

Regarding more information, Tsify uses the `NODE_DEBUG` environment variable to switch on extra logging. It's detailed [here](https://github.com/TypeStrong/tsify/blob/master/CONTRIBUTING.md#debugging).

[2017-04-02 07:48] cartant commented on #220
Your `karma.conf.js` is very similar to mine. One possible difference is that you have specified  `extensions: [".js", ".ts"]` in your `browserify` configuration options. I would suggest removing that altogether.

Beyond that, I'd need to see the output that's logged when `NODE_DEBUG=tsify` is specified to offer further suggestions.

[2017-04-03 10:38] frankkoenigstein commented on #220
Now i changed `browserify` in `karma.conf` to:
[code]

And created `tsconfig-test.json`:
[code]

Otherwise all `*.ts` files from my whole project are read.
With `export NODE_DEBUG=tsify,browserify,framework.browserify` I got the following output:

[code]

Looks like `tsify` is fine but `browserify` isn't. How can I debug browserify and where can I find cached files:
- `TSIFY 15898: Cache write /__

[2017-04-03 11:32] frankkoenigstein commented on #220
It works fine with `tsconfig-test.json`:
[code]

[2017-04-03 11:40] cartant commented on #220
Yep. It will have been the `"module": "es2015"` that was responsible for the error. Browserify needs `"CommonJS"` modules.

Also, those files are cached in memory; the `/__tsify__/...` paths are imaginary.

[2017-04-03 11:41] #220 closed

[2017-04-10 14:42] frankkoenigstein opened #221 "karma browserify bundle error with babelify"
See also:
[#220](https://github.com/TypeStrong/tsify/issues/220)

Now I like to integrate `babelify` since some node module is not provided in `es5`.
My karma.conf.ts now looks like:

[code]

and the bundle error is:
[code]

How do I correctly setup karma, browserify, tsify and babelify?

[2017-04-11 00:05] cartant commented on #221
At least part of the problem is that, by default, Babel does not process the contents of `node_modules` and, as Browserify doesn't understand ES6 modules, it will explode if it receives one. You need to configure Babelify to transform any ES6 content in `node_modules`. (Note that the package authors should be using the `main` and `module` entries in `package.json` to support different bundlers, bu

[2017-04-11 06:00] frankkoenigstein commented on #221
Thanks. It works with:
[code]

`globale: true` is important. I'll ask ionic-native to support different bundlers.

[2017-04-11 06:00] #221 closed

[2017-04-11 06:09] cartant commented on #221
Good to hear it's solved. The gist of the `main`/`module` thing is explained [here](https://github.com/TypeStrong/tsify/issues/199). At the time of my writing those notes, there was no real standard. Whether there is now is debatable.

[2017-04-21 05:25] #160 closed

[2017-04-26 15:19] sgen opened #223 "tsify does not properly synthesise default exports"
When browserifying typescript with `tsify` JQuery's synthetic default exports are not properly created, resulting in the following error:

[code]

Reproduction repository [here](https://github.com/sgen/tsify-issue-223-repro)

[2017-04-27 05:31] cartant commented on #223
tsify does not generate code. It simply passes file contents to the TypeScript compiler, which generates the code, etc. What is generated will depend upon the `compilerOptions` that you have specified in your `tsconfig.json`. I would suggest using `tsc` to ensure that the `compilerOptions` you have specified generate the code that you are expecting. Then, once you are satisfied that the options ar

[2017-05-01 15:24] sgen commented on #223
My mistake: I wasn't passing the `allowSyntheticDefaultImports` option to tsify directly:
`b.plugin('tsify', { allowSyntheticDefaultImports: true })`)
or my projects `tsconfi.json`:
`b.plugin('tsify', { project: './tsconfig.json' }

[2017-05-01 15:24] #223 closed

[2017-05-24 16:48] azarus commented on #91
So whats the current workaround to make the `paths` compilerOption working?

[2017-06-04 12:03] azarus commented on #91
I've come up with a temporary solution for gulp:

https://gist.github.com/azarus/f369ee2ab0283ba0793b0ccf0e9ec590

Going to add browserify & tsify later today.

[2017-06-04 17:14] azarus commented on #132
So how do you define --project in tsify can't see a working example and --project is a command line argument, how am i supposed to use that in the gulp task?

[2017-06-05 01:09] cartant commented on #132
@azarus tsify accepts compiler options specifed via the plugin options argument:

    browserify({
        entries: "index.ts"
    }).plugin("tsify", {
        project: "tsconfig.json"
    })

Also, if a project is not specified, tsify uses TypeScript's `findConfigFile` to locate one, so it's behaviour should be the same as tsc's if no project file is specified.

[2017-06-05 16:42] azarus commented on #132
That doesn't seemed to work, anyways i went with a workaround requiring the json file.

[2017-06-20 00:32] kjiwa opened #224 "Error importing tsify into TypeScript gulpfile"
Hello. This is a question, not really an issue. Apologies if this is in an inappropriate forum--I'm pretty new to tsify and node.js (but not to JS).

I'm trying to create a gulpfile using TypeScript and I'm having trouble importing tsify. Here are my config files:

package.json:
[code]

gulpfile.ts:
[code]

tsconfig.json:
[code]

When I try to build my project with "noImplicitAny" set to true, I g

[2017-06-20 00:49] cartant commented on #224
As a Browserify plugin, tsify has no API that you actually need to interact with, so providing TypeScript typings doesn't make a lot of sense. All of its interactions are with Browserify and options passed to Browserify.

Note that Browserify's `plugin` method can be passed a string. I would suggest not using an `import` or `require` at all; just pass `plugin` a string literal instead:

[code]

[2017-06-20 00:49] #224 closed

[2017-06-20 06:04] kjiwa commented on #224
Ahh, good to know. The TypeScript web site uses "tsify" as a defined variable in their examples, so I assumed it needed to be listed as such: https://www.typescriptlang.org/docs/handbook/gulp.html.

Thank you for the feedback.

[2017-06-20 06:05] cartant commented on #224
@kjiwa No worries.

[2017-06-23 23:14] sambP opened #225 "External .js libs"
How is it possible to bundle external .js libs into the bundle.js?

normal typescript usage
`<script src="lib.js"></script>`
`declare var lib: any;`

This works, but only if your lib.js does not need any code from your bundle.js.
Is this a bug or is there any way to solve this?

[2017-06-24 23:04] cartant commented on #225
I don't really understand the question. Nor do I understand why an external library would need code from within the bundle.

You seem to be talking about splitting code between multiple bundles. Here are some Stack Overflow questions that might be of some help.

https://stackoverflow.com/questions/41027316
https://stackoverflow.com/q/41286874/6680611
https://stackoverflow.com/q/27922208/6680611

T

[2017-06-24 23:04] #225 closed

[2017-06-27 14:43] nodefish commented on #216
Last time I checked, `outFile` was considered broken. It doesn't order the dependencies properly and can cause errors that are very hard to track. https://basarat.gitbooks.io/typescript/docs/tips/outFile.html

[2017-06-30 07:42] SteffenAnders commented on #91
so `tsify` does currently not support the `paths` option in `tsconfig.json`?

[2017-06-30 08:05] cartant commented on #91
@SteffenAnders Browserify's `paths` option is not something I've spent time investigating. In any case, I don't believe that it's up to tsify to support it. TypeScript and Browserify both perform their own module resolution. It's possible that you might be able to align Browserify's configuration with TypeScript's so that they resolve modules in a similar manner, but this is not something I've loo

[2017-07-03 09:25] SteffenAnders commented on #91
@cartant thanks for your response.

i have fixed this by using `pathmodify` (https://www.npmjs.com/package/pathmodify)

tsconfig.json
[code]

gulpfile.js
[code]

[2017-07-14 13:02] azarus commented on #143
Sigh.....

[2017-07-15 06:59] cartant commented on #143
@azarus This is a pretty old issue and with TypeScript 2.0 and later the [`files`, `include` and `exclude` options](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html) can be used together, so things are not as inflexible as they once were. Additionally, it's now easy to use multiple `tsconfig.json` files without duplication with the `extends` option - so you can use a config file wit

[2017-08-07 23:54] JohnLouderback opened #226 "All files are being type checked versus ones specified"
I have the following code:
[code]

Without `tsify`, this build works perfectly fine. However, with it, I get errors from type checking on files that should not be type checked at all - for instance, our server-side JavaScript code. The server-side JavaScript code lives outside `sitePath + 'src/**.{js,ts}'` so it definitely should not be looked at by Typescript. What steps do I need to take to ensu

[2017-08-08 00:24] cartant commented on #226
Does the project have a `tsconfig.json` file?

[2017-08-08 18:50] JohnLouderback commented on #226
Is there a way to disable to behavior of auto loading `tsconfig.json` then? I want to use this file for the purposes of the IDE, but I don't want the other behaviors. Any work around, if not?

[2017-08-08 20:59] cartant commented on #226
No you cannot disable the loading of the `tsconfig.json`.

However, it's possible to tell tsify which config file it is to use, so create a `tsconfig-tsify.json` file and use `extends` to refer to your `tsconfig.json` file and override whichever settings you want to change:

[code]

tsify's options include `project`, which can be used to tell it which config file you wish to use:

[code]

[2017-08-11 11:17] cartant commented on #226
Closing this, as I'm presuming the issue has been resolved.

[2017-08-11 11:17] #226 closed

[2017-08-17 01:15] JohnLouderback commented on #226
Yes, that fixed it. Thank you for your help!

[2017-08-25 16:34] JohnLouderback opened #227 "tsify is slow"
I'm wondering if I haven't made a glaring mistake, but tsify is taking around a minute and half to build our codebase's JS whereas with just Flow and Babel it would take around 7 seconds. I've also noticed that if I get any Typescript errors, I'll usually get around 6 repeated of the same error for the same line and column. Are there any caveats I should be aware of, or is tsify just slow?

![capt

[2017-08-26 04:57] cartant commented on #227
In certain situations, tsify can be rather slow. This has a lot to do with the limited communication that's possible between Browserify and its plugins and transforms.

tsify works by compiling the TypeScript program, holding the results of the compilation in memory, and returning the compiled content to Browserify via a transform. If transform sees a file that was not part of the compilation, the

[2017-09-05 02:56] HerringtonDarkholme commented on #227
Hi @cartant . I would suggest add a `transpileOnly` flag to tsify. Like https://github.com/TypeStrong/ts-loader#transpileonly-boolean-defaultfalse

[2017-09-05 19:20] JohnLouderback commented on #227
@cartant I'm using Gulp. Our build process is configured to bundle multiple top level JS/TS files. Setting `NODE_DEBUG=tsify` appears to make no discernable difference. I don't see any further output.

[2017-09-05 21:08] cartant commented on #227
Without knowing more about your setup, there's not much that can be said. Why are you globbing and bundling every file that matches the glob? That's looks very strange.

[2017-09-05 21:51] cartant commented on #227
For the record, it's possible to use multiple top-level files, but you would normally add them and bundle once. You are bundling with each added, top-level file.

[2017-09-05 22:00] cartant commented on #227
@HerringtonDarkholme Thanks. I'll bear that in mind. However, I don't have a great deal of time to allocate to this project, at the moment; I'll add it to the backlog.

[2017-09-06 03:53] cartant opened #228 "Add transpileOnly flag"
As suggested [here](https://github.com/TypeStrong/tsify/issues/227#issuecomment-327058836), add a `transpileOnly` flag. See [ts-loader](https://github.com/TypeStrong/ts-loader#transpileonly-boolean-defaultfalse).

[2017-09-08 03:59] falsandtru opened #230 "Tsify 3.0.2 does not work with Windows and Mac"
It makes wrong type error.

https://travis-ci.org/falsandtru/spica/builds/273152062

[2017-09-08 04:15] cartant commented on #230
Please include in the issue anything/everything that was changed between the CI build working and not working. And please include the error, rather than a link to a CI log. Thanks.

[2017-09-08 04:27] falsandtru commented on #230
[code]

[2017-09-08 04:57] cartant commented on #230
Sorry, but `tsify` does not even appear in that stack trace.

[2017-09-08 05:59] falsandtru commented on #230
After reinstalling the prev version 3.0.1, compiling works fine. This error is caused only by tsify. Try it yourself. And add OSX to CI env.

[2017-09-08 06:10] cartant commented on #230
Your `tsconfig.json` contains `"forceConsistentCasingInFileNames": true` - which is supported in 3.0.2, but not in 3.0.1. If the file system in the CI environment is not case-sensitive (my understanding is that an OSX file system is not necessarily case-sensitive) with `forceConsistentCasingInFileNames` enabled TypeScript will treat files with differing case as different files. That would explain

[2017-09-08 06:26] falsandtru commented on #230
My reported error is not `forceConsistentCasingInFileNames `'s. `forceConsistentCasingInFileNames ` works correctly as follows with the prev version.

[code]

So the changes between 3.0.1 and 3.0.2 have broken `forceConsistentCasingInFileNames` option.

[2017-09-08 06:32] cartant commented on #230
Yes. You are right. I'll remove the changes made the in `forceConsistentCasingInFileNames` PR and will release a 3.0.3. Thanks.

[2017-09-08 06:35] falsandtru commented on #230
I'll try to use it. Thanks!

[2017-09-08 06:56] cartant commented on #230
3.0.3 has been published. Thanks.

[2017-09-08 07:22] cartant commented on #230
Closing this, as I'm presuming the reversion will fix the problem. Please re-open if it does not.

[2017-09-08 07:22] #230 closed

[2017-09-12 06:17] mnahkies commented on #230
@falsandtru I'm trying to investigate this issue but am struggling to reproduce. The travis ci build you linked at the top appeared to be a successful build to me, is it the correct link?

[2017-09-12 07:57] mnahkies commented on #230
I think I've worked out the reason for this. It only occurs when building this portion:
[code]

The reason for this is that the files under the ./benchmark directory import files using statements like:
[code]

As opposed to
[code]

Because the package.json file defines a "browser" property, it appears to be trying to load the type definitions from the same path. It will build successfully if I add

[2017-09-12 08:02] falsandtru commented on #230
Run `$ npm i tsify@3.0.2`.

[2017-09-12 08:07] mnahkies commented on #230
@falsandtru yes I have done that. I didn't realize at first that it only affected a subset of your project that wasn't run as part of your ci or test npm scripts. Please see last comment for information on what is causing this error to occur (unfortunately I don't fully understand the why)

[2017-09-12 08:12] falsandtru commented on #230
You should show tests first to explain the actual problem.

[2017-09-12 08:28] mnahkies commented on #230
@falsandtru to be clear, the error I saw was

[code]

Actually occurs with both `tsify@3.0.2` and `tsify@3.0.3` - I'm guessing there are uncommitted changes on your machine that allows it to work there, or I am missing a step.

As it stands this issue, and as far as I could see the originally reported issue are both solved by adding a `"typings": "./index.d.ts"` property to your `package.json`. Th

[2017-09-12 08:43] cartant commented on #230
Just adding my two cents.

The changes made in 3.0.2 are pretty straightforward and are necessary for `"forceConsistentCasingInFileNames": true` to work properly on a case-insensitive file system. (Windows and some OSX file systems are case insensitive.)

The changes make sense and, on my Windows box, without them `"forceConsistentCasingInFileNames": true` cannot be used with RxJS, for example. As

[2017-09-12 08:47] cartant commented on #230
Also, it would be possible to add a case-sensitive-only test. You'd just need to re-expose [this static method](https://github.com/TypeStrong/tsify/blob/v3.0.1/lib/Host.js#L150) in the `Host`  - I removed it when renaming the only static method that was used in the tests. However, I don't think that will help resolve the situation.

[2017-09-14 22:41] JohnLouderback commented on #227
@cartant The glob is because there top-level files are independent bundles. If there's any specific information about our build process you'd like to know, I'd be happy to share with you. Unfortunately, if I can't resolve the 7 second to 1.5 minute build time increase, TypeScript won't be an option for us. Any help would be extremely appreciated. Are minute and a half build times common for tsify?

[2017-09-14 22:48] cartant commented on #227
The baseline to use to determine whether or not tsify is slow is tsc - the TypeScript command line compiler. For a one-off build, tsify is not going to be faster than that. If it is significantly slower, it's possible that there could an issue to address.

[2017-09-14 22:48] #227 closed

[2017-11-27 08:31] dmkit opened #231 "lazy loaded modules with angular 2"
Hi,

Any tips on how to implement it with lazy loading modules with angular 2? Is there a way to compile all modules?

For example I'm getting: Cannot GET /app/profile/profile.module

[2017-11-29 04:44] dmkit commented on #231
I moved to angular-cli instead. Thanks

[2017-11-29 04:44] #231 closed

[2017-11-29 04:50] cartant commented on #231
No worries. Sorry for not getting back to you sooner; it was on my list of things to do today. The Angular CLI would be what I'd recommend, too. It's what I use, these days.

[2017-12-05 06:34] cartant commented on #147
`tsc` doesn't ignore the entire `tsconfig.json`; it just overrides the `files` option.

tsify now (as at 3.0.4) lets you do something similar. You can override the `files`, `excludes`, and `includes` options. And, in particular, if `files` is specified as an empty array, only the Browserify entry points are used.

[2017-12-05 06:34] #147 closed

[2017-12-06 17:55] JakeSidSmith commented on #91
Any progress on this?

I've had to write my own script that transforms my tsconfig paths for use with aliasify.

May be useful to others: https://gist.github.com/JakeSidSmith/6664afbc933e4c07e5c679658be671bf

[2017-12-06 17:57] JakeSidSmith commented on #91
Any progress on this?

I've had to write my own script that transforms my tsconfig paths for use with aliasify.

May be useful to others: https://gist.github.com/JakeSidSmith/6664afbc933e4c07e5c679658be671bf

[2017-12-21 15:30] epicfaace opened #232 "Add jsx flag in options?"
I get an error saying " Cannot use JSX unless the '--
jsx' flag is provided."

However, I am using tsify this way:
[code]

What am I doing wrong? How do I properly add the jsx flag here?

[2017-12-21 20:50] cartant commented on #232
`true` is not a valid value for the `jsx` option. It can be either `"React"` or `"Preserve"` - see the documentation for TypeScript's [compiler options](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

[2017-12-21 20:50] #232 closed

[2017-12-26 15:23] falsandtru opened #233 "Type pollution caused by node modules"
I got the following error. This is caused by `@types/mocha`.

[code]

But I got no error with tsc command (`node_modules/.bin/tsc --noEmit -p tsconfig.json`). So this error seems to be caused by tsify.

repro:

1. Clone https://github.com/falsandtru/pjax-api
1. Run `npm i`
1. Run `npm i @types/mocha@2.2.45`
1. Run `gulp ts:test`

[2017-12-27 07:07] cartant commented on #233
I see the error when running `tsc`:

[code]

[2017-12-27 07:17] falsandtru commented on #233
I can repro, thanks. I'll move to https://github.com/DefinitelyTyped/DefinitelyTyped/issues/22510.

[2017-12-27 07:17] #233 closed

[2017-12-29 05:57] BobFrGit opened #234 "Unicode support"
If I use browserify on my typescript generated JS files I get normal Unicode support

(I'm using VSCode on WIndows)

When I use
[code]

I get
[code]
instead of

[code]

[2017-12-29 08:53] cartant commented on #234
I'm unable to reproduce this. Would you be able to create a GitHub repository to reproduce the error?

[2017-12-29 15:21] BobFrGit commented on #234
First, the solution is to use -o rather than > to generate the bundle.

Why am I using ">" -- the shorter answer is an accidental path to getting what seemed to work.

Turns out it's hard to repro because it depends on the particular shell and environment. It fails in VSCodes shell. There is more confusion because it depends on the file encoding so the file will "print" wrong in the windows shell

[2017-12-29 20:32] cartant commented on #234
With verified UTF8 source files (both `.js` and `.ts`) that contain:

[code]

I am unable to reproduce the problem on Windows using any of the following:

* a Git Bash shell;
* a CMD.EXE shell;
* VS Code's terminal.

The input files and the effected bundles (written as new files) all contain the UTF8 sequences:

[code]

[2017-12-29 21:07] BobFrGit commented on #234
Given that -o works fine I won't worry about it.

[2017-12-29 21:08] #234 closed

[2017-12-30 17:36] BobFrGit commented on #234
Just an FYI -- found https://github.com/browserify/browserify/issues/349 which addressed the same issue and came to the same -o conclusion. It seems powershell related.

[2017-12-30 21:58] cartant commented on #234
Thanks.

[2018-02-15 03:15] neurosnap commented on #91
I spent an entire day tracking this issue down.  Inside the https://github.com/TypeStrong/tsify#does-this-work-with section there's needs to be a blurb about `compilerOptions.paths` stating that it is not supported and there's no plan to support it.

Also, because this isn't support I'm not forced to switch to webpack.  awesome.

[2018-03-03 19:12] xr0master commented on #15
I'm interesting too... tsify makes a library from many files, but any library needs the dts file.

[2018-03-13 22:43] Sheldan opened #235 "Cannot use typescript class from other local typescript module"
I have a common npm module containing TypeScript which is an node module providing some classes and functionality. This module is packaged via `browserify` + `tsify` (a plugin for compiling typescript) and also exports the declaration files and built with `gulp`.

I have another npm module using TypeScript which imports this module locally via `file:../modulename` and tries to use functionality fr

[2018-03-14 07:06] cartant commented on #235
Have you determined whether or not it's possible do build your `including-module` using `tsc`? That is, using the TypeScript command-line compiler?

I always encourage devs to test the behaviour with `tsc` if they encounter problems. If `tsc` cannot do something, tsify won't be able to, either. And if the same error is effected, then it's not a tsify problem.

[2018-03-14 07:49] Sheldan commented on #235
If I compile them via `npx tsc` it works.

[2018-03-14 07:54] cartant commented on #235
Does it work if the common module is built using tsify/Browserify and the including module is built using `tsc`?

And are you making sure the common module is reinstalled into the including module with each rebuild? My understanding - and experience - is that dependencies using `file` only copy the specified directory into `node_modules` upon the first install.

[2018-03-14 08:14] Sheldan commented on #235
Both modules modules are built using `tsify`/`browserify`, I built the common module without `browserify` before, but it didnt work, so I changed it for safe measures.
The including module only works if built via `tsc` and not via the gulp file using `browserify`/`tsify`.
As far I can see the reference to the common module is done via a symlink by npm, which should cause it to be up to date foreve

[2018-03-14 08:23] cartant commented on #235
Hmm, is npm's use of a symlink for `file` dependencies something that's changed in version 5? It always used to be a simple - i.e. next-to-useless - copy operation. I abandoned npm for yarn sometime ago and I've not used 5.

Could you provide some version information for Node and npm. And what platform are you building on?

[2018-03-14 08:30] Sheldan commented on #235
I read that there is a `npm link` comand, but this way is an alternative to that and the solution should work.

npx: `9.7.1`
node: `v9.5.0`
npm: `5.6.0`

Fedora 27 with 4.15.7 Kernel 64 Bit

[2018-03-14 08:37] cartant commented on #235
I'll have a look at it soon. Thanks for preparing the minimal example, by the way. It's certainly appreciated.

[2018-03-14 08:46] Sheldan commented on #235
Thanks, I was trying to track down the issue and figured using only the bare bones would help me/others in that.

[2018-03-15 04:53] cartant commented on #235
I've found the problem and it's not a problem with tsify. If you look in the bundle created for `common-module2`, you'll find this bit of code:

[code]

When Browserify consumes that bundle, it attempts to resolve the `require` calls therein. And that is the problem. If the `require` parameter is renamed, the problem goes away:

[code]

I would suggest that you fix the problem by uglifying the bun

[2018-03-15 11:48] Sheldan commented on #235
Thats a very weird issue. Parts of the solution were based of the typescript documentation, do you think there should be an issue there? Or where does the require come from?

[2018-03-15 12:22] cartant commented on #235
I can't say the the problem surprises me. It has nothing to do with TypeScript.

The problem is with Browserify re-bundling a bundle that it has generated. The search it has for `require` calls is not sufficiently sophisticated to determine that what is a `require` parameter is not a call to Node's `require`. That's all.

I doubt Browserify was written with the expectation that it would be consumi

[2018-03-15 16:59] Sheldan commented on #235
It can still happen if I reference a library which was bundled using browserify, in which case I can only use it via uglifying or renaming the method. Which I somewhat consider a bug on browserify's side, but thats not for me to decide.

As it was not a problem with tsify itself and is working for me now, this issue can be closed. Thanks :)

[2018-03-15 20:04] #235 closed

[2018-04-09 08:50] sophistifunk commented on #230
FWIW, I've been chasing a problem for hours that was fixed by reverting tsify to 3.0.2, and I'm building on Mac (on APFS)

[2018-04-09 09:43] cartant commented on #230
@sophistifunk Sorry to hear that you've had to spend so much time with this. Re-reading the comments, I think I'll take the change that was made in 3.0.2 - and then reverted - and re-apply it, but with a bump to version 4. I'll look again at this, later.

[2018-04-09 09:55] sophistifunk commented on #230
All good, it's what we do :)

I just wanted to pitch in with my anecdata letting you know that for our use case at least the support for `forceConsistentCasingInFileNames` is both good and necessary. At some point tomorrow I'll try building from a non-case-sensitive drive and see if it works, will report back.

[2018-04-10 00:02] sophistifunk commented on #230
Update: builds fine (with 3.0.2) on a HFS+ drive, also.

[2018-04-10 00:03] cartant commented on #230
@sophistifunk Thanks. I'll publish a version 4 with the changes made in 3.0.2. I should have done that in the first place.

[2018-04-10 01:35] cartant commented on #230
@sophistifunk I've published 4.0.0.

[2018-04-10 19:23] Naatan opened #237 "Command line does not work"
No binary is installed.

[2018-04-10 20:00] cartant commented on #237
Tsify does not install a binary. It is a Browserify plugin.

[2018-04-10 20:00] #237 closed

[2018-04-18 13:28] foxmicha opened #238 "Unexpected Characters when Importing CSS"
Hello, I'm having some issues importing CSS files and attempting to bundle them using tsify.

The error I'm getting explicitly is:

That error appears after attempting the following (test) command:
`browserify .\react_class_demo.tsx -p [tsify] > bundle.js`

The files in question are quite simple, the CSS file only contains the following:
[code]
the TSX file then tries to import this file as such:

[2018-04-19 03:44] cartant commented on #238
tsify is just a Browserify plugin that uses the TypeScript compiler API to create in-memory copies of the output `.js` files. The bundling is still up to Browserify. That means you will have to use some sort of Browserify plugin or transform to handle the CSS files. By default, Browserify won't know what they are; it's expecting to find files containing JS.

I would suggest looking at something li

[2018-04-19 12:39] foxmicha commented on #238
I think I'm tracking, and maybe its because of my babelify package that is attempting to reduce the JS down to ES5 compatibility.

I appreciate your suggestion, although it appears to turn the CSS file into a module and export it that way. Unfortunately, that prevents the CSS from being added to the screen and applied.

I'll close out this issue since it does not appear to be a tsify issue. Thanks

[2018-04-19 12:39] #238 closed

[2018-05-07 08:48] sigmasoldi3r opened #239 "ENOENT: no such file or directory when importing"
Disclaimer:
I've been googling around a while I can't find a similar issue, forgive me if it's already discussed.

* * *

Browserify or tsify is resolving tyepscripts imports in a bad way: Concatenates the working directory to the full path of the module, for example, if we have:
[code]
(Assuming that we're on `/home/user/project/src/`) It will attempt to resolve to:
`/home/user/project/src/home/u

[2018-05-09 14:00] sigmasoldi3r commented on #239
I've tracked down what creates the error, if you specify the field `declarationDir` in `tsconfig.json` it will create this error, so removing
[code]
from `tsconfig.json` fixed the problem. It is suposed to happen this way?

[2018-05-09 19:00] cartant commented on #239
It's not an option that I've ever used. When using `tsc`, I've always generated the `.d.ts` files beside the `.js` files. And I've never specified with when using tsify.

However, I doubt that anything like what you've seen should ever happen. It's a bug.

[2018-05-11 11:00] semurgx opened #240 "tsify doesn't work with streams"
[code]

doesn't seem to work :(

[2018-05-11 11:56] cartant commented on #240
The implementation won't work with streams because the TypeScript compiler host [reads the file contents from disk](https://github.com/TypeStrong/tsify/blob/v4.0.0/lib/Host.js#L156-L170). That is, the content received from Browserify is ignored and TypeScript reads the files from disk. The output from the TypeScript compiler host is then held in memory and the transpiled content is returned to Bro

[2018-05-13 12:06] #240 closed

[2018-06-12 23:50] falsandtru opened #241 "Doesn't work with es2018"
With https://github.com/falsandtru/spica, tsify returns unexpected token error as follows.

[code]

Or browserify's problem?

[2018-06-12 23:55] cartant commented on #241
I would imagine it's the latter.

[2018-06-13 00:00] falsandtru commented on #241
I see, I'll open an issue on browserify.

[2018-06-13 00:43] cartant commented on #241
I'd suggest running `tsc` on it and attempting to Browserify its output files.

[2018-06-13 00:50] falsandtru commented on #241
Yep, see https://github.com/browserify/browserify/issues/1843#issuecomment-396773231

[2018-06-17 20:52] falsandtru commented on #241
Fixed on upstream, thanks.

[2018-06-17 20:52] #241 closed

[2018-07-07 00:04] erikmellum opened #242 "ts files not showing up in output"
My ts files aren't showing up in my output bundle. I'm wondering if I am missing .add somewhere perhaps?

[code]

[2018-07-07 00:11] cartant commented on #242
Yes. As with a JavaScript app, Browserify needs to know the entry point file. Browserify basically drives the process, so you need an `add` or need to specify the entry point file in its configuration options.

See https://github.com/TypeStrong/tsify/blob/master/examples/greeter/build.js

[2018-07-07 04:00] #242 closed

[2018-10-07 04:40] jjvillavicencio opened #243 "Error FileReader on Ionic 3"
Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_7__node_modules_ionic_native_file__.FileReader is not a constructor
![error](https://user-images.githubusercontent.com/4654352/46578270-33385100-c9c1-11e8-8df0-e1f71a0fdb48.png)

[2018-10-07 04:46] cartant commented on #243
[How to Write a Bug Report](https://itnext.io/how-to-write-a-bug-report-3333d8e41efb)

[2018-12-04 22:10] richardspence opened #246 "Compile errors when using from Docker."
When building browserify from docker, tsify will complain about "cannot find module abc".  I noticed casing anomalies during output, and after some investigation/debugging determined it's related to normalizing filenames in host.js that is somehow not working as expected when executing from a docker environment.

repro: (on mac, simplified steps)
 1. create a new project
 2. Add a _repro.d.ts_ fil

[2018-12-04 22:16] cartant commented on #246
The plugin attempts to detect whether or not the host OS has a case-sensitive file system. See https://github.com/TypeStrong/tsify/blob/master/lib/Host.js#L17-L24

If for some reason, this is not working within Docker, I think you will have to stick with the work around, as I don't have time to look into this, ATM.

[2019-01-05 08:11] Acidic9 opened #247 "Dont wrap bundle inside anonymous function"
I'm trying to bundle some TypeScript code into one single file, and after coming across tsify, it looked perfect but unfortunately tsify wraps the bundle inside an anonymous function causing exposed functions in the main entry file to be inside it's own scope.

For example:

[code]

Will be transformed into this:

[code]

And in my particular use case, I really need `MyClass` to not be wrapped ins

[2019-01-05 08:36] cartant commented on #247
This is how Browserify works. Tsify is a Browserify plugin and there's nothing that can be done about this.

[2019-01-05 09:01] Acidic9 commented on #247
I thought so, thanks for such a quick reply. I was able to solve it in this case by just assigning `MyClass` to window.

[2019-01-05 09:01] #247 closed

[2019-01-05 09:05] cartant commented on #247
For a more 'official' way of doing it, have a look at https://stackoverflow.com/a/41518610/6680611

[2019-01-05 09:09] Acidic9 commented on #247
Thank you, thats exactly what I needed

[2019-01-10 12:10] Acidic9 opened #248 "Cannot find module with @types import"
I am unable to import a module from a TypeScript @types package.
In my main file I have:
[code]
This compiles correctly when I run `tsc` but not with `node build.js`.

My tsconfig looks like this:
[code]

And my build.js file:
[code]

And my .babelrc
[code]

And the output when running `node build.js`
[code]

I can `import * as React from 'react'` from `@types/react`, but not `import { BdApi } fro

[2019-01-10 12:14] cartant commented on #248
This is not a tsify problem. That package has no available `@types`:

[code]

[2019-01-10 12:14] #248 closed

[2019-01-10 12:15] Acidic9 commented on #248
@cartant Sorry, that's a handwritten typo - It should be `bandagedbd__bdapi`. In my TypeScript file it is correct, just in that code snippet I did a typo.

[2019-01-10 12:17] cartant commented on #248
You should first verify that the import works with a plain vanilla `.ts` file that's compiled using `tsc`.

[2019-01-10 12:22] Acidic9 commented on #248
![Imgur](https://i.imgur.com/936a0dk.png)

yep, unfortunately still doesn't work.

[2019-04-06 08:19] nusantara-cloud opened #249 "Any plan to support --incremental flag?"
Hello,
First off, thanks for this wonderful open source project. I've been regularly using this with browserify :)

Since typescript 3.4 introduced --incremental, is there a plan to support the flag on tsify library? Seems it'd be nice not having to recompile everything when the build script is restarted (i.e. computer restart) :)

[2019-04-06 08:27] cartant commented on #249
`incremental` is a compiler option, so if you specify a project file - i.e. a `tsconfig.json` file - when you run tsify, you can configure the option in the project file's `compilerOptions`. tsify will [use the options specified in said file](https://github.com/TypeStrong/tsify/blob/5753d9f6857227f24ec19c8c6e14548e2884a51b/lib/Tsifier.js#L64-L89).

[2019-05-06 22:03] ericmorand commented on #249
Can you show an example of usage? It doesn't seem to work when setup this way:

[code]

`tsBuildInfoFile ` is not created and the build is not faster than without the incremental flag.

[2019-05-06 22:36] cartant commented on #249
I guess it doesn't work because tsify passes its own compiler host to TypeScript - to abstract the file system - as the compiled files need to be made available to Browserify via streams.

I don't have time to look into this,.ATM, but if it's something you'd be interested in looking into, I can give you some pointers regarding where to start in this codebase.

[2019-05-07 05:37] ericmorand commented on #249
With great pleasure. I've been digging into source code yesterday and will continue today. I'll let you know if I need help with it.

[2019-05-07 05:39] cartant commented on #249
Cool, I'll write up some pointers tonight - in about 6 hours or so.

The main thing will be to switch [debugging](https://github.com/TypeStrong/tsify/blob/master/CONTRIBUTING.md#debugging) on and checkout the logs - to see if TypeScript is using the compiler host's API to write the intermediate data.

[2019-05-07 08:03] cartant commented on #249
@ericmorand I'd forgotten that I'd written an outline of the codebase. You should start with that. It's [here](https://github.com/TypeStrong/tsify/blob/master/CONTRIBUTING.md#internals-and-processing-flow).

Once you've familiarised yourself with that, this is what I'd do:

* Create a simple example that works with the `incremental` flag when using the command line.
* Get the example working with

[2019-05-10 08:42] ericmorand commented on #249
I finally had the chance to perform a simple test.

I have a simple TS project that consists of two files:

* index.ts
[code]

* tsconfig.json
[code]

When I run `tsc`, I successfully obtain a `.foo` file which means incremental is working.
When I run `npx browserify index.ts -p tsify`, I don't get a `.foo` file which means incrmental is not working.
When I run `npx browserify index.ts -p [tsify {

[2019-05-10 08:45] ericmorand commented on #249
I also confirm that `Host.prototype.writeFile` never attemps to write the build info file `.foo`.

[2019-05-17 17:27] ericmorand commented on #249
I think the issue is related to:

https://github.com/microsoft/TypeScript/issues/29978

ts-loader guys seems to be stuck at the same point than tsify:

https://github.com/TypeStrong/ts-loader/issues/913

What di you think?

[2019-05-17 17:51] cartant commented on #249
Yep. Probably worth having a look at - or keeping an eye on - https://github.com/TypeStrong/ts-loader/pull/935 too.

[2019-07-02 16:08] jleider commented on #249
Looks like there has been some progress made regarding an api: https://github.com/microsoft/TypeScript/pull/31432

[2019-07-16 16:30] ondratra opened #255 "Module aliasing not supported"
Hello,
I need to rename all `react` requires and imports to `preact`. But because `aliasify` can't be used with `tsify` as stated [here](https://github.com/TypeStrong/tsify/issues/113#issuecomment-193908514) + browserify doesn't support ES import syntax in it's `b.require('x', {expose: 'y'})` + `tsify` doesn't support Typescript `paths` directive as stated [here](https://github.com/TypeStrong/tsif

[2019-07-16 20:45] cartant commented on #255
I'd suggest using TypeScript's `paths` option and putting another plugin after tsify to modify the paths in the emitted files. IIRC, TypeScript uses the `paths` option when it reads/resolves files, but writes files containing the original, unchanged import locations. This was - and remains - the reason for my not wanting to include path-modifying behaviours in tsify.

The second comment you refere

[2019-07-18 15:29] ondratra commented on #255
I had negative results with couple of other plugins like [`awesome-aliasify`](https://github.com/tommyZZM/awesome-aliasify) but `pathmodify` was a way to go! Thank you.

For anyone having the same problem this is how you get it done:

Minimum build:
[code]
Content of `tsconfig.ts`
[code]

[2019-07-18 15:29] #255 closed

[2019-07-23 23:56] 3cp commented on #34
@smrq I hit this same "issue" while trying to implement [Aurelia 2 conventions](https://github.com/aurelia/aurelia/issues/509) for browserify. We need to inject some code (so user don't need to write boilerplate) to the source code before compiler sees it. I can successfully do it with babelify, but only find out tsify bypassed my transform. I am not sure what I can do to support TS+browserify.

[2019-07-24 01:01] cartant commented on #34
As outlined above, this is not possible:

[2019-07-24 01:10] 3cp commented on #34
Thx @cartant for the information! We will hold TS+browserify support now. BTW TypeScript transform requires direct compiler API call which tsify needs to open that up. I am not asking for the feature, as it also requires significant investment from our side too.

[2019-08-06 08:29] mnovotny opened #256 "Cannot find ambient module declaration in .d.ts"
When trying to transpile and bundle `.ts` file via Gulp/Browserify/Tsify the task fails with "Cannot find module" although standard `tsc` transpilation works.

I created an ambient module declaration based on TypeScript handbook:
[code]
And I'm trying to import it in another file:
[code]
The standard transpilation by TSC works ok: `tsc ./src/consumer.ts`

But when trying to transpile with the use

[2019-08-06 12:22] cartant commented on #256
Thanks for opening such a thorough issue. Unfortunately, I don't have the time, at the moment, to figure out why this isn't working for you, but I do have some suggestions:

* When`tsc` is run with file specified on the command line, it ignores any `tsconfig.json` file, so it might not be doing what you expect it do be doing.
* Browserify needs to be able to resolve the modules and, AFAICT, `./src

[2019-08-06 13:40] mnovotny commented on #256
Thanks for the reply. Here are my findings:

- `tsc` compilation with `tsconfig.json` also works OK.  I've tried putting `consumer.ts` to `files[ ]` and ran `tsc` with the `-p` option. It does produce a slightly different `.js` file but no error is thrown.
- According to https://www.typescriptlang.org/docs/handbook/module-resolution.html#how-typescript-resolves-modules the location `./src/node_mod

[2019-08-07 01:38] cartant commented on #256
How TypeScript resolves modules - and what it considers to be valid - does not matter. What matters is how Browserify does it. And what Browserify considers to be valid.

The algorithm used by [Browserify](https://github.com/browserify/resolve) - and Node - is explained [here](https://nodejs.org/api/modules.html#modules_all_together).

I'm also a Windows developer. I would not recommend putting th

[2019-08-07 07:51] mnovotny commented on #256
The following locations for the ambient declaration were tried and with no success
- ./node_modules/@types/mymodule/index.d.ts
- ./node_modules/@types/mymodule.d.ts

Again, when I tried to keep the file in both of these locations the Gulp task complained about a duplicate identifier.  I believe this means the file was, in fact, found and therefore I believe the error is not in its location. Anothe

[2019-08-07 08:11] cartant commented on #256
The environment variable doesn't go into a configuration file; it's specified on the command line, immediately before the command you want to run - as in the doc to which I referred you.

The duplicate error you are.getting is a TS error. The initial error you mentioned in the issue is - IMO - most likely a Browserify error. Have a looks at what `tsc` generates when it 'works'. Is there a `require

[2019-08-07 08:25] mnovotny commented on #256
Well, thanks for your effort anyway.

[2019-10-06 12:28] hiyelbaz opened #259 "importing css causes problems"
A ts file containing `import "./styles.css"` statement gets transpiled into `require("./styles.css")` when using tsc command. As far as I understand, tsify is trying to transpile css files into js statements and it breaks the browserify pipeline. How can I make css files get handled by other plugins?

[2019-10-06 13:03] cartant commented on #259
tsify works by compiling the content of the files from disk and then feeding the complied code back to Browserify. That means there is no mechanism for manipulating content with other Browserify plugins or transforms before tsify.

This also means that if the source cannot be compiled using tsc - the command-line compiler - it cannot be complied with tsify either. And I doubt there is a mechanism

[2019-10-06 13:47] hiyelbaz commented on #259
I tried `required` and worked well. Thank you for quick response.

[2019-10-06 13:48] #259 closed

[2019-10-15 15:27] SET001 opened #260 "how to select which files to compile?"
following the example on readme I created such a gulp task that should compile my `index.ts`

[code]

however, for some reason. I'm getting errors from other files which are not included in `index.tx`. Seems like tsify is compiling all *.ts files. How can I stop it from doing that? How can I make it to compile only index.ts and all files that are imported from there?

[2019-10-15 20:28] cartant commented on #260
From the [docs](https://github.com/TypeStrong/tsify#options):

So this should work:

[code]

But I don't use Gulp, I've not used tsify for a long time and I've always used tsify in conjunction with a `tsconfig.json` file. Regarding the latter, I would not recommend using it without a `tsconfig.json` file, as there are too many compiler options and the defaults are not sensible - not `strict`, etc.

[2019-10-16 13:21] SET001 commented on #260
yeah, that works fine. Thanx.

[2019-10-16 16:39] #260 closed

[2019-12-30 08:57] tianhe1986 commented on #256
@mnovotny I encountered the same situation as you, and found the answer. Maybe the same method can help you too.

I got the initial answer from [here](https://github.com/browserify/browserify/issues/1397)

For you, I first suppose the final calling of `MyModule.Report` could be rewritten to `window.MyModule.Report`. If it is not right, you may need to modify the config option.

In `package.json` a

[2020-02-08 08:29] Simon1059770342 commented on #120
can you explain what it means about
 "(function(f){if(typeof exports==="object"&&typeof module!=="undefined"){module.exports=f()}else if(typeof define==="function"&&define.amd){define([],f)}else{var g;if(typeof window!=="undefined"){g=window}else if(typeof global!=="undefined"){g=global}else if(typeof self!=="undefined"){g=self}else{g=this}g.jibo = f()}})(function(){var define,module,exports;retur

[2020-02-08 08:31] cartant commented on #120
No.

[2020-04-14 09:17] nemethmik opened #261 "TSify is a brilliant tool, thank you guys"
I came here just to tell you, Friends, that TSify is brilliant. TypeScript, TSify and watchify are the heart of my web app dev tool set. I have created a couple of videos how I use TSify in my projects [Using TypeScript, Visual Studio Code and Tizen Studio in Tizen Web Application Development (Part 1)](https://youtu.be/EjJ5mUXpO5c) and [Splitting up app.ts into Multiple Modules for Tizen Web App (

[2020-04-24 16:20] Berkmann18 commented on #199
TS seems to handle both the same way, although the `main`/`node` build pretty much resembles the `module` build (with some added code and slight tweaks, although that may differ more depending on your TS configuration).

[2020-06-04 02:08] #261 closed

[2020-08-11 20:39] DaveO-Home opened #266 "Compiler Opions Error - updating to 4.0.2 from 4.0.1"
Error: TypeScript error: /home/ng/public/node_modules/tsify/index.d.ts(4,18): Error TS2430: Interface 'Options' incorrectly extends interface 'CompilerOptions'.
  Types of property 'project' are incompatible.
    Type 'string | CompilerOptions' is not assignable to type 'string'.
      Type 'CompilerOptions' is not assignable to type 'string'.

[2020-08-11 20:48] cartant commented on #266
https://github.com/TypeStrong/tsify/pull/264

[2020-08-11 21:56] DaveO-Home commented on #266
@cartant 5.0.0 breaks with
`Error: TypeScript error: /home/ng/public/node_modules/tsify/index.d.ts(2,8): Error TS1259: Module '"/home/ng/public/node_modules/typescript/lib/typescript"' can only be default-imported using the 'esModuleInterop' flag`

Using typescript: **3.9.7**

config:
[code]

[2020-08-11 22:08] cartant commented on #266
Can you verify that this is the only change required?

[code]

I don't have the time to do this myself.

[2020-08-11 22:39] DaveO-Home commented on #266
Got:
[code]
Removed the | ... and it got past typescript, but of coarse the bundle was not usable.

[2020-08-11 23:12] cartant commented on #266
That error was effected by `@types/browserify` being missing. 5.0.1 has been published with the change I mentioned above.

If that's the case, it sounds like you have additional problems. No changes other than those made to the types were made in 4.0.2 or 5.0.0.

[2020-08-11 23:29] DaveO-Home commented on #266
5.0.1 works for typescript, however looks like jquery is not being resolved any more.  Will have to dig deeper..., for now I'm reverting back to 4.0.1.

[2020-08-12 00:21] DaveO-Home commented on #266
Ok, your change does have an impact on existing code; Any import like import * jquery from "jquery" must now be:
`import jquery from "jquery"`

[2020-08-12 00:21] #266 closed

[2020-08-20 23:37] falsandtru opened #267 "Importing nodejs types pollutes global types"
You are importing browserify, and browserify imports nodejs: https://github.com/TypeStrong/tsify/blob/6b7a4f1a94ebd891bd8b4d53d1e82deb0a767edc/index.d.ts#L1

This makes type errors https://github.com/DefinitelyTyped/DefinitelyTyped/issues/22510. Can you remove that import?

[2020-08-21 00:22] #267 closed

[2020-08-21 00:26] cartant commented on #267
Removed in 5.0.2.

[2020-08-21 02:09] falsandtru commented on #267
thx

[2020-10-04 22:15] manuth opened #269 "tsconfig-files with `composite` set to true fail to build"
## General
When building a TypeScript-project with `composite: true` TypeScript tries to find a path to store the `.tsbuildinfo`-file.
This process fails with following error-message while running `browserify`:
[code]

Stacktrace:
[code]

# Workaround
Set  `tsBuildInfoFile` to any value.

[2020-10-05 01:07] cartant commented on #269
Incremental TypeScript compilation is not supported.

[2020-10-05 06:31] manuth commented on #269
My project contains references and therefore requires `composite: true` to be set.
Are typescript projects with references not supported either?

[2020-10-05 06:42] cartant commented on #269
None of the project related features added in Typescript 3.0 are supported. I've not used tsify for years, now, and don't have the time to add features - or even to investigate whether or not supporting specific features is possible.

[2020-10-05 06:44] manuth commented on #269
Got it! Thanks for taking time to answer to my issue though

[2020-10-31 12:51] ericmorand opened #270 "TypeScript types are likely incorrect"
Compiling, then running the following TypeScript module output `undefined`:

[code]

Of course, passing `tsify` to Browserify would throw a `Cannot find module 'undefined'` error.

[2020-10-31 12:52] ericmorand commented on #270
@brianloveswords , you may be interested. I see that you fixed the typings some months ago.

[2020-10-31 13:23] ericmorand commented on #270
I think this types definition is the correct one:

[code]

[2020-10-31 14:22] ericmorand commented on #270
Also, `jsx` is missing in `Options` defintion. As most TypeScript `CompilerOptions` properties.

[2020-11-01 00:40] cartant commented on #270
Yeah, you are right. If you want to open a PR for the change, that would be appreciated.

IMO it's unrealistic to support every project and compiler option via command line and plugin options. Use a `tsconfig.json` file.

[2020-11-11 20:59] davidwarford opened #271 "The "path" argument must be of type string. Received undefined"
Hey i just decided I would move from using tsc and browserify separately to using tsify. it worked just fine but after installing and using tsify it gives a strange error which is not even in my own code.
[code]

[2020-11-12 00:37] cartant commented on #271
I don't have time to help you debug this and, regardless of that, you've not provided a reproduction of the problem. Generally, bug reports like this are unactionable.

tsify's [debug logging](https://github.com/TypeStrong/tsify/blob/master/CONTRIBUTING.md#debugging) might be of some help to you. And there a bunch of working examples in the `examples` directory. You can compare those with your sit

[2021-01-09 17:00] alireza-bonab commented on #91
any update here!!!

[2021-01-26 09:22] dbwodlf3 commented on #132
also i am trying to apply this option. but it seems doesn't work..

[2021-01-26 10:51] dbwodlf3 commented on #132
yeah. it options doesn't work.

[2021-01-26 12:44] dbwodlf3 commented on #132
it works. but if you use complex build system.. then it can't works. but it's not problem of tsify..
almost you can resolve this problem with NODE_ENV flag.
just add extra path.. then maybe it will works.

[2021-02-03 12:31] Pryanishnik opened #272 "Tsify generates own import types (type_1 instead of type) and uses these types in ts transformed code"
I try to compile few ts classes to single js file and use it as js lib in browser.
Right now I faced the problem that if I have
[code]
tsify converts it to
`var ClassB_1= require("./ClassB");`
and also exports ClassB but doesn't use it in code like
[code]

Where did I make mistake?

[2021-02-03 13:48] #272 closed

[2021-02-16 23:43] falsandtru opened #273 "Can't install in npm 7"
npm 7 has a breaking change. Can you fix?

[code]

https://github.com/npm/cli/issues/2695

[2021-05-09 15:26] thammi opened #277 "Using filesystems with mixed case sensitivity breaks build"
When mounting a case insensitive filesystem inside a filesystem that is case sensitive the build can fail. When the mount point (which is on the case sensitive filesystem) contains an uppercase letter the build will fail.

We are using a Debian Parallels VM on a Mac Mini. Parallels automatically mounts the native home of the user at `/media/psf/Home`. When building inside this mount point the file

[2021-05-09 21:39] #277 closed

[2021-09-25 00:46] falsandtru opened #280 "Can't parse ES2020 or higher"
On https://github.com/falsandtru/spica, tsify throws the following strange errors with ES2021 or higher (However, I've seen the same error on another repo with ES2020).

[code]

@cartant Could you fix this?

[2021-09-25 01:00] falsandtru commented on #280
Not seems a bug of tsify.

[2021-09-25 01:00] #280 closed

[2022-03-14 13:02] markb-trustifi commented on #86
I solved it by doing in `tsconfig.json`:
[code]
and gulpfile without babelify:
[code]

[2022-05-07 23:17] CheyenneForbes commented on #269
@cartant are you open to passing on the project to a new maintainer?

[2022-05-08 11:25] cartant commented on #269
@CheyenneForbes

It wouldn't be up to me and I doubt it would just be "passed on" - some level of trust would need to first be established.

If you're interested in maintaining the project, my suggestion would be to talk with some of the people in the [TypeStrong](https://github.com/orgs/TypeStrong/people) organization: maybe [Blake Embrey](https://github.com/blakeembrey) or [Basarat Ali Syed](htt

[2022-08-05 01:26] sotrh opened #287 "Failing to parse expression with null coalescing"
I have a typescript file that I'm trying to add to an existing project that uses browserify, and I've run into a snag where tsify won't parse the following statement.

[code]

It things the `?` is the start of a ternary expression. How do I get tsify to parse null coalescing expressions? Here is my build script:

[code]

[2022-08-08 16:43] sotrh commented on #287
Turns out the project was using an older version of typescript. Upgrading fixed the issue.

[2022-08-08 16:43] #287 closed, assigned to nobody

[2022-09-08 17:08] DPC15038 commented on #91
@SteffenAnders thank you, I was able to use your code as a plugin to get this to work.